<%- include('hastaIzlemHeader'); -%>



<div class="table-bordered table-responsive table-sm" style="margin-top: 1%;"> 
    <table class="table" style="margin-bottom: 0;">
        <thead>
            <tr>
                        <th style="vertical-align: middle;">Aşılar/Zaman</th>
                        <th style="vertical-align: middle;">Doğumda</th>
                        <th style="vertical-align: middle;">1.Ay Sonu</th>
                        <th style="vertical-align: middle;">2.Ay Sonu</th>
                        <th style="vertical-align: middle;">4.Ay Sonu</th>
                        <th style="vertical-align: middle;">6.Ay Sonu</th>
                        <th style="vertical-align: middle;">12.Ay Sonu</th>
                        <th style="vertical-align: middle;">18.Ay Sonu</th>
                        <th style="vertical-align: middle;">24.Ay Sonu</th>
                        <th style="vertical-align: middle;">İlkokul 1.sınıf</th>
                        <th style="vertical-align: middle;">Ortaokul 4.sınıf</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td class="textclass">HEPATİT B </td>               
                    <td id="hepB1" class="hep-b" style="background-color: <%= hepB1.renk %>;">|</td>
                  

                <td id="hepB2" class="hep-b" style="background-color: <%= hepB2.renk %>;">||</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="hepB3" class="hep-b" style="background-color: <%= hepB3.renk %>;">|||</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="textclass" >BCG</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="bcg1" class="bcg" style="background-color: <%= bcg1.renk %>;">|</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="textclass" style="width: 120px;">DaBT-İPA-Hib</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="daptIpaHib1" class="dabt" style="background-color: <%= daptIpaHib1.renk %>;">|</td>
                <td id="daptIpaHib2" class="dabt" style="background-color: <%= daptIpaHib2.renk %>;">||</td>
                <td id="daptIpaHib3" class="dabt" style="background-color: <%= daptIpaHib3.renk %>;">|||</td>
                <td>&nbsp;</td>
                <td id="daptIpaHibR" class="dabt" style="background-color: <%= daptIpaHibR.renk %>;">R</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td  class=" textclass">KPA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="kpa1" class="kpa" style="background-color: <%= kpa1.renk %>;">|</td>
                <td id="kpa2" class="kpa" style="background-color: <%= kpa2.renk %>;">||</td>
                <td>&nbsp;</td>
                <td class="kpa">R</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=" textclass">KKK</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="kkk1" class="kkk" style="background-color: <%= kkk1.renk %>;">|</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="kkk2" class="kkk" style="background-color: <%= kkk2.renk %>;">||</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=" textclass">DaBT-İPA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="daptIpaR" class="dabtipa"  style="background-color: <%= daptIpaR.renk %>;">R</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=" textclass">OPA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="opa1" class="opa" style="background-color: <%= opa1.renk %>;" >|</td>
                <td>&nbsp;</td>
                <td id="opa2" class="opa" style="background-color: <%= opa2.renk %>;">||</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=" textclass">Td</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td d="tdR" class="td"style="background-color: <%= tdR.renk %>;">R</td>
            </tr>
            <tr>
                <td class=" textclass">HEPATİT A</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="hepa1" style="background-color: <%= hepA1.renk %>;" class="hepa">|</td>
                <td id="hepa2" class="hepa" style="background-color: <%= hepA2.renk %>;">||</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=" textclass">SUÇİÇEĞİ</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td id="su1" style="background-color: <%= su1.renk %>;" class="sucicegi">|</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 1%;display: block;text-align: center;">
    <div class="btn-group mr-2" role="group" aria-label="First group" style="">
      <button id="asiEkleBtn" type="button" class="btn btn-secondary" style="background-color: #325179;width: 154px;">Aşı Ekle</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group" style="">
      <button id="asiErteleBtn" type="button" class="btn btn-secondary" style="background-color: #325179;width: 154px;">Aşı Erteleme/İptal</button>
     
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group" style="">
      <button id="etkiBtn" type="button" class="btn btn-secondary" style="background-color: #325179;width: 154px;">Aşı Yan Etki Ekle</button>
    </div>
    
  </div>


<!-- Modal -->
<div class="modal" id="YeniAsiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 
   <!-- Modal content-->
       <div class="modal-content" style="background-color:#f1f3f3;">
            <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                <div style="color: white;    font-size: x-large;">Aşı Ekle</div> 
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                   <div class="container" style="margin-top: 1%;">
                    <form id="hastayaAsiEkleForm" method="post" action="/hasta/asiKaydet"> 
                      <div class="row" style="">    
                          <div class="input-group  input-group-sm col-md-6" style="">
                             <div class="input-group-prepend">
                                  <span class="input-group-text " id="inputGroup-sizing-default">Aşı Adı</span>
                             </div>
                              <select id="eAsiAdi" name="asiAdi"class="browser-default custom-select" required>
                                 <% asilar.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                  <%}); %>
                              </select>
                          </div>
                          <div class="input-group  input-group-sm col-md-6" style="">
                             <div class="input-group-prepend">
                                  <span class="input-group-text " id="inputGroup-sizing-default">Aşı Kaynak</span>
                             </div>
                              <select name="asiKaynak"class="browser-default custom-select" required>
                                 <% asikaynak.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                  <%}); %>
                              </select>
                          </div>
                     </div>
                     <div class="row" style="margin-top: 1%;">
                        <div class="input-group  input-group-sm  col-md-6">
                           <div class="input-group-prepend">
                                <span class="input-group-text " id="inputGroup-sizing-default">Lot/Pari No</span>
                           </div>
                          <input class="form-control" name="lotNo" type="text" aria-label="Default" aria-describedby="">
                        </div>    
                        <div class="col-md-6">
                          <div class="input-group input-group-sm"style="">
                              <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Aşı Uygulama Yeri</span>
                              </div>
                              <select name="uygulamaYeri"class="browser-default custom-select" required>
                                    <% asiuygulamayeri.forEach(function(element) { %>
                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                 <%}); %>
                              </select>
                          </div>
                      </div>             
                     </div>

                     
                     <div class="row" style="margin-top:1%;">
                      <div class="col-md-6">
                          <div class="input-group input-group-sm"style="">
                              <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Uygulama Şekli</span>
                              </div>
                              <select name="uygulamaSekli"class="browser-default custom-select" required>
                                    <% asiuygulamasekli.forEach(function(element) { %>
                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                 <%}); %>
                              </select>
                          </div>
                      </div>
                     <div class="col-md-6">
                           <div class="input-group input-group-sm">
                              <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">İşlem Türü</span>
                              </div>
                              <select id="islemTuru" name="islemTuru"class="browser-default custom-select" required>
                                    <% AsiIslemTuru.forEach(function(element) { %>
                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                 <%}); %>
                              </select>
                          </div>
                      </div>
                     </div>  
                     <div id="beyanZamanliRow" class="row" style="margin-top: 1%;display: none;">
                          <div class="container" style="border-style: groove;">
                                  <div class="row" style="margin-top: 1%;">
                                    <div class="input-group input-group-sm col-md-6">
                                    <div class="input-group-prepend">
                                          <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapan TC</span>
                                    </div>
                                    <input class="form-control" name="islemYapan" type="number" aria-label="Default" aria-describedby="">
                                    </div>   
                                      <div class="input-group input-group-sm col-md-6">
                                        <div class="input-group-prepend">
                                              <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Telefon</span>
                                        </div>
                                        <input class="form-control" name="BATel" type="number" aria-label="Default" aria-describedby="">
                                    </div>   
                                   
                                </div>
                                 <div class="row" style="margin-top: 1%;">                                  
                                    <div class="input-group input-group-sm col-md-12">
                                        <div class="input-group-prepend">
                                              <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Ad Soyad</span>
                                        </div>
                                        <input class="form-control" name="BAadSoyad" type="text" aria-label="Default" aria-describedby="">
                                    </div>        
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                    <div class="input-group input-group-sm col-md-6">
                                                <div class="input-group-prepend">
                                                          <span class="input-group-text " id="inputGroup-sizing-default">İl</span>
                                                </div>
                                                <select id="iller"  name="iller" class="browser-default custom-select">
                                                      <% iller.forEach(function(element) { %>
                                                      <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                      <%}); %>
                                                </select>
                                  </div>
                                  <div class="input-group input-group-sm col-md-6">
                                            <div class="input-group-prepend">
                                                  <span class="input-group-text " id="inputGroup-sizing-default">İlçe</span>
                                            </div>
                                            <select name="ilceler" id="ilceler" class="browser-default custom-select">
                                                <% ilceler.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                <%}); %>
                                            </select>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: 1%;margin-bottom: 1%;">
                                      <div class="input-group input-group-sm col-md-12">
                                                          <div class="input-group-prepend">
                                                                <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapılan Yer</span>
                                                          </div>
                                                          <select id="islemYer" name="islemYer" class="browser-default custom-select">
                                                            <% islem.islemYer.forEach(function(element) { %>
                                                            <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                            <%}); %>
                                                          </select>
                                      </div>
                                </div>  
                          </div>  
                    </div>                   
                     <div class="row" style="margin-top: 1%;">
                      <div class="input-group input-group-sm col-md-12">
                         <div class="input-group-prepend">
                              <span class="input-group-text " id="inputGroup-sizing-default">Açıklama</span>
                         </div>
                        <input class="form-control" name="yeniAsiAciklama" type="text" aria-label="Default" aria-describedby="">
                      </div>                 
                     </div>
                     <div class="row" style="margin-top: 1%;">
                        <div class="input-group input-group-sm col-md-6">
                         <div class="input-group-prepend">
                              <span class="input-group-text " id="inputGroup-sizing-default">Karekod</span>
                         </div>
                        <input class="form-control" name="karekod" type="text" aria-label="Default" aria-describedby="">
                      </div>   
                      <div class="col-md-6">
                            <div class="input-group input-group-sm"style="">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Doz Miktarı</span>
                                </div>
                                <select id="asiDoz" name="asiDoz"class="browser-default custom-select" required>
                                      <% asidoz.forEach(function(element) { %>
                                      <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                  <%}); %>
                                </select>
                            </div>
                        </div>            
                     </div>
                     <div id="ozelDurumNedeni" class="row" style="margin-top: 1%;display: none;">
                        <div class="col-md-12">
                              <div class="input-group input-group-sm"style="margin-top:1%;">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text " id="inputGroup-sizing-default">Aşı Özel Durum Nedeni</span>
                                  </div>
                                  <select  name="ASI_OZEL_DURUM_NEDENI"class="browser-default custom-select" required>
                                        <% ASI_OZEL_DURUM_NEDENI.forEach(function(element) { %>
                                        <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                    <%}); %>
                                  </select>
                              </div>
                          </div>            
                     </div>
                     
                     <div class="row" style="margin-top:1%;">
                      <div class="col-md-6">
                          
                      </div>
                      <div class="col-md-6">
                         <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" name="stokDusur" id="stokDusur" value="1">
                            <label class="custom-control-label" for="stokDusur">Stoktan Düşür</label>
                         </div>
                      </div>
                     </div>   
                     <div class="row" style="margin-top:1%;">
                          <div class="col-md-6">
                              <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Seri No</span>
                                </div>
                                <input class="form-control" name="seriNo" type="text" aria-label="Default" aria-describedby="">
                              </div> 
                          </div>
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" name="bolgedisi" id="bolgedisi" value="1">
                                <label class="custom-control-label" for="bolgedisi">Bölge Dışında Yapıldı</label>
                            </div>
                          </div>
                     </div>   
                     <div class="row" style="margin-top:1%;">
                            <div class="col-md-6">
                              <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text " id="inputGroup-sizing-default">Aşı Yapılma Zamanı</span>
                                  </div>
                                  <input  class="dateCss form-control" name="asiTar" type="date" aria-label="Default" aria-describedby="">
                              </div> 
                            </div>
                          <div class="col-md-6">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" name="ozhekimAsisi" id="ozhekimAsisi" value="1">
                                    <label class="custom-control-label" for="ozhekimAsisi">Özel Hekim Aşısı</label>
                                </div>
                          </div>
                     </div> 
                     
                
                         <div class="row" style="margin-top:2%;">                                                     
                              <div class="col-md-12">
                                          <button  id='asiKaydetBtn' type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Kaydet</button>
                              </div>                                      
                        </div>                   
                      </form>
                         
                   </div>
            </div>
       </div>
   </div>
</div>


<!-- Modal -->
<div class="modal" id="AsiErtelemeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 
   <!-- Modal content-->
       <div class="modal-content" style="background-color:#f1f3f3;">
            <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                <div style="color: white;    font-size: x-large;">Aşı Erteleme/İptal</div> 
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                   <div class="container" style="margin-top: 1%;">
                    <form id="hastayaAsiErteleForm" method="post" action="/hasta/asiKaydet"> 
                      <div class="row" style="">    
                          <div class="input-group input-group-sm col-md-12">
                             <div class="input-group-prepend">
                                  <span class="input-group-text " id="inputGroup-sizing-default">Aşı Adı</span>
                             </div>
                              <select  name="asiAdi"class="browser-default custom-select" required>
                                 <% asilar.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                  <%}); %>
                              </select>
                          </div>
                     </div>                  
                     
                     <div class="row" style="margin-top:1%;">
                      <div class="col-md-6">
                          <div class="input-group input-group-sm"style="margin-top:1%;">
                              <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Doz Miktarı</span>
                              </div>
                              <select id="ertAsiDoz" name="ertAsiDoz"class="browser-default custom-select" required>
                                    <% asidoz.forEach(function(element) { %>
                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                 <%}); %>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                            <div class="input-group input-group-sm"style="margin-top:1%;">
                              <div class="input-group-prepend">
                                  <span class="input-group-text " id="inputGroup-sizing-default">Aşı Yapılmama Durumu</span>
                              </div>
                              <select id="ASI_YAPILMAMA_DURUMU" name="ASI_YAPILMAMA_DURUMU" class="browser-default custom-select" required>
                                    <% ASI_YAPILMAMA_DURUMU.forEach(function(element) { %>
                                    <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                <%}); %>
                              </select>
                            </div>
                       </div>
                    </div>
                    <div class="row" style="margin-top:1%;">
                      <div class="col-md-6">
                          
                          <div class="input-group input-group-sm"style="margin-top:1%;">
                            <div class="input-group-prepend">
                                 <span class="input-group-text " id="inputGroup-sizing-default">Aşı Yapılmama Nedeni</span>
                            </div>
                            <select id="ASI_YAPILMAMA_NEDENI" name="ASI_YAPILMAMA_NEDENI"class="browser-default custom-select" required>
                                  <% ASI_YAPILMAMA_NEDENI.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>" disabled> <%= element.ADI  %></option>
                               <%}); %>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="row icdRow"  style="margin-top:1%;display: none;">
                      <div class="col-md-12" style="">
                               <div class=" has-search" style="width: 100%;" >
                                                          <span class="fa fa-search form-control-feedback"></span>
                                                          <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:1rem;box-shadow: 6px 7px 6px grey;">
                               </div>     
                      </div>  
                    </div>
                    <div class="row icdRow" style="height: 35%;margin-top: 1%; display: none;">
                      <div class="col-md-12" style="">
                                                  
                                          <div class="container" id=""style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 20px;border-top-right-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                  <div class="row headerDiv">
                                                          <div class="col-md-2" style="background-color: white;text-align: center;padding: 2px;border-bottom: solid;">
                                                        </div> 
                                                        <div class="col-md-4" style="background-color: white;text-align: center;padding: 2px;border-right: solid;border-bottom: solid;">
                                                          ICD Kodu
                                                        </div>  
                                                         <div class="col-md-6" style="background-color: white;border-top-right-radius: 15px;padding: 2px;text-align: center;border-bottom: solid;">
                                                          İsim
                                                        </div>
                                                  </div>
                                         </div>
                                         <div class="container" id="taniTable"style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 120px;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                                
                                                      <% ICD10.forEach(function(ICD) { %>
                                                 
                                                   <div class="row taniRow">
                                                          <div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid;">
                                                                 <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= ICD.KODU+"?"+ICD.ADI %>"></div>
                                                        </div> 
                                                        <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 2px;border-right: solid;border-bottom: solid;"> <%= ICD.KODU %></div>  
                                                         <div class="col-md-6 isim" style="background-color: white;padding: 2px;text-align: center;border-bottom: solid;"><%= ICD.ADI  %></div>
                                                  </div>
                                                      <%}); %>
                                         </div>
                                              
                      </div>  
                    </div> 
                    <div class="row asiZamanRow" style="margin-top:1%;display: none;">
                      <div class="col-md-8">
                         <div class="input-group input-group-sm">
                           <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Aşı Yapılma Zamanı</span>
                           </div>
                           <input  class="dateCss form-control" name="ASI_YAPILMA_ZAMANI" type="date" aria-label="Default" aria-describedby="">
                         </div> 
                      </div>                   
                     </div>   
                     <div class="row asiErtSuresi" style="margin-top:1%;">
                      <div class="col-md-6">
                         <div class="input-group input-group-sm">
                           <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Aşı Erteleme Süresi</span>
                           </div>
                           <input  class="form-control" name="ASI_ERTELEME_SURESI" type="number" min="1" max="29" >
                         </div> 
                      </div>                   
                     </div>   
                    <div class="row" style="margin-top: 1%;">
                      <div class="input-group input-group-sm col-md-12">
                         <div class="input-group-prepend">
                              <span class="input-group-text " id="inputGroup-sizing-default">Açıklama</span>
                         </div>
                        <input class="form-control" name="AsiErtAciklama" type="text" aria-label="Default" aria-describedby="">
                      </div>                 
                     </div>
                    

                         <div class="row" style="margin-top:2%;">                                                     
                          <div class="col-md-12">
                                      <button  id='asiErtKaydetBtn' type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Kaydet</button>
                          </div>                                      
                        </div>                   
                      </form>
                         
                   </div>
            </div>
       </div>
   </div>
</div>


<!-- Modal -->
<div class="modal" id="etkiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 
   <!-- Modal content-->
       <div class="modal-content" style="background-color:#f1f3f3;">
            <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                <div style="color: white;    font-size: x-large;">Aşı Sonrası İstenmeten Etki</div> 
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                   <div class="container" style="margin-top: 1%;">
                    <form id="etkiForm" method="post" action="/hasta/asiEtkiKaydet"> 
                      <div class="row" style="">    
                          <div class="input-group input-group-sm col-md-12">
                             <div class="input-group-prepend">
                                  <span class="input-group-text " id="inputGroup-sizing-default">Aşı Adı</span>
                             </div>
                              <select name="asiAdi"class="browser-default custom-select" required>
                                 <% asilar.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                  <%}); %>
                              </select>
                          </div>
                     </div>                  
                     
                     <div class="row" style="margin-top:1%;">
                      <div class="col-md-6">
                          <div class="input-group input-group-sm"style="">
                              <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Doz Miktarı</span>
                              </div>
                              <select name="etkiAsiDoz"class="browser-default custom-select" required>
                                    <% asidoz.forEach(function(element) { %>
                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                 <%}); %>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                            <div class="input-group input-group-sm"style="">
                              <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Aşı Uygulama Yeri</span>
                              </div>
                              <select name="uygulamaYeri"class="browser-default custom-select" required>
                                    <% asiuygulamayeri.forEach(function(element) { %>
                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                 <%}); %>
                              </select>
                          </div>
                       </div>
                    </div>
                    <div class="row" style="margin-top:1%;">
                      <div class="col-md-12">
                          
                          <div class="input-group input-group-sm"style="margin-top:1%;">
                            <div class="input-group-prepend">
                                 <span class="input-group-text " id="inputGroup-sizing-default">Bildirimi Zorunlu Yan Etki Nedeni</span>
                            </div>
                            <select  name="BILDIRIMI_ZORUNLU_ASI_SONRASI_ISTENMEYEN_ETKI_NEDENI"class="browser-default custom-select" required>
                                  <% BILDIRIMI_ZORUNLU_ASI_SONRASI_ISTENMEYEN_ETKI_NEDENI.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>" > <%= element.ADI  %></option>
                               <%}); %>
                            </select>
                        </div>
                      </div>
                    </div>
                   
                    <div class="row " style="margin-top:1%;">
                      <div class="col-md-12">
                         <div class="input-group input-group-sm">
                           <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Aşı Etki Ortaya Çıkış Tarihi</span>
                           </div>
                           <input  class="dateCss form-control" name="etkiTar" type="date" aria-label="Default" aria-describedby="">
                         </div> 
                      </div>                   
                     </div>   
                  

                         <div class="row" style="margin-top:2%;">                                                     
                          <div class="col-md-12">
                                      <button  id='etkiKaydetBtn' type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Kaydet</button>
                          </div>                                      
                        </div>                   
                      </form>
                         
                   </div>
            </div>
       </div>
   </div>
</div>
       
  <script>
$( "#etkiKaydetBtn" ).click(function() {
            $.ajax({
                type: "post",
                url: '/hasta/asiEtkiKaydet',
                data:$('#etkiForm').serialize(),
                success: function(data)
                {
                  console.log(data)
                  color=''
                
                   alert('Aşı Etki Eklendi.')  
                   $( "#etkiModal" ).modal('hide')
                }
            });
    });




 $(document).ready( function() {
  $("#islemTuru").change(function(){
    var islemTuru = $(this).children("option:selected").val();
    if(islemTuru==1){
        $('#beyanZamanliRow').hide()
    }
    if(islemTuru==2){
      $('#beyanZamanliRow').show()
    }
  });
  $("#asiDoz").change(function(){
    var asiDoz = $(this).children("option:selected").val();
    $('#ozelDurumNedeni').hide()
    if(asiDoz==9){
        $('#ozelDurumNedeni').show()
    }
    if(asiDoz==7){// aşı doz 7 sadece 2 aşı için gönderiliyor
       $("#eAsiAdi").children("option").attr('disabled','disabled')
       $("#eAsiAdi option[value=" + 3 + "]").removeAttr('disabled');
       $("#eAsiAdi option[value=" + 5 + "]").removeAttr('disabled');
       $("#eAsiAdi").val(3)
    }
    else  $("#eAsiAdi").children("option").removeAttr('disabled')
   
  });
  

    $("#ASI_YAPILMAMA_NEDENI").children("option").attr('disabled','disabled')//default olarak ertelenme seçili
    YapılamamaNedeni=[1,3,4,5,7,8,9,11]
    YapılamamaNedeni.forEach(e => {
             $("#ASI_YAPILMAMA_NEDENI option[value=" + e + "]").removeAttr('disabled');
    });
    $("#ASI_YAPILMAMA_DURUMU").change(function(){//aşı ertelendiyse aşı yapılmama nedenlerini değiştir
      
        var ASI_YAPILMAMA_DURUMU = $(this).children("option:selected").val();
            $("#ASI_YAPILMAMA_NEDENI").children("option").attr('disabled','disabled')
        if(ASI_YAPILMAMA_DURUMU==1){//aşı ertelemeyse YapılamamaNedeni=1,3,4,5,7,8,9,11 gönderilebilir.
          $('.asiErtSuresi').show()
          YapılamamaNedeni=[1,3,4,5,7,8,9,11]
          YapılamamaNedeni.forEach(e => {
             $("#ASI_YAPILMAMA_NEDENI option[value=" + e + "]").removeAttr('disabled');
          });
        }
        else if(ASI_YAPILMAMA_DURUMU==2){// Aşı YapılamamaDurumu=İptal ise YapılamamaNedeni=10,11,12,13 gönderilebilir.
          $('.asiErtSuresi').hide()
          YapılamamaNedeni=[10,11,12,13]
          YapılamamaNedeni.forEach(e => {
             $("#ASI_YAPILMAMA_NEDENI option[value=" + e + "]").removeAttr('disabled');
          });
        }
        else if(ASI_YAPILMAMA_DURUMU==4){// aşı yapılmadı seçilirse tüm nedenleri seçebilir
          YapılamamaNedeni=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
          YapılamamaNedeni.forEach(e => {
             $("#ASI_YAPILMAMA_NEDENI option[value=" + e + "]").removeAttr('disabled');
          });
        }
    });

  });
  $(document).on('change', '#ASI_YAPILMAMA_NEDENI', function() {//aşı ertelendiyse aşı yapılmama nedenlerini değiştir    
         var ASI_YAPILMAMA_NEDENI = $(this).children("option:selected").val();       
         
        if(ASI_YAPILMAMA_NEDENI==11&& $('#ertAsiDoz').children("option:selected").val()==9){//aŞI yapılmama nedeni 11 ise ve aşı doz 9 ise altta yatan hastalık seçmeli
          $('.icdRow').show()
        }
        else{// aşı yapılmadı seçilirse tüm nedenleri seçebilir
          $('.icdRow').hide()
          $('.asiZamanRow').hide()
          if(ASI_YAPILMAMA_NEDENI==12 || ASI_YAPILMAMA_NEDENI==13) $('.asiZamanRow').show()//aşı nedeni 12 ayda 13 seçilirse zaman seçmeli
        }
  });
  $(document).on('change', '#ertAsiDoz', function() {//aşı ertelendiyse aşı yapılmama nedenlerini değiştir    
         var ertAsiDoz = $(this).children("option:selected").val();               
        if(ertAsiDoz==9&& $('#ASI_YAPILMAMA_NEDENI').children("option:selected").val()==11){//aŞI yapılmama nedeni 11 ise ve aşı doz 9 ise altta yatan hastalık seçmeli
          $('.icdRow').show()
        }
        else{// aşı yapılmadı seçilirse tüm nedenleri seçebilir
          $('.icdRow').hide()
        }
  });
  //ALTTA YATAN HASTALIK SEÇME
  secilenTanı={};
  $(document).on('click', ".taniRow", function(){
    //Your code
   
    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(".taniRow").children(".cbx").children().css('background-color','rgb(255, 0, 0)');//hepsini kırmızı yap
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil yap seçileni
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];;
        var isim= $(this).children(".cbx").children().attr("name").split("?")[1];
        var t={kod:kod,isim:isim};
        secilenTanı=t    
    }
    else{
      $(".taniRow").children(".cbx").children().css('background-color','rgb(255, 0, 0)');//hepsini kırmızı yap
        secilenTanı={};

    }
});
    $("#taniAra").on("keyup", function () {
        var value =this.value.toLocaleUpperCase('tr-TR')
        this.value = this.value.toLocaleUpperCase('tr-TR')
            $( ".taniRow" ).remove();
            $.get( "/tanFilter", { value:value} )
                .done(function( tanılar ) {
                           
                            $.each(tanılar, function (index, value) {
                                color="red"         
                                if(secilenTanı.kod!=undefined){
                                  
                                  if (value.KODU==secilenTanı.kod){color="green"}
                                }                                                 
                              var html= '<div class="row taniRow">';
                              html+= '<div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                              html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'?'+value.ADI+'"></div></div> ';  
                              html+= ' <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+value.KODU+'</div>  ';
                              html+= '<div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
      
                              $( "#taniTable" ).append(html);          
                            });  
            });

    });
    //ALTTA YATAN HASTALIK SEÇME YUKARISI

     $( "#asiKaydetBtn" ).click(function() {
            
            $.ajax({
                type: "post",
                url: '/hasta/asiKaydet',
                data:$('#hastayaAsiEkleForm').serialize(),
                success: function(data)
                {
                  color='green'
                  if(data.asi==8&&data.doz==1) $('#hepB1').css('background-color',color)
                  else if(data.asi==8&&data.doz==2) $('#hepB2').css('background-color',color)
                  else if(data.asi==8&&data.doz==3) $('#hepB3').css('background-color',color)
                  else if(data.asi==16&&data.doz==1) $('#bcg1').css('background-color',color)
                  else if(data.asi==120&&data.doz==1) $('#daptIpaHib1').css('background-color',color)
                  else if(data.asi==120&&data.doz==2) $('#daptIpaHib2').css('background-color',color)
                  else if(data.asi==120&&data.doz==3) $('#daptIpaHib3').css('background-color',color)
                  else if(data.asi==120&&data.doz==6) $('#daptIpaHibR').css('background-color',color)
                  else if(data.asi==1&&data.doz==1) $('#opa1').css('background-color',color)
                  else if(data.asi==1&&data.doz==2) $('#opa2').css('background-color',color)
                  else if(data.asi==134&&data.doz==6) $('#tdR').css('background-color',color)
                  else if(data.asi==83&&data.doz==1) $('#hepa1').css('background-color',color)
                  else if(data.asi==83&&data.doz==2) $('#hepa2').css('background-color',color)
                  else if(data.asi==21&&data.doz==1) $('#su1').css('background-color',color)


                   alert('Aşı Eklenmiştir.')  
                   $( "#YeniAsiModal" ).modal('hide')
                }
            });
    });
    $( "#asiErtKaydetBtn" ).click(function() {
      var input = $("<input>").attr("type", "hidden").attr("name", "alttaYatanhastalik").val(JSON.stringify(secilenTanı));
            $('#hastayaAsiErteleForm').append(input);
     
            $.ajax({
                type: "post",
                url: '/hasta/asiErtKaydet',
                data:$('#hastayaAsiErteleForm').serialize(),
                success: function(data)
                {
                  console.log(data)
                  color=''
                  if(data.yapilmaDurum==1) color='yellow'
                  else color='red'

                  if(data.asi==8&&data.doz==1) $('#hepB1').css('background-color',color)
                  else if(data.asi==8&&data.doz==2) $('#hepB2').css('background-color',color)
                  else if(data.asi==8&&data.doz==3) $('#hepB3').css('background-color',color)
                  else if(data.asi==16&&data.doz==1) $('#bcg1').css('background-color',color)
                  else if(data.asi==120&&data.doz==1) $('#daptIpaHib1').css('background-color',color)
                  else if(data.asi==120&&data.doz==2) $('#daptIpaHib2').css('background-color',color)
                  else if(data.asi==120&&data.doz==3) $('#daptIpaHib3').css('background-color',color)
                  else if(data.asi==120&&data.doz==6) $('#daptIpaHibR').css('background-color',color)
                  else if(data.asi==1&&data.doz==1) $('#opa1').css('background-color',color)
                  else if(data.asi==1&&data.doz==2) $('#opa2').css('background-color',color)
                  else if(data.asi==134&&data.doz==6) $('#tdR').css('background-color',color)
                  else if(data.asi==83&&data.doz==1) $('#hepa1').css('background-color',color)
                  else if(data.asi==83&&data.doz==2) $('#hepa2').css('background-color',color)
                  else if(data.asi==21&&data.doz==1) $('#su1').css('background-color',color)


                   alert('Aşı Erteleme Tamamlandı.')  
                   $( "#AsiErtelemeModal" ).modal('hide')
                }
            });
    });


    $( "#asiEkleBtn" ).click(function() {
      $( "#YeniAsiModal" ).modal('show')
    });
    $( "#asiErteleBtn" ).click(function() {
      $( "#AsiErtelemeModal" ).modal('show')
    });
    $( "#etkiBtn" ).click(function() {
      $( "#etkiModal" ).modal('show')
    });
    $(document).ready( function() {
        var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if (month < 10) 
            month = "0" + month;
        if (day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
    $('.dateCss').val(today);
   
});
</script>     



    