<div class="row" style="margin-top:1%;height: 48%;">
     <div class="col-md-4">
          <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
               <div class="row testlerheaderDiv">
               <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;font-size: small;">GELİŞİM TABLOSU BİLGİLERİNİN SORGULANMASI</div>                                               
               </div>
          
          </div>
          <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:80%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
          
               <% GelisimTablosuBilgilerininSorgulanmasi.forEach(function(element) { %>
               <div class="row GELISIM_TABLOSU_BILGILERININ_SORGULANMASI_ROW">
               <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                         <div class="tik" style="background-color:red;height: 20px;width: 20px;margin-left: 46%;" name="<%= element.KODU %>"></div>
               </div> 
               <div class="col-md-9 isim" style="font-size: 0.8rem;background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
               </div>
               <%}); %>
          </div>  

     </div>
     <div class="col-md-4">
          <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
               <div class="row testlerheaderDiv">
               <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;font-size: small;">BEBEĞİN/ÇOCUĞUN BEYİN GELİŞİMİNİ ETKİLEYEBİLECEK RİSKLER</div>                                               
               </div>
          
          </div>
          <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:80%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
          
               <% BeyinGelisimiRiskler.forEach(function(element) { %>
               <div class="row BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER_ROW">
               <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                         <div class="tik" style="background-color:red;height: 20px;width: 20px;margin-left: 46%;" name="<%= element.KODU %>"></div>
               </div> 
               <div class="col-md-9 isim" style="font-size: 0.8rem;background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
               </div>
               <%}); %>
          </div>  

    </div>
     <div class="col-md-4">
               <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
                    <div class="row testlerheaderDiv">
                    <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;font-size: small;">EBEVEYNİN PSİKOLOJİK GELİŞİMİ DESTEKLEYİCİ AKTİVİTELERİ</div>                                               
                    </div>
               
               </div>
               <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:80%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
               
                    <% EbeveynAktivite.forEach(function(element) { %>
                    <div class="row EBEVEYNIN_PSIKOLOJIK_GELISIMI_DESTEKLEYICI_AKTIVITELERI_ROW">
                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                              <div class="tik" style="background-color:red;height: 20px;width: 20px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                    </div> 
                    <div class="col-md-9 isim" style="font-size: 0.8rem;background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
                    </div>
                    <%}); %>
               </div>  

     </div>
     
</div>


<script>


$(document).on('click', ".GELISIM_TABLOSU_BILGILERININ_SORGULANMASI_ROW", function(){
//Your code
var x='GELISIM_TABLOSU_BILGILERININ_SORGULANMASI'
if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
     $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
     var kod= $(this).children(".cbx").children().attr("name");
     var isim= $(this).children(".isim").html();
   
     GELISIM_TABLOSU_BILGILERININ_SORGULANMASI.push(kod);
}
else{
     $(this).children(".cbx").children().css('background-color','red')
     var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
   
     GELISIM_TABLOSU_BILGILERININ_SORGULANMASI.forEach(element => {
          if(element.kod==kod){
               GELISIM_TABLOSU_BILGILERININ_SORGULANMASI = jQuery.grep(GELISIM_TABLOSU_BILGILERININ_SORGULANMASI, function(value) {
                    return value != element;
               });

          }
     });
}
});

$(document).on('click', ".BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER_ROW", function(){
//Your code
var x='BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER'
if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
     $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
     var kod= $(this).children(".cbx").children().attr("name");
     var isim= $(this).children(".isim").html();
   
     BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER.push(kod);
}
else{
     $(this).children(".cbx").children().css('background-color','red')
     var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
   
     BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER.forEach(element => {
          if(element.kod==kod){
               BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER = jQuery.grep(BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER, function(value) {
                    return value != element;
               });

          }
     });
}
});

$(document).on('click', ".EBEVEYNIN_PSIKOLOJIK_GELISIMI_DESTEKLEYICI_AKTIVITELERI_ROW", function(){
//Your code
var x='EBEVEYNIN_PSIKOLOJIK_GELISIMI_DESTEKLEYICI_AKTIVITELERI'
if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
     $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
     var kod= $(this).children(".cbx").children().attr("name");
     var isim= $(this).children(".isim").html();
   
     EBEVEYNIN_PSIKOLOJIK_GELISIMI_DESTEKLEYICI_AKTIVITELERI.push(kod);
}
else{
     $(this).children(".cbx").children().css('background-color','red')
     var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
   
     GEBELIK_SEYRINDE_TEHLIKE_ISARETI.forEach(element => {
          if(element.kod==kod){
               EBEVEYNIN_PSIKOLOJIK_GELISIMI_DESTEKLEYICI_AKTIVITELERI = jQuery.grep(EBEVEYNIN_PSIKOLOJIK_GELISIMI_DESTEKLEYICI_AKTIVITELERI, function(value) {
                    return value != element;
               });

          }
     });
}
});

</script>


<div class="row" style="margin-top:1%;height: 48%;">
     <div class="col-md-4">
          <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
               <div class="row testlerheaderDiv">
               <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;font-size: smaller;"> BEBEĞİN/ÇOCUĞUN PSİKOLOJİK GELİŞİMİNDEKİ RİSKLERE YÖNELİK EĞİTİMLER</div>                                               
               </div>
          
          </div>
          <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:75%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
          
               <% RisklereYonelikEgtimler.forEach(function(element) { %>
               <div class="row BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER_ROW">
               <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                         <div class="tik" style="background-color:red;height: 20px;width: 20px;margin-left: 46%;" name="<%= element.KODU %>"></div>
               </div> 
               <div class="col-md-9 isim" style="font-size: 0.8rem;background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
               </div>
               <%}); %>
          </div>  

     </div>
     <div class="col-md-4">
               <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
                    <div class="row testlerheaderDiv">
                    <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;font-size: small;">BEBEĞİN/ÇOCUĞUN RİSK FAKTÖRLERİNE YAPILAN MÜDAHALE</div>                                               
                    </div>
               
               </div>
               <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:80%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
               
                    <% RiskFaktorlerineYapilanMudaheleler.forEach(function(element) { %>
                    <div class="row BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE_ROW">
                    <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                              <div class="tik" style="background-color:red;height: 20px;width: 20px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                    </div> 
                    <div class="col-md-9 isim" style="font-size: 0.8rem;background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
                    </div>
                    <%}); %>
               </div>  

     </div>
     <div class="col-md-4">
          <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
               <div class="row testlerheaderDiv">
               <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;font-size: small;">GEBEDE SIK İZLEME ALINAN RİSK ALTINDAKİ OLGUNUN TAKİBİ</div>                                               
               </div>
          
          </div>
          <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:80%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
          
               <% RiskTakipi.forEach(function(element) { %>
               <div class="row BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI_ROW">
               <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                         <div class="tik" style="background-color:red;height: 20px;width: 20px;margin-left: 46%;" name="<%= element.KODU %>"></div>
               </div> 
               <div class="col-md-9 isim" style="font-size: 0.8rem;background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
               </div>
               <%}); %>
          </div>  

    </div>
</div>


<script>




$(document).on('click', ".BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER_ROW", function(){
//Your code
var x='BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER'
if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
     $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
     var kod= $(this).children(".cbx").children().attr("name");
     var isim= $(this).children(".isim").html();
   
     BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER.push(kod);
}
else{
     $(this).children(".cbx").children().css('background-color','red')
     var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
   
     BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER.forEach(element => {
          if(element.kod==kod){
               BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER = jQuery.grep(BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER, function(value) {
                    return value != element;
               });

          }
     });
}
});

$(document).on('click', ".BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE_ROW", function(){
//Your code
var x='BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE'
if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
     $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
     var kod= $(this).children(".cbx").children().attr("name");
     var isim= $(this).children(".isim").html();
   
     BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE.push(kod);
}
else{
     $(this).children(".cbx").children().css('background-color','red')
     var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
   
     BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE.forEach(element => {
          if(element.kod==kod){
               BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE = jQuery.grep(BEBEGIN_COCUGUN_RISK_FAKTORLERINE_YAPILAN_MUDAHALE, function(value) {
                    return value != element;
               });

          }
     });
}
});
$(document).on('click', ".BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI_ROW", function(){
//Your code
var x='BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI'
if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
     $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
     var kod= $(this).children(".cbx").children().attr("name");
     var isim= $(this).children(".isim").html();
   
     BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI.push(kod);
}
else{
     $(this).children(".cbx").children().css('background-color','red')
     var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
   
     BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI.forEach(element => {
          if(element.kod==kod){
               BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI = jQuery.grep(BEBEK_COCUKTA_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI, function(value) {
                    return value != element;
               });

          }
     });
}
});
</script>