<div class="row" style="margin-top: 1%;">
    <div class="col-md-3">
         <div class="rcorners3 " style="width: 95%;margin: auto;text-align: center;">
                        <div style="color: #325179;font-family: Avenir Next;text-align: center;font-weight: bold;margin-bottom: 1%;">  Biyotinidaz Eksikliği </div>
                        <label class="radio-inline"><input type="radio"  name="biyotOpt" value="0" >N(-)</label>
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="biyotOpt" value="1">P(+)</label>      
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="biyotOpt" value="99" checked>Yapılmadı</label>                      
        </div>
    </div>
    <div class="col-md-6">
        <div class="rcorners3 " style="width: 98%;margin: auto;text-align: center;">
                       <div style="color: #325179;font-family: Avenir Next;text-align: center;font-weight: bold;margin-bottom: 1%;">  İşitme Testi </div>
                       <label class="radio-inline"><input type="radio" name="isitmerad"value="1">İşitme K. Yok</label>
                       <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="isitmerad"value="2">Tek Taraflı İ.K.</label> 
                       <label class="radio-inline" style="margin-left: 1%;"><input type="radio"  name="isitmerad"value="3">Çift Taraflı İ.K.</label>     
                       <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="isitmerad" value="99" checked>Yapılmadı</label>                      
                      
       </div>
   </div>
     <div class="col-md-3">
         <div class="rcorners3 " style="width: 95%;margin: auto;text-align: center;">
                        <div style="color: #325179;font-family: Avenir Next;text-align: center;font-weight: bold;margin-bottom: 1%;">  Fenilketanüri </div>
                        <label class="radio-inline"><input type="radio" name="fenilrad"value="0">N(-)</label>
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="fenilrad"value="1">P(+)</label>    
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="fenilrad" value="99" checked>Yapılmadı</label>                                
        </div>
    </div>
</div>




<div class="row" style="margin-top: 1%;">
    <div class="col-md-4">
         <div class="rcorners3 " style="width: 95%;margin: auto;text-align: center;">
                        <div style="color: #325179;font-family: Avenir Next;text-align: center;font-weight: bold;margin-bottom: 1%;"> Konjenital Hipotiroidi </div>
                        <label class="radio-inline"><input type="radio"  name="konjenrad" value="0" >N(-)</label>
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="konjenrad"value="1">P(+)</label>     
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="konjenrad" value="99" checked>Yapılmadı</label>                                
         
        </div>
    </div>
    <div class="col-md-4">
        <div class="rcorners3 " style="width: 98%;margin: auto;text-align: center;">
                       <div style="color: #325179;font-family: Avenir Next;text-align: center;font-weight: bold;margin-bottom: 1%;"> Hiper FenilAninemi </div>
                       <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="hiperfenil"value="1">P(+)</label> 
                       <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="hiperfenil" value="99" checked>Yapılmadı</label>                                
       </div>
   </div>
     <div class="col-md-4">
         <div class="rcorners3 " style="width: 95%;margin: auto;text-align: center;">
                        <div style="color: #325179;font-family: Avenir Next;text-align: center;font-weight: bold;margin-bottom: 1%;">Kistik Fib. Myn </div>
                        <label class="radio-inline"><input type="radio" name="kistikrad"value="0">N(-)</label>
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="kistikrad"value="1">P(+)</label>     
                        <label class="radio-inline" style="margin-left: 1%;"><input type="radio" name="kistikrad" value="99" checked>Yapılmadı</label>                                         
        </div>
    </div>
    
</div>

<div class="row" style="margin-top: 1%;">
                    <div class="input-group col-md-6">
                                   <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Görme Tarama Sonucu</span>
                                   </div>
                                   <select name="GormeTaramaSonucu" class="browser-default custom-select">
                                          <% GormeTaramaSonucu.forEach(function(element) { %>                      
                                                <option value="<%= element.KODU %>"> <%= element.ADI  %></option>
                                         <%}); %>
                                   </select>
                    </div>
                     <div class="input-group col-md-6">
                               <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Gelişimsel Kalça Ç.</span>
                               </div>
                               <select name="gkd" class="browser-default custom-select">
                                      <% GKDTaramaSonucu.forEach(function(element) { %>                      
                                            <option value="<%= element.KODU %>"> <%= element.ADI  %></option>
                                     <%}); %>
                               </select>
                     </div>    
</div>

<div class="row" style="margin-top:1%;">
    <div class="col-md-6">
        <div class="input-group ">
                       <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-default">Topuk Kanı</span>
                       </div>
                       <select class="browser-default custom-select">
                                    <% GKDTaramaSonucu.forEach(function(element) { %>                      
                                        <option value="<%= element.KODU %>"> <%= element.ADI  %></option>
                                    <%}); %>
                       </select>
        </div>
    </div>
    <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                   <span class="input-group-text " id="inputGroup-sizing-default">Barkod </span>
                </div>
                <input class="form-control" name="doğumYeri" type="text" aria-label="Default" aria-describedby="">
            </div>
    </div>         
</div>






<script>


    </script>