 <div class="row" style="margin-top:1%;">
                <div class="col-md-3">
                             <div class="row" style="">
                                    <div class="input-group input-group-sm col-md-12">
                                                  <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">İzlem Sırası</span>
                                                  </div>
                                                              <select name="izlemSirasi"class="browser-default custom-select" required>
                                                                               <% kacinciizlem.forEach(function(element) { %>
                                                                                <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                                <%}); %>
                                                              </select>
                                    </div>
                             </div>
                </div>
                 <div class="col-md-4">
                             <div class="row" style="">
                                    <div class="input-group input-group-sm col-md-12">
                                                  <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">İzlem İşlem Türü</span>
                                                  </div>
                                                              <select name="izlemIslemTuru"class="browser-default custom-select" required>
                                                                               <% AsiIslemTuru.forEach(function(element) { %>
                                                                                <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                                <%}); %>
                                                              </select>
                                    </div>
                             </div>
                </div>
 </div>

 <div class="row" style="margin-top:1%;height: 46%;">
            <div class="col-md-2">
                  <div class="" style="padding: 10px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;height: 95%;">                       
                        <div class="row" style="height: 40%;"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 90%;width: 90%;"></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><div style="margin: auto;color: #325179;text-align: center;"> Ağırlık(gr)</div></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><input id="kilo" name="kilo" step="1" class="form-control bki" type="number" placeholder="Ağırlık(gr)"></div>
                  </div>
            </div>
            <div class="col-md-2">
                  <div class="" style="padding: 10px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;height: 95%;">                      
                          <div class="row"style="height: 40%;"> <img src="/public/img/boy.svg" style="margin: auto;height: 90%;width: 90%;"></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><div style="margin: auto;color: #325179;text-align: center;">Boy(cm)</div></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><input id="boy" name="boy" step="0.1" class="form-control bki" type="number" placeholder="Ağırlık(gr)"></div>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="" style="padding: 10px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;height: 95%;">                        
                        <div class="row"style="height: 40%;"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 90%;width: 90%;"></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><div style="margin: auto;color: #325179;text-align: center;"> Baş Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><input id="bascevresi" name="bascevresi" class="form-control" step="0.1" type="number" placeholder="Ağırlık(gr)"></div>
                  </div>
            </div>
            <div class="col-md-2">
                  <div class="" style="padding: 10px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;height: 95%;">                   
                             <div class="row"style="height: 40%;"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 90%;width: 90%;"></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><div style="margin: auto;color: #325179;text-align: center;">Göğüs Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><input id="goguscevresi" name="goguscevresi" class="form-control " step="0.1" type="number" placeholder="Göğüs Çevresi"></div>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="" style="padding: 10px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;height: 95%;">                    
                            <div class="row"style="height: 40%;"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 90%;width: 90%;"></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><div style="margin: auto;color: #325179;text-align: center;"> Fontanal</div></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><input id="fontanal" name="fontanal" class="form-control " step="0.1" type="number" placeholder="Fontanal"></div>
                  </div>
            </div>
            <div class="col-md-2">
                  <div class="" style="padding: 10px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;height: 95%;">                     
                        <div class="row"style="height: 40%;"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 90%;width: 90%;"></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><div style="margin: auto;color: #325179;text-align: center;">Kol Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:1%;"><input id="kolcevresi" name="kolcevresi" class="form-control " step="0.1" type="number" placeholder="Kol Çevresi"></div>
                  </div>
            </div>
</div>

 <div class="row" style="margin-top:1%;">
            <div class="col-md-5">
                  <div class="row" style="">
                       <div class="input-group input-group-sm col-md-12">
                                     <div class="input-group-prepend">
                                          <span class="input-group-text " id="inputGroup-sizing-default">Beslenme Durumu</span>
                                     </div>
                                                 <select name="BebekBeslenmeDurumu"  class="browser-default custom-select">
                                                                    <option value="-1" selected>Belirtilmedi</option>
                                                                  <% BebekBeslenmeDurumu.forEach(function(element) { %>
                                                                   <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                   <%}); %>
                                                   </select>
                       </div>
                </div>
                <div class="row" style="margin-top: 1%;">
                      <div class="input-group input-group-sm col-md-12">
                                    <div class="input-group-prepend">
                                         <span class="input-group-text " id="inputGroup-sizing-default">NTP Takip Bilgisi</span>
                                    </div>
                                                 <select name="NTPTakipBilgisi"  class="browser-default custom-select">
                                                                  <option value="-1" selected>Belirtilmedi</option>
                                                                 <% NTPTakipBilgisi.forEach(function(element) { %>
                                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                  <%}); %>
                                                  </select>
                      </div>
                 </div>  
                 <div class="row" style="margin-top: 1%;">
                        <div class="col-md-4" style="">
                               Ağızdan Sıvı Takviyesi
                        </div>
                         <div class="col-md-4" style="">
                                   <div class="custom-control custom-radio custom-control-inline">
                                                 <input type="radio" class="custom-control-input" id="sivitakviyesiEvet" name="sivitakviyesi" value="1">
                                                 <label class="custom-control-label" for="sivitakviyesiEvet">Evet</label>
                                   </div>
                                   <div class="custom-control custom-radio custom-control-inline">
                                                 <input type="radio" class="custom-control-input" id="sivitakviyesiHayir" name="sivitakviyesi" value="0" checked>
                                                 <label class="custom-control-label" for="sivitakviyesiHayir">Hayır</label>
                                   </div>
                   
                        </div>
                   </div>                   
            </div>
            <div class="col-md-5">
                  <div class="row" style="">
                       <div class="input-group input-group-sm col-md-12">
                                     <div class="input-group-prepend">
                                          <span class="input-group-text " id="inputGroup-sizing-default">D Vitamini</span>
                                     </div>
                                                 <select name="DVitamini"  class="browser-default custom-select" required>
                                                                  <% DVitamini.forEach(function(element) { %>
                                                                   <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                   <%}); %>
                                                   </select>
                       </div>
                </div>
                <div class="row" style="margin-top: 1%;">
                      <div class="input-group input-group-sm col-md-12">
                                    <div class="input-group-prepend">
                                         <span class="input-group-text " id="inputGroup-sizing-default">Demir Desteği</span>
                                    </div>
                                                 <select name="DemirDestek"  class="browser-default custom-select" required>
                                                                 <% DemirDestek.forEach(function(element) { %>
                                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                  <%}); %>
                                                  </select>
                      </div>
                 </div>  
                 <div class="row" style="margin-top: 1%;">
                            <div class="input-group input-group-sm col-md-9">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Beden Kitle Endeksi</span>
                                     </div>
                                     <input id="bkiSonuc" name="bkiSonuc" class="form-control" name="" type="text" aria-label="Default" aria-describedby="">
                            </div>
                             <div class="input-group input-group-sm col-md-3">
                                     <input id="bkiDurum" name="bkiDurum" class="form-control" name="" type="text" aria-label="Default" aria-describedby="">
                            </div>
                  </div>        
          </div>
          <div class="col-md-2">                
                    <div class="row">
                            <div class="input-group input-group-sm">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Hemoglobin</span>
                                     </div>
                                     <input  class="form-control" name="hemoglobin" type="number" aria-label="Default" aria-describedby="">
                            </div>
                        
                            
                    </div> 
                     <div class="row"style="margin-top:1%;">
                          
                            <div class="input-group input-group-sm">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Hemotokrit</span>
                                     </div>
                                     <input  class="form-control" name="hemotokrit" type="number" aria-label="Default" aria-describedby="">
                            </div>
                            
                    </div>     
                                                                 
            </div>
            
           

</div>
