<script src="/public/js/apex.js"></script>

<div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 95%;border-radius: 20px;margin: 0;">                                               
    <div class="row" style="padding: 1px;margin-top: 2%;margin-bottom: 1%;">
        <div id="KiloSekme" class="col-md-4 selected sekme" style="background-color:rgb(64, 179, 197);text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 5px;">Kilo</div>
        <div id="BoySekme" class="col-md-4 sekme" style="background-color: #b5d8e5;text-align: center;padding: 5px;text-align: center;">Boy</div>
        <div id="BasSekme" class="col-md-4 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 5px;text-align: center;">Baş Çevresi</div>   
    </div>                                           
            <div id="kilochart" class="row chart"></div>
            <div id="boychart" class="row chart" ></div>
            <div id="baschart" class="row chart" ></div>

           
</div> 

<!-- Modal -->
<div class="modal" id="chartModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" style="width: 100%;">

  <!-- Modal content-->
        <div class="modal-content" style="background-color:#f1f3f3;">          
                <div  class="modal-body">                                                           
                     <div id="kilochart2" class="row" ></div>                                                                           
                </div>
       </div>
 </div>
</div>
     
<!-- Modal -->
<div class="modal" id="chartModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" style="width: 100%;">

  <!-- Modal content-->
        <div class="modal-content" style="background-color:#f1f3f3;">          
                <div  class="modal-body">                                                           
                    <div id="boychart2" class="row" ></div>
                </div>
       </div>
 </div>
</div>
     
<!-- Modal -->
<div class="modal" id="chartModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" style="width: 100%;">

  <!-- Modal content-->
        <div class="modal-content" style="background-color:#f1f3f3;">          
                <div  class="modal-body">                                                           
                     <div id="baschart2" class="row " ></div>
                </div>
       </div>
 </div>
</div>




<script>
const optionsKiloErkek = {
          series: [
                {
                  name: "ÜST SINIR",
                  data:[[0,3100], [1,3650],[2,4100],[3,4650],[4,5100],[5,5600],[6,5950],[7,6250],[8,6500],[9,6850],[10,7150],[11,7400],[12,7700],[13,7900],[14,8050],[15,8280],[16,8480],[17,8650],[18,8830],[19,8950],[20,9100],[21,9250],[22,9380],[23,9500],[24,9550],
                  [25,9630],[26,9700],[27,9880],[28,10100],[29,10300],[30,10500],[31,10600],[32,10700],[33,10800],[34,10900],[35,11000],[36,11200],[37,11300],[38,11400],[39,11500],[40,11600],[41,11700],[42,11800],
                  [43,11900],[44,12000],[45,12100],[46,12200],[47,12300],[48,12300],[49,12400],[50,12500],[51,12600],[52,12600],[53,12700],[54,12800],[55,12900],[56,13000],[57,13100],[58,13200],[59,13400],[60,13600]]               
                },
                {
                  name: "ALT SINIR",
                  data:[[0,2600],[1,3100], [2,3650],[3,4100],[4,4650],[5,5100],[6,5600],[7,5950],[8,6250],[9,6500],[10,6850],[11,7150],[12,7400],[13,7700],[14,7900],[15,8050],[16,8280],[17,8480],[18,8650],[19,8830],[20,8950],[21,9100],[22,9250],[23,9380],[24,9500],[25,9550],
                  [26,9630],[27,9700],[28,9880],[29,10100],[30,10300],[31,10500],[32,10600],[33,10700],[34,10800],[35,10900],[36,11000],[37,11200],[38,11300],[39,11400],[40,11500],[41,11600],[42,11700],[43,11800],
                  [44,11900],[45,12000],[46,12100],[47,12200],[48,12300],[49,12300],[50,12400],[51,12500],[52,12600],[53,12600],[54,12700],[55,12800],[56,12900],[57,13000],[58,13100],[59,13200],[60,13400]]   
                },
                {
                  name: "İzlem",
                  data: <%= agirlikGrafik %>
                }
              ],
          chart: {
          height: '90%',
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454','rgba(255, 0, 0, 0.97)'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'KİLO',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          title: {
            text: 'AY'
          },
          type: 'numeric',
        },
        yaxis: {
          title: {
            text: 'GRAM'
          },
         
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };
        var optionsKiloKız = {
          series: [
                {
                  name: "ÜST SINIR",
                  data:[[0,3050], [1,3500],[2,3950],[3,4450],[4,4950],[5,5400],[6,5750],[7,6100],[8,6400],[9,6650],[10,6880],[11,7100],[12,7330],[13,7500],[14,7700],[15,7890],[16,8100],[17,8250],[18,8400],[19,8550],[20,8700],
                  [21,8850],[22,9000],[23,9150],[24,9270],
                  [25,9380],[26,9500],[27,9620],[28,9740],[29,9850],[30,9970],[31,10100],[32,10200],[33,10300],[34,10600],[35,10500],[36,10700],[37,10800],[38,10900],[39,11000],[40,11100],[41,11200],[42,11200],
                  [43,11300],[44,11400],[45,11500],[46,11500],[47,11600],[48,11700],[49,11700],[50,11800],[51,11900],[52,11900],[53,12000],[54,12100],[55,12200],[56,12300],[57,12400],[58,12500],[59,12600],[60,12700]]               
                },
                {
                  name: "ALT SINIR",
                  data:[[0,2600],[1,3050], [2,3500],[3,3950],[4,4450],[5,4950],[6,5400],[7,5750],[8,6100],[9,6400],[10,6650],[11,6880],[12,7100],[13,7330],[14,7500],[15,7700],[16,7890],[17,8100],[18,8250],[19,8400],[20,8550],[21,8700],
                  [22,8850],[23,9000],[24,9150],[25,9270],
                  [26,9380],[27,9500],[28,9620],[29,9740],[30,9850],[31,9970],[32,10100],[33,10200],[34,10300],[35,10600],[36,10500],[37,10700],[38,10800],[39,10900],[40,11000],[41,11100],[42,11200],[43,11200],
                  [44,11300],[45,11400],[46,11500],[47,11500],[48,11600],[49,11700],[50,11700],[51,11800],[52,11900],[53,11900],[54,12000],[55,12100],[56,12200],[57,12300],[58,12400],[59,12500],[60,12600]]   
                },
                {
                  name: "İzlem",
                  data:  <%= agirlikGrafik %>
                }
              ],
          chart: {
            height: '90%',
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454','rgba(255, 0, 0, 0.97)'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'KİLO',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          title: {
            text: 'AY'
          },
          categories:[0,'1', '2', '3', '4', '5', '6', '7','8',9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60]
        },
        yaxis: {
          title: {
            text: 'GRAM'
          },
          
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };
        var optionsBoyErkek = {
          series: [
                {
                  name: "ÜST SINIR",
                  data:[[0,49], [1,51.7],[2,54.5],[3,56],[4,57.6],[5,59.5],[6,61],[7,62.5],[8,64],[9,65.3],[10,66.6],[11,68],[12,69],[13,70],[14,71],[15,72.3],[16,73.6],[17,75],[18,75.6],[19,76.2],[20,77],[21,77.8],[22,78.7],[23,79.5],[24,80.1],
                  [25,80.8],[26,81.5],[27,82.1],[28,82.8],[29,83.5],[30,84.1],[31,84.8],[32,85.3],[33,85.8],[34,86.2],[35,86.7],[36,87.2],[37,87.8],[38,88.3],[39,88.8],[40,89.2],[41,89.7],[42,90.1],
                  [43,90.6],[44,91],[45,91.5],[46,92],[47,92.5],[48,93],[49,93.5],[50,94],[51,94.5],[52,95],[53,95.5],[54,96],[55,96.4],[56,96.8],[57,97.2],[58,97.6],[59,98],[60,98.4]]               
                },
                {
                  name: "ÜST SINIR",
                  data:[[0,46.3],[1,49], [2,51.7],[3,54.5],[4,56],[5,57.6],[6,59.5],[7,61],[8,62.5],[9,64],[10,65.3],[11,66.6],[12,68],[13,69],[14,70],[15,71],[16,72.3],[17,73.6],[18,75],[19,75.6],[20,76.2],[21,77],[22,77.8],[23,78.7],[24,79.5],[25,80.1],
                  [26,80.8],[27,81.5],[28,82.1],[29,82.8],[30,83.5],[31,84.1],[32,84.8],[33,85.3],[34,85.8],[35,86.2],[36,86.7],[37,87.2],[38,87.8],[39,88.3],[40,88.8],[41,89.2],[42,89.7],[43,90.1],
                  [44,90.6],[45,91],[46,91.5],[47,92],[48,92.5],[49,93],[50,93.5],[51,94],[52,94.5],[53,95],[54,95.5],[55,96],[56,96.4],[57,96.8],[58,97.2],[59,97.6],[60,98]]               
                },
                {
                  name: "İzlem",
                  data: <%= boyGrafik %>
                }
               
              ],
          chart: {
            height: '90%',
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454','rgba(255, 0, 0, 0.97)'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'BOY',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          title: {
            text: 'AY'
          },
        },
        yaxis: {
          title: {
            text: 'CM'
          },
        
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };
        var optionsBoyKız = {
          series: [
               {
                  name: "ÜST SINIR",
                  data:[[0,49.4], [1,51.7],[2,54],[3,55.3],[4,56.7],[5,58],[6,59.1],[7,60.3],[8,61.5],[9,62.5],[10,63.5],[11,64.5],[12,65.6],[13,66.8],[14,68],[15,69],[16,70],[17,71],[18,71.8],[19,72.7],[20,73.5],[21,74.5],[22,75.5],[23,76.5],[24,77.3],
                  [25,78.1],[26,79],[27,79.8],[28,80.6],[29,81.5],[30,82.1],[31,82.8],[32,83.5],[33,84,10],[34,84.8],[35,85.5],[36,86],[37,86.5],[38,87],[39,87.6],[40,88.3],[41,89],[42,89.5],
                  [43,90],[44,90.5],[45,91],[46,91.5],[47,92],[48,92.5],[49,92.9],[50,93.4],[51,93.8],[52,94.3],[53,94.7],[54,95.2],[55,95.6],[56,96.1],[57,96.5],[58,97],[59,97.5],[60,98]]               
                },
                {
                  name: "ALT SINIR",
                  data:[[0,47.1],[1,49.4], [2,51.7],[3,54],[4,55.3],[5,56.7],[6,58],[7,59.1],[8,60.3],[9,61.5],[10,62.5],[11,63.5],[12,64.5],[13,65.6],[14,66.8],[15,68],[16,69],[17,70],[18,71],[19,71.8],[20,72.7],[21,73.5],[22,74.5],[23,75.5],[24,76.5],[25,77.3],
                  [26,78.1],[27,79],[28,79.8],[29,80.6],[30,81.5],[31,82.1],[32,82.8],[33,83.5],[34,84,10],[35,84.8],[36,85.5],[37,86],[38,86.5],[39,87],[40,87.6],[41,88.3],[42,89],[43,89.5],
                  [44,90],[45,90.5],[46,91],[47,91.5],[48,92],[49,92.5],[50,92.9],[51,93.4],[52,93.8],[53,94.3],[54,94.7],[55,95.2],[56,95.6],[57,96.1],[58,96.5],[59,97],[60,97.5]]               
                },
                {
                  name: "İzlem",
                  data: <%= boyGrafik %>
                }
              ],
          chart: {
            height: '90%',
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454','rgba(255, 0, 0, 0.97)'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'BOY',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          title: {
            text: 'AY'
          }
        },
        yaxis: {
          title: {
            text: 'CM'
          },
        
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };
        var optionsBasErkek = {
          series: [
                {
                  name: "ÜST SINIR",
                  data:[[0,36.5], [1,37.6],[2,38.3],[3,39.1],[4,39.9],[5,40.4],[6,40.9],[7,41.4],[8,41.8],[9,42.1],[10,42.4],[11,42.6],[12,43],[13,43.4],[14,43.7],[15,44.4],[16,45.3],[17,46.1],[18,46.3]]               
                },
                {
                  name: "ALT SINIR",
                  data:[[0,35.5],[1,36.5], [2,37.6],[3,38.3],[4,39.1],[5,39.9],[6,40.4],[7,40.9],[8,41.4],[9,41.8],[10,42.1],[11,42.4],[12,42.6],[13,43],[14,43.4],[15,43.7],[16,44.4],[17,45.3],[18,46.1]]               
                },
                 {
                  name: "İzlem",
                  data: <%= basGrafik %>
                }
             
              ],
          chart: {
            height: '90%',
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454','rgba(255, 0, 0, 0.97)'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'BAŞ ÇEVRESİ',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          title: {
            text: 'AY'
          }
        },
        yaxis: {
          title: {
            text: 'CM'
          },
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };
        var optionsBasKız = {
          series: [
                {
                  name: "ÜST SINIR",
                  data:[[0,34.2], [1,35.5],[2,36.8],[3,37.7],[4,38.7],[5,39.6],[6,40.5],[7,41],[8,41.4],[9,41.8],[10,42.1],[11,42.4],[12,42.4],[13,42.4],[14,42.4],[15,42.6],[16,42.9],[17,43.1],[18,43.5]]   
                },
                {
                  name: "ALT SINIR",
                  data:[[0,33],[1,34.2], [2,35.5],[3,36.8],[4,37.7],[5,38.7],[6,39.6],[7,40.5],[8,41],[9,41.4],[10,41.8],[11,42.1],[12,42.4],[13,42.4],[14,42.4],[15,42.4],[16,42.6],[17,42.9],[18,43.1]]   
                },
                {
                  name: "İzlem",
                  data:  <%= basGrafik %>
                }
              ],
          chart: {
            height: '90%',
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454','rgba(255, 0, 0, 0.97)'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'BAŞ ÇEVRESİ',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          title: {
            text: 'AY'
          },
        },
        yaxis: {
          title: {
            text: 'CM'
          },
       
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };

        cins=<%= hasta.Cinsiyet %>
      if(cins==1){
          erkekKiloChart = new ApexCharts(document.querySelector("#kilochart"), optionsKiloErkek);
          erkekKiloChart.render();
          erkekBoyChart = new ApexCharts(document.querySelector("#boychart"), optionsBoyErkek);
          erkekBoyChart.render();
          erkekBasChart = new ApexCharts(document.querySelector("#baschart"), optionsBasErkek);
          erkekBasChart.render();

          erkekKiloChart2 = new ApexCharts(document.querySelector("#kilochart2"), optionsKiloErkek);
          erkekKiloChart2.render();

          erkekBoyChart2 = new ApexCharts(document.querySelector("#boychart2"), optionsBoyErkek);
          erkekBoyChart2.render();

          erkekBasChart2 = new ApexCharts(document.querySelector("#baschart2"), optionsBasErkek);
          erkekBasChart2.render();
      }
      else{
          kızKiloChart = new ApexCharts(document.querySelector("#kilochart"), optionsKiloKız);
          kızKiloChart.render();
          kızBoyChart = new ApexCharts(document.querySelector("#boychart"), optionsBoyKız);
          kızBoyChart.render();
          kızBasChart = new ApexCharts(document.querySelector("#baschart"), optionsBasKız);
          kızBasChart.render();

          kızKiloChart2 = new ApexCharts(document.querySelector("#kilochart2"), optionsKiloKız);
          kızKiloChart2.render();
          kızBoyChart2 = new ApexCharts(document.querySelector("#boychart2"), optionsBoyKız);
          kızBoyChart2.render();
          kızBasChart2 = new ApexCharts(document.querySelector("#baschart2"), optionsBasKız);
          kızBasChart2.render();
      }
      $("#boychart").hide()
      $("#baschart").hide()

       console.log(<%= agirlikGrafik %>)
        var sekme="Kilo";
$( "#KiloSekme").click(function() {

    $(".sekme").css("background-color","#b5d8e5");
    $(".sekme").removeClass("selected");
    $(this).css("background-color","rgb(64, 179, 197)");
    $(this).addClass("selected");
    sekme=$(this).text();
    $(".chart").css("display","none");
    $("#kilochart").css("display","");
       
});
$( "#BoySekme").click(function() {

    $(".sekme").css("background-color","#b5d8e5");
    $(".sekme").removeClass("selected");
    $(this).css("background-color","rgb(64, 179, 197)");
    $(this).addClass("selected");
    sekme=$(this).text();
    $(".chart").css("display","none");
    $("#boychart").show()

});
$( "#BasSekme").click(function() {

    $(".sekme").css("background-color","#b5d8e5");
    $(".sekme").removeClass("selected");
    $(this).css("background-color","rgb(64, 179, 197)");
    $(this).addClass("selected");
    sekme=$(this).text();
    $(".chart").css("display","none");
    $("#baschart").css("display","");

});




$( "#kilochart").click(function() {
  $( "#chartModal1").modal('show')
});
$( "#boychart").click(function() {
  $( "#chartModal2").modal('show')
});
$( "#baschart").click(function() {
  $( "#chartModal3").modal('show')
});

    </script>


  <style>
  .modal-body {
    height: 600px;
   
}
.modal-dialog {
  max-width: 90%;
}
  </style>
