
    <div class="container" style="height: 90%;">
    
    
        <div class="row" style="margin-top:1%;height: 30%;">
                                        <div class="col-md-6" >
                                                <div class="container" style="padding: 5px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                         <div class="row" style="">
                                                                <div  class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">Mernis-Kimlik Paylaşım Sistemi(KPS)</div>
                                                          </div>                                                
                                                            <div class="row" style="margin-top:2%;">
                                                                    <div class="input-group col-md-8">
                                                                         <div class="input-group-prepend">
                                                                                  <span class="input-group-text" id="inputGroup-sizing-default">Kullanıcı Kodu</span>
                                                                         </div>
                                                                         <input id="KpsKullaniciAdi"class="form-control" value="<%=user.KpsKullaniciAdi+''%>" name="KpsKullaniciAdi" type="text" aria-label="Default" aria-describedby="">
                                                                    </div>        
                                                                  
                                                             </div>
                                                             <div class="row" style="margin-top:1%;">
                                                                    <div class="input-group col-md-8">
                                                                         <div class="input-group-prepend">
                                                                                  <span class="input-group-text" id="inputGroup-sizing-default">Şifre</span>
                                                                         </div>
                                                                         <input id="KpsSifre"class="form-control" value="<%=user.KpsSifre+''%>" name="KpsSifre" type="text" aria-label="Default" aria-describedby="">
                                                                    </div>                                                                     
                                                             </div>                                               
                                                </div>
                                        </div>  
                                        <div class="col-md-6" >
                                            <div class="container" style="padding: 5px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                     <div class="row" style="">
                                                            <div  class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">Sağlık Bakanlığı MSVS/KDS</div>
                                                      </div>                                                
                                                        <div class="row" style="margin-top:2%;">
                                                                <div class="input-group col-md-8">
                                                                     <div class="input-group-prepend">
                                                                              <span class="input-group-text" id="inputGroup-sizing-default">Kullanıcı Kodu</span>
                                                                     </div>
                                                                     <input id="KDSKullaniciAdi"class="form-control" value="" name="KDSKullaniciAdi" type="text" aria-label="Default" aria-describedby="">
                                                                </div>        
                                                              
                                                         </div>
                                                         <div class="row" style="margin-top:1%;">
                                                                <div class="input-group col-md-8">
                                                                     <div class="input-group-prepend">
                                                                              <span class="input-group-text" id="inputGroup-sizing-default">Şifre</span>
                                                                     </div>
                                                                     <input id="KDSSifre"class="form-control" value="<%=user.AlisSifre+''%>" name="KDSSifre" type="text" aria-label="Default" aria-describedby="">
                                                                </div>                                                                     
                                                         </div>                                               
                                            </div>
                                    </div>  
        </div>
        <div class="row" style="margin-top:1%;height: 30%;">
                                        <div class="col-md-6" >
                                                <div class="container" style="padding: 5px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                         <div class="row" style="">
                                                                <div  class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">AŞI NET</div>
                                                          </div>                                                
                                                            <div class="row" style="margin-top:2%;">
                                                                    <div class="input-group col-md-8">
                                                                         <div class="input-group-prepend">
                                                                                  <span class="input-group-text" id="inputGroup-sizing-default">Kullanıcı Kodu</span>
                                                                         </div>
                                                                         <input id="ASIAD"class="form-control" value="" name="ASIAD" type="text" aria-label="Default" aria-describedby="">
                                                                    </div>        
                                                                  
                                                             </div>
                                                             <div class="row" style="margin-top:1%;">
                                                                    <div class="input-group col-md-8">
                                                                         <div class="input-group-prepend">
                                                                                  <span class="input-group-text" id="inputGroup-sizing-default">Şifre</span>
                                                                         </div>
                                                                         <input id="ASISifre"class="form-control" value="" name="ASISifre" type="text" aria-label="Default" aria-describedby="">
                                                                    </div>                                                                     
                                                             </div>                                               
                                                </div>
                                        </div>  
                                        <div class="col-md-6" >
                                            <div class="container" style="padding: 5px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                     <div class="row" style="">
                                                            <div  class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">Merkez Laboratuvar Sistemi</div>
                                                      </div>                                                
                                                        <div class="row" style="margin-top:2%;">
                                                                <div class="input-group col-md-8">
                                                                     <div class="input-group-prepend">
                                                                              <span class="input-group-text" id="inputGroup-sizing-default">Kullanıcı Kodu</span>
                                                                     </div>
                                                                     <input id="AlisKullaniciAdi"class="form-control" value="<%=user.AlisKullaniciAdi+''%>" name="AlisKullaniciAdi" type="text" aria-label="Default" aria-describedby="">
                                                                </div>        
                                                              
                                                         </div>
                                                         <div class="row" style="margin-top:1%;">
                                                                <div class="input-group col-md-8">
                                                                     <div class="input-group-prepend">
                                                                              <span class="input-group-text" id="inputGroup-sizing-default">Şifre</span>
                                                                     </div>
                                                                     <input id="AlisSifre"class="form-control" value="<%=user.AlisSifre+''%>" name="AlisSifre" type="text" aria-label="Default" aria-describedby="">
                                                                </div>                                                                     
                                                         </div>                                               
                                            </div>
                                    </div>  
        </div>
         <div class="row" style="margin-top:1%;height: 43%;">
                 <div class="col-md-12" >

                                                <div class="container" style="padding: 5px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                         <div class="row" style="">
                                                                <div  class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">Sosyal Güvenlik Kurumu SGK MEDULA/e-reçete Sistemi</div>
                                                          </div>                                                
                                                          <div class="row" style="margin-top:1%;">
                                                                     <div class="col-md-6" >
                                                                             <div class="row" style="margin-top:1%;">
                                                                                <div class="input-group col-md-12">
                                                                                    <div class="input-group-prepend">
                                                                                             <span class="input-group-text" id="inputGroup-sizing-default">Kullanıcı Kodu</span>
                                                                                    </div>
                                                                                    <input id="MEDULAKullaniciAdi"class="form-control" value="" name="MEDULAKullaniciAdi" type="text" aria-label="Default" aria-describedby="">
                                                                               </div>    
                                                                            </div>      
                                                                            <div class="row" style="margin-top:1%;">   
                                                                               <div class="input-group col-md-12">
                                                                                   <div class="input-group-prepend">
                                                                                            <span class="input-group-text" id="inputGroup-sizing-default">Şifre</span>
                                                                                   </div>
                                                                                   <input id="MEDULASifre"class="form-control" value="" name="MEDULASifre" type="text" aria-label="Default" aria-describedby="">
                                                                              </div> 
                                                                            </div>     
                                                                            <div class="row" style="margin-top:1%;">   
                                                                                <div class="input-group col-md-12">
                                                                                    <div class="input-group-prepend">
                                                                                             <span class="input-group-text" id="inputGroup-sizing-default">Tesis Kodu</span>
                                                                                    </div>
                                                                                    <input id="TesisKodu"class="form-control" value="" name="firmaKodu" type="text" aria-label="Default" aria-describedby="">
                                                                               </div> 
                                                                             </div>     
                                                                    </div>   
                                                                     <div class="col-md-6" >
                                                                             <div class="row" style="margin-top:1%;">
                                                                                <div class="input-group col-md-12">
                                                                                    <div class="input-group-prepend">
                                                                                             <span class="input-group-text" id="inputGroup-sizing-default">Branş Kodu</span>
                                                                                    </div>
                                                                                    <input id="BransKodu"class="form-control" value="<%=user.BransKodu%>" name="BransKodu" type="text" aria-label="Default" aria-describedby="">
                                                                               </div>    
                                                                            </div>
                                                                             <div class="row" style="margin-top:1%;">    
                                                                               <div class="input-group col-md-12">
                                                                                   <div class="input-group-prepend">
                                                                                            <span class="input-group-text" id="inputGroup-sizing-default">Sertifika Kodu</span>
                                                                                   </div>
                                                                                   <input id="SertifikaKodu"class="form-control" value="<%=user.SertifikaKodu%>" name="SertifikaKodu" type="text" aria-label="Default" aria-describedby="">
                                                                              </div> 
                                                                            </div>     
                                                                    </div>   
                                                          </div>                                                                                   
                                                </div>
                 </div>
                                      
        </div>
    </div>
       



   