<%- include('hastaIzlemHeader'); -%>

<style>
.kutu{
        border-radius: 20px;
    background: #ffffff;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-table;
}


</style>
          <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Medeni Hali<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=medenihal%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Evlenme Yaşı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=hasta.evlenmeYasi%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Canlı/Ölü Sayısı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=hasta.CanliDogum+'/'+hasta.OluDogum%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Düşük Sayısı <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=hasta.dusukSayisi%></b></div>
          </div>
          <div class="row" style="">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Konjenital Anomali Doğumu <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=konjen%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Kan Grubu<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=esKanGrubu%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Ad Soyad<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=hasta.EsAdSoyad%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Yaş <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=hasta.EsYas%></b></div>
          </div>
          <div class="row" style="">
                <div class="col-md-3"><div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Aşı Kartı</div></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Kan Grubu <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=esKanGrubu%></b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Telefonu  <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;"><%=hasta.EsTelefon%></b></div>
          </div>
            <div class="container" style="height: 20%;">
                 <div class="row" style="height: 100%;border-radius: 20px;padding: 8px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;position: relative;">
                          <div class="col-md-2">
                                        <div class="row">
                                                  <img src="/public/img/aşıkartı.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto;margin-right: auto;max-width: 80px;max-height: 80px;">   
                                        </div> 
                                        <div class="col-md-12"style="color:blue;text-align: center; margin-top: 4%;">Aşı Kartı</div>
                                        <div id="asiEkleBtn" class="col-md-12"style="color:red;text-align: center; margin-top: 5%;">+Yeni Aşı</div>  
                          </div>   
                          <div id="td1" class="col-md-2">
                                 
                                <%if (td1!=undefined) { %>
                                             
                                                  
                                                   <div class="kutu" style=" height: 85%;border-color: green;
                                                   border-style: groove;
                                                   border-width: 6px;">
                                                           <div class="row">
                                                                        <div class="col-md-12 row">
                                                                                <div class="col-md-6">
                                                                                        <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                                </div> 
                                                                                <div class="col-md-6"style="margin:auto;">TD1</div> 
                                                                        </div> 
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 5%;"> <%=td1.ASI_YAPILMA_ZAMANI%> </div>
                                                          </div> 
                                                        </div>
                                 <% } else {%>                          
                               
                                        <div class="kutu" style=" height: 85%;border-color: red;
                                        border-style: groove;
                                        border-width: 6px;">
                                                <div class="row">
                                                        <div class="col-md-12 row">
                                                                <div class="col-md-6">
                                                                        <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                </div> 
                                                                <div class="col-md-6"style="margin:auto;">TD1</div> 
                                                        </div> 
                                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                                </div> 

                                        
                                        
                                        
                                        </div>

                                <% } %>
                         
                         
                        

                                </div>
                                <div id="td2" class="col-md-2">
                                               <%if (td2!=undefined) { %>
                                             
                                                  
                                                   <div class="kutu" style=" height: 85%;border-color: green;
                                                   border-style: groove;
                                                   border-width: 6px;">
                                                           <div class="row">
                                                                        <div class="col-md-12 row">
                                                                                <div class="col-md-6">
                                                                                        <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                                </div> 
                                                                                <div class="col-md-6"style="margin:auto;">TD2</div> 
                                                                        </div> 
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 5%;"> <%=td2.ASI_YAPILMA_ZAMANI%> </div>
                                                          </div> 
                                                        </div>
                                 <% } else {%>                          
                               
                                        <div class="kutu" style=" height: 85%;border-color: red;
                                        border-style: groove;
                                        border-width: 6px;">
                                                <div class="row">
                                                        <div class="col-md-12 row">
                                                                <div class="col-md-6">
                                                                        <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                </div> 
                                                                <div class="col-md-6"style="margin:auto;">TD2</div> 
                                                        </div> 
                                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                                </div> 

                                        
                                        
                                        
                                        </div>

                                <% } %>

                                </div>
                                <div id="td3" class="col-md-2">
                                                <%if (td3!=undefined) { %>
                                             
                                                  
                                                   <div class="kutu" style=" height: 85%;border-color: green;
                                                   border-style: groove;
                                                   border-width: 6px;">
                                                           <div class="row">
                                                                        <div class="col-md-12 row">
                                                                                <div class="col-md-6">
                                                                                        <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                                </div> 
                                                                                <div class="col-md-6"style="margin:auto;">TD3</div> 
                                                                        </div> 
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 5%;"> <%=td3.ASI_YAPILMA_ZAMANI%> </div>
                                                          </div> 
                                                        </div>
                                 <% } else {%>                          
                               
                                        <div class="kutu" style=" height: 85%;border-color: red;
                                        border-style: groove;
                                        border-width: 6px;">
                                                <div class="row">
                                                        <div class="col-md-12 row">
                                                                <div class="col-md-6">
                                                                        <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                </div> 
                                                                <div class="col-md-6"style="margin:auto;">TD3</div> 
                                                        </div> 
                                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                                </div> 

                                        
                                        
                                        
                                        </div>

                                <% } %>

                                </div>
                                <div id="td4" class="col-md-2">
                                                 <%if (td4!=undefined) { %>
                                             
                                                  
                                                   <div class="kutu" style=" height: 85%;border-color: green;
                                                   border-style: groove;
                                                   border-width: 6px;">
                                                           <div class="row">
                                                                        <div class="col-md-12 row">
                                                                                <div class="col-md-6">
                                                                                        <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                                </div> 
                                                                                <div class="col-md-6"style="margin:auto;">TD4</div> 
                                                                        </div> 
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 5%;"> <%=td4.ASI_YAPILMA_ZAMANI%> </div>
                                                          </div> 
                                                        </div>
                                 <% } else {%>                          
                               
                                        <div class="kutu" style=" height: 85%;border-color: red;
                                        border-style: groove;
                                        border-width: 6px;">
                                                <div class="row">
                                                        <div class="col-md-12 row">
                                                                <div class="col-md-6">
                                                                        <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                </div> 
                                                                <div class="col-md-6"style="margin:auto;">TD4</div> 
                                                        </div> 
                                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                                </div> 

                                        
                                        
                                        
                                        </div>

                                <% } %>
                                </div>
                                <div id="td5" class="col-md-2">
                                                <%if (td5!=undefined) { %>
                                             
                                                  
                                                   <div class="kutu" style=" height: 85%;border-color: green;
                                                   border-style: groove;
                                                   border-width: 6px;">
                                                           <div class="row">
                                                                        <div class="col-md-12 row">
                                                                                <div class="col-md-6">
                                                                                        <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                                </div> 
                                                                                <div class="col-md-6"style="margin:auto;">TD5</div> 
                                                                        </div> 
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 5%;"> <%=td5.ASI_YAPILMA_ZAMANI%> </div>
                                                          </div> 
                                                        </div>
                                 <% } else {%>                          
                               
                                        <div class="kutu" style=" height: 85%;border-color: red;
                                        border-style: groove;
                                        border-width: 6px;">
                                                <div class="row">
                                                        <div class="col-md-12 row">
                                                                <div class="col-md-6">
                                                                        <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                </div> 
                                                                <div class="col-md-6"style="margin:auto;">TD5</div> 
                                                        </div> 
                                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                                </div> 

                                        
                                        
                                        
                                        </div>

                                <% } %>
                               </div>

             </div>
             <div class="row" style="margin-top:1%;margin-left: auto;margin-right: auto;"><p id="gebelikNeden"style="visibility: visible; color: darkred; margin: auto;transition: all ease-in .2s;"><b>Bu Nedenden Gebelikte Risk Var</b></p></div>

                           
           </div>


           <div class="container" style="height: 22%;margin-top: 3%;">                          

                <div class="row" style="margin-top:1%;height: 80%;background-color:white;border-radius: 15px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                     <div id="b1" class="" style="width: 20%;">  
                        <% for(var i=0; i < iz.length ; i++) {%>
                                <%if (iz[i].KacinciGebeIzlem==1) { %>
                                      <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;font-size: 0.8rem;">  
                                            İzlem 1:<p style="margin: 0;"> <%=iz[i].Tarih%> </p>
                                      </div>
                                <% } %>                          
                          <%} %>                                                      
                     </div>
                     <div id="b2" class="" style="width: 20%;">  
                        <% for(var i=0; i < iz.length ; i++) {%>
                                <%if (iz[i].KacinciGebeIzlem==2) { %>
                                      <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;font-size: 0.8rem;">  
                                            İzlem 2:<p style="margin: 0;"> <%=iz[i].Tarih%> </p>
                                      </div>
                                <% } %>                          
                          <%} %>                                                      
                     </div>
                     <div id="b3" class="" style="width: 20%;">  
                        <% for(var i=0; i < iz.length ; i++) {%>
                                <%if (iz[i].KacinciGebeIzlem==3) { %>
                                      <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;font-size: 0.8rem;">  
                                            İzlem 3:<p style="margin: 0;"> <%=iz[i].Tarih%> </p>
                                      </div>
                                <% } %>                          
                          <%} %>                                                      
                     </div>
                     <div id="b4" class="" style="width: 20%;">  
                        <% for(var i=0; i < iz.length ; i++) {%>
                                <%if (iz[i].KacinciGebeIzlem==4) { %>
                                      <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;font-size: 0.8rem;">  
                                            İzlem 1:<p style="margin: 0;"> <%=iz[i].Tarih%> </p>
                                      </div>
                                <% } %>                          
                          <%} %>                                                      
                     </div>
                     <div id="b5" class="" style="width: 20%;">  
                        <% for(var i=0; i < iz.length ; i++) {%>
                                <%if (iz[i].KacinciGebeIzlem==96) { %>
                                      <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;font-size: 0.8rem;">  
                                            İzlem Dışı:<p style="margin: 0;"> <%=iz[i].Tarih%> </p>
                                      </div>
                                <% } %>                          
                          <%} %>                                                      
                     </div>
                   
               </div>
               <div class="row" style="background-color:blue;border-radius: 15px;border-top-left-radius: 0;border-top-right-radius: 0;">
                           <div style="width: 20%;text-align: center;color: white;border-right-style: solid;font-size: 0.8rem;">  
                                           0-14 Hafta
                           </div>
                       
                           <div style="width: 20%;text-align: center;color: white;border-right-style: solid;font-size: 0.8rem;">  
                                           18-24 Hafta 
                           </div>
                         
                           <div style="width: 20%;text-align: center;color: white;border-right-style: solid;font-size: 0.8rem;">  
                                          28-32 Hafta
                           </div>
                           <div style="width: 20%;text-align: center;color: white;border-right-style: solid;font-size: 0.8rem;">  
                                36-38 Hafta
                           </div>
                    
                           <div style="width:20%;text-align: center;color: white;font-size: 0.8rem;">  
                                 Aralık Dışı
                           </div>
                           
                </div>
             </div>


<div class="row"style="text-align: center;margin-top:5px;">
    <div class="col-md-5"></div>
    <div class="col-md-7">
            <button id="digerGebeliklerBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Diğer Gebelikler</button>
            <button id="gebelikSonlandirBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Gebelik Sonlandır</button>
            <button id="btnYeniIzlem" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Yeni İzlem</button>

    </div>
</div>


<!-- Modal -->
<div class="modal" id="YeniAsiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
       
         <!-- Modal content-->
             <div class="modal-content" style="background-color:#f1f3f3;">
                  <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                      <div style="color: white;    font-size: x-large;">Aşı Ekle</div> 
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                         <div class="container" style="margin-top: 1%;">
                          <form id="hastayaAsiEkleForm" method="post" action="/hasta/asiKaydet"> 
                            <div class="row" style="">    
                                <div class="input-group  input-group-sm col-md-6" style="">
                                   <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Aşı Adı</span>
                                   </div>
                                    <select id="eAsiAdi" name="asiAdi"class="browser-default custom-select" required>
                                       <% asilar.forEach(function(element) { %>
                                         <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                        <%}); %>
                                    </select>
                                </div>
                                <div class="input-group  input-group-sm col-md-6" style="">
                                   <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Aşı Kaynak</span>
                                   </div>
                                    <select name="asiKaynak"class="browser-default custom-select" required>
                                       <% asikaynak.forEach(function(element) { %>
                                         <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                        <%}); %>
                                    </select>
                                </div>
                           </div>
                           <div class="row" style="margin-top: 1%;">
                              <div class="input-group  input-group-sm  col-md-6">
                                 <div class="input-group-prepend">
                                      <span class="input-group-text " id="inputGroup-sizing-default">Lot/Pari No</span>
                                 </div>
                                <input class="form-control" name="lotNo" type="text" aria-label="Default" aria-describedby="">
                              </div>    
                              <div class="col-md-6">
                                <div class="input-group input-group-sm"style="">
                                    <div class="input-group-prepend">
                                         <span class="input-group-text " id="inputGroup-sizing-default">Aşı Uygulama Yeri</span>
                                    </div>
                                    <select name="uygulamaYeri"class="browser-default custom-select" required>
                                          <% asiuygulamayeri.forEach(function(element) { %>
                                           <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                       <%}); %>
                                    </select>
                                </div>
                            </div>             
                           </div>
      
                           
                           <div class="row" style="margin-top:1%;">
                            <div class="col-md-6">
                                <div class="input-group input-group-sm"style="">
                                    <div class="input-group-prepend">
                                         <span class="input-group-text " id="inputGroup-sizing-default">Uygulama Şekli</span>
                                    </div>
                                    <select name="uygulamaSekli"class="browser-default custom-select" required>
                                          <% asiuygulamasekli.forEach(function(element) { %>
                                           <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                       <%}); %>
                                    </select>
                                </div>
                            </div>
                           <div class="col-md-6">
                                 <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                         <span class="input-group-text " id="inputGroup-sizing-default">İşlem Türü</span>
                                    </div>
                                    <select id="islemTuru" name="islemTuru"class="browser-default custom-select" required>
                                          <% AsiIslemTuru.forEach(function(element) { %>
                                           <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                       <%}); %>
                                    </select>
                                </div>
                            </div>
                           </div>  
                           <div id="beyanZamanliRow" class="row" style="margin-top: 1%;display: none;">
                                <div class="container" style="border-style: groove;">
                                        <div class="row" style="margin-top: 1%;">
                                          <div class="input-group input-group-sm col-md-6">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapan TC</span>
                                          </div>
                                          <input class="form-control" name="islemYapan" type="number" aria-label="Default" aria-describedby="">
                                          </div>   
                                            <div class="input-group input-group-sm col-md-6">
                                              <div class="input-group-prepend">
                                                    <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Telefon</span>
                                              </div>
                                              <input class="form-control" name="BATel" type="number" aria-label="Default" aria-describedby="">
                                          </div>   
                                         
                                      </div>
                                       <div class="row" style="margin-top: 1%;">                                  
                                          <div class="input-group input-group-sm col-md-12">
                                              <div class="input-group-prepend">
                                                    <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Ad Soyad</span>
                                              </div>
                                              <input class="form-control" name="BAadSoyad" type="text" aria-label="Default" aria-describedby="">
                                          </div>        
                                      </div>
                                      <div class="row" style="margin-top: 1%;">
                                          <div class="input-group input-group-sm col-md-6">
                                                      <div class="input-group-prepend">
                                                                <span class="input-group-text " id="inputGroup-sizing-default">İl</span>
                                                      </div>
                                                      <select id="iller"  name="iller" class="browser-default custom-select">
                                                            <% iller.forEach(function(element) { %>
                                                            <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                            <%}); %>
                                                      </select>
                                        </div>
                                        <div class="input-group input-group-sm col-md-6">
                                                  <div class="input-group-prepend">
                                                        <span class="input-group-text " id="inputGroup-sizing-default">İlçe</span>
                                                  </div>
                                                  <select name="ilceler" id="ilceler" class="browser-default custom-select">
                                                      <% ilceler.forEach(function(element) { %>
                                                        <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                      <%}); %>
                                                  </select>
                                        </div>
                                      </div>
                                      <div class="row" style="margin-top: 1%;margin-bottom: 1%;">
                                            <div class="input-group input-group-sm col-md-12">
                                                                <div class="input-group-prepend">
                                                                      <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapılan Yer</span>
                                                                </div>
                                                                <select id="islemYer" name="islemYer" class="browser-default custom-select">
                                                                  <% islem.islemYer.forEach(function(element) { %>
                                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                  <%}); %>
                                                                </select>
                                            </div>
                                      </div>  
                                </div>  
                          </div>                   
                           <div class="row" style="margin-top: 1%;">
                            <div class="input-group input-group-sm col-md-12">
                               <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Açıklama</span>
                               </div>
                              <input class="form-control" name="yeniAsiAciklama" type="text" aria-label="Default" aria-describedby="">
                            </div>                 
                           </div>
                           <div class="row" style="margin-top: 1%;">
                              <div class="input-group input-group-sm col-md-6">
                               <div class="input-group-prepend">
                                    <span class="input-group-text " id="inputGroup-sizing-default">Karekod</span>
                               </div>
                              <input class="form-control" name="karekod" type="text" aria-label="Default" aria-describedby="">
                            </div>   
                            <div class="col-md-6">
                                  <div class="input-group input-group-sm"style="">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text " id="inputGroup-sizing-default">Doz Miktarı</span>
                                      </div>
                                      <select id="asiDoz" name="asiDoz"class="browser-default custom-select" required>
                                            <% asidoz.forEach(function(element) { %>
                                            <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                        <%}); %>
                                      </select>
                                  </div>
                              </div>            
                           </div>
                           <div id="ozelDurumNedeni" class="row" style="margin-top: 1%;display: none;">
                              <div class="col-md-12">
                                    <div class="input-group input-group-sm"style="margin-top:1%;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Aşı Özel Durum Nedeni</span>
                                        </div>
                                        <select  name="ASI_OZEL_DURUM_NEDENI"class="browser-default custom-select" required>
                                              <% ASI_OZEL_DURUM_NEDENI.forEach(function(element) { %>
                                              <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                          <%}); %>
                                        </select>
                                    </div>
                                </div>            
                           </div>
                           
                           <div class="row" style="margin-top:1%;">
                            <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6">
                               <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input" name="stokDusur" id="stokDusur" value="1">
                                  <label class="custom-control-label" for="stokDusur">Stoktan Düşür</label>
                               </div>
                            </div>
                           </div>   
                           <div class="row" style="margin-top:1%;">
                                <div class="col-md-6">
                                    <div class="input-group input-group-sm">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text " id="inputGroup-sizing-default">Seri No</span>
                                      </div>
                                      <input class="form-control" name="seriNo" type="text" aria-label="Default" aria-describedby="">
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="bolgedisi" id="bolgedisi" value="1">
                                      <label class="custom-control-label" for="bolgedisi">Bölge Dışında Yapıldı</label>
                                  </div>
                                </div>
                           </div>   
                           <div class="row" style="margin-top:1%;">
                                  <div class="col-md-6">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Aşı Yapılma Zamanı</span>
                                        </div>
                                        <input id="asiTar" class="dateCss form-control" name="asiTar" type="date" aria-label="Default" aria-describedby="">
                                    </div> 
                                  </div>
                                <div class="col-md-6">
                                      <div class="custom-control custom-checkbox custom-control-inline">
                                          <input type="checkbox" class="custom-control-input" name="ozhekimAsisi" id="ozhekimAsisi" value="1">
                                          <label class="custom-control-label" for="ozhekimAsisi">Özel Hekim Aşısı</label>
                                      </div>
                                </div>
                           </div> 
                           
                      
                               <div class="row" style="margin-top:2%;">                                                     
                                    <div class="col-md-12">
                                                <button  id='asiKaydetBtn' type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Kaydet</button>
                                    </div>                                      
                              </div>                   
                            </form>
                               
                         </div>
                  </div>
             </div>
         </div>
      </div>




<form id="YeniIzlemForm" action="/izlemler/Gebeizlem/YeniIzlem" method="post"></form>
<form id="digerGebeliklerForm" action="/izlemler/Gebeizlem/digergebelikler" method="post"></form>
<form id="gebelikSonlandirForm" action="/izlemler/Gebeizlem/gebelikSonlandirmaSayfasi" method="post"></form>


<script>
$( "#btnYeniIzlem" ).click(function() {
    //var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
    //$('#YeniIzlemForm').append(input);
    $('#YeniIzlemForm').submit();
     
});
$( "#digerGebeliklerBtn" ).click(function() {
    //var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
    //$('#YeniIzlemForm').append(input);
    $('#digerGebeliklerForm').submit();
     
});
$( "#gebelikSonlandirBtn" ).click(function() {
    //var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
    //$('#YeniIzlemForm').append(input);
    $('#gebelikSonlandirForm').submit();
     
});





$(document).ready( function() {
  $("#islemTuru").change(function(){
    var islemTuru = $(this).children("option:selected").val();
    if(islemTuru==1){
        $('#beyanZamanliRow').hide()
    }
    if(islemTuru==2){
      $('#beyanZamanliRow').show()
    }
  });
  $("#asiDoz").change(function(){
    var asiDoz = $(this).children("option:selected").val();
    $('#ozelDurumNedeni').hide()
    if(asiDoz==9){
        $('#ozelDurumNedeni').show()
    }
    if(asiDoz==7){// aşı doz 7 sadece 2 aşı için gönderiliyor
       $("#eAsiAdi").children("option").attr('disabled','disabled')
       $("#eAsiAdi option[value=" + 3 + "]").removeAttr('disabled');
       $("#eAsiAdi option[value=" + 5 + "]").removeAttr('disabled');
       $("#eAsiAdi").val(3)

    }
    else  $("#eAsiAdi").children("option").removeAttr('disabled')
  });
});


    


$( "#asiEkleBtn" ).click(function() {
      $( "#YeniAsiModal" ).modal('show')
});
$( "#asiKaydetBtn" ).click(function() {
            
            $.ajax({
                type: "post",
                url: '/hasta/asiKaydet',
                data:$('#hastayaAsiEkleForm').serialize(),
                success: function(data)
                {
                        alert('Aşı Eklenmiştir.')  
                        $( "#YeniAsiModal" ).modal('hide')
                        if($("#eAsiAdi").val()==9){
                                asiDoz='td'+$("#asiDoz").val()
                                $("#"+asiDoz).empty()

                                html=`<div class="kutu" style=" height: 85%;border-color: green;
                                                   border-style: groove;
                                                   border-width: 6px;">
                                                           <div class="row">
                                                                        <div class="col-md-12 row">
                                                                                <div class="col-md-6">
                                                                                        <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                                                                </div> 
                                                                                <div class="col-md-6"style="margin:auto;">TD${$("#asiDoz").val()}</div> 
                                                                        </div> 
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                                                  <div class="col-md-12"style="text-align: center; margin-top: 5%;"> ${$("#asiTar").val()} </div>
                                                          </div> 
                                                        </div>`
                                $("#"+asiDoz).append(html)

                        }
                }
            });
    });
    $(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    console.log(today)
    $('#asiTar').val(today);
});
</script>