

<%- include('hastaIzlemHeader'); -%>
<form id="gebeFORM" method="post">

<div class="container" style="margin-top: 1%;">
          <div class="row" style="">
                             <div id="izlembilgileriSekme" class="col-md-6 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 10px;">İzlem Bilgileri</div>
                             <div id="riskSekme" class="col-md-6 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 10px;text-align: center;">Risk Faktörleri/İşaretler/İşlemler/Gebe Bilgilendirme ve Danışma</div>   
          </div>
 </div>

           <div id="bebekSekme1" class="container bebekTab">
              <%- include('gebeizlem-YeniIzlemSekme1'); -%>
          </div>
         
          <div id="bebekSekme2"class="container bebekTab"style="display:none;">
              <%- include('gebeizlem-YeniIzlemSekme2'); -%>
          </div>
          <div class="container"style="">
            <div class="row" style="">
                         <div class="col-md-9" style="">      
                               <div class="" style="margin-top: 1%;">
                                 <div class="" style="font-weight: bold;color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Açıklama</div>
                              </div>
                                             <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                                 <textarea name="aciklama" class="kutu" rows="5" placeholder=".." required=""></textarea>
                                             </div>
                         </div>
                         <div class="col-md-3" style="margin: auto;">    
                                 <div class="row"style="margin: auto;margin-top:5%">
                                     <div class="col-md-12" style="margin: auto;color: #325179;">
                                         <div class="input-group input-group-sm">
                                                 <div class="input-group-prepend">
                                                     <span class="input-group-text " id="inputGroup-sizing-default">İzlem Tarihi</span>
                                                 </div>
                                                 <input id="izlemTarihi" class="form-control" name="izlemTarihi" type="date"  aria-label="Default"value >
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row"style="margin: auto;margin-top:1%"><div data-toggle="modal" data-target="#islemBilgileriModal"  class="col-md-6" style="color: #325179;"><u>İşlem Bilgileri</u></div></div>                                          
                                  <div class="row" style="margin-top: 3%;">
                                                     <div class="custom-control custom-checkbox custom-control-inline" style="margin:auto;" >
                                                             <input type="checkbox" class="custom-control-input" name="sbGonder" id="sbGonder" value="1">
                                                             <label class="custom-control-label" for="sbGonder">İzlemi Sağlık Bakanlığına da Gönder</label>
                                                     </div>  
                                 </div>   
                                          
                                  <div class="row" style="margin-top: 1%;">  
                                          <div class="col-md-11" style="margin: auto;">      

                                             <input class="btn btn-lg btn-block" id="KaydetbtnGebe" type="button" style="background-color: #325179; color: white;" value="Kaydet">         
                                         </div>                                 
                                  </div>            
                         </div>
            </div>
        </div> 
  
<!-- Modal -->
<div class="modal" id="islemBilgileriModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content" style="background-color:#f1f3f3;">
        <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
           <div style="color: white;    font-size: x-large;">İşlem Bilgileri</div> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
       
        <div class="container" style="margin-top: 1%;">
             <div class="row" style="margin-top: 2%;">
                      <div class="input-group mb-3 col-md-10">
                            <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapan Kişinin TC </span>
                            </div>
                             <input class="form-control" name="islemYapanTc" type="text" aria-label="Default" aria-describedby="" value="<%=islem.Tc%>">
                      </div>                     
              </div>
              <div class="row" style="margin-top: 1%;">
                      <div class="input-group mb-3 col-md-10">
                            <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Kişinin Adı Soyadı</span>
                            </div>
                             <input class="form-control" name="baAdSoyad" type="text" aria-label="Default" aria-describedby=""value="<%=hasta.Ad+" "+hasta.Soyad %>">
                      </div>                     
              </div>
              <div class="row" style="margin-top: 1%;">
                      <div class="input-group mb-3 col-md-10">
                            <div class="input-group-prepend">
                                   <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Kişinin Telefonu</span>
                            </div>
                             <input class="form-control" name="baTel" type="text" aria-label="Default" aria-describedby=""value="<%=hasta.Telefon_Cep%>">
                      </div>                     
              </div>
              <div class="row" style="margin-top: 1%;">
                    <div class="input-group mb-3 col-md-6">
                                <div class="input-group-prepend">
                                          <span class="input-group-text " id="inputGroup-sizing-default">İl</span>
                                </div>
                                <select id="iller"  name="iller" class="browser-default custom-select">
                                      <% iller.forEach(function(element) { %>
                                       <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                       <%}); %>
                                </select>
                   </div>
                   <div class="input-group mb-3 col-md-6">
                             <div class="input-group-prepend">
                                  <span class="input-group-text " id="inputGroup-sizing-default">İlçe</span>
                             </div>
                             <select name="ilceler" id="ilceler" class="browser-default custom-select">
                                <% ilceler.forEach(function(element) { %>
                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                 <%}); %>
                             </select>
                   </div>
               </div>
               <div class="row" style="margin-top: 1%;">
                      <div class="input-group mb-3 col-md-10">
                                      <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapılan Yer</span>
                                           </div>
                                           <select id="islemYer" name="islemYer" class="browser-default custom-select">
                                            <% islem.islemYer.forEach(function(element) { %>
                                             <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                             <%}); %>
                                           </select>
                                      </div>
                       </div>          
              </div>
              <div class="row" style="margin-top: 1%;">
                          <div class="col-md-5" style="">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="disarda" id="disarda" value="1">
                                      <label class="custom-control-label" for="disarda">Dışarda</label>
                                </div>  
                          </div>    
              </div>
        </div>
  
       
      </div>
    </div>
    </div>
          
 
</form>

<form id="hastaProfili" action="/hasta/hastaProfili" method="post"></form>



<script>

$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#izlemTarihi').val(today);
});

secilenGDTler=[]
secilenFTSler=[]

GEBELIKTE_RISK_FAKTORLERI=[]
GEBELIK_SEYRINDE_TEHLIKE_ISARETI=[]
BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER=[]
BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER=[]
GEBEDE_RISK_FAKTORLERINE_YAPILAN_MUDAHALE=[]
GEBEDE_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI=[]


$( "#KaydetbtnGebe" ).click(function() {
            var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
            $('#gebeFORM').append(input);
       
            var input3 = $("<input>").attr("type", "hidden").attr("name", "secilenGDTler").val(JSON.stringify(secilenGDTler));
            $('#gebeFORM').append(input3);
            if(GEBELIKTE_RISK_FAKTORLERI.length>0){
                var input3 = $("<input>").attr("type", "hidden").attr("name", "GEBELIKTE_RISK_FAKTORLERI").val(JSON.stringify(GEBELIKTE_RISK_FAKTORLERI));
                $('#gebeFORM').append(input3);
            }
            if(GEBELIK_SEYRINDE_TEHLIKE_ISARETI.length>0){
                var input3 = $("<input>").attr("type", "hidden").attr("name", "GEBELIK_SEYRINDE_TEHLIKE_ISARETI").val(JSON.stringify(GEBELIK_SEYRINDE_TEHLIKE_ISARETI));
                $('#gebeFORM').append(input3);
            }
            if(BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER.length>0){
                var input3 = $("<input>").attr("type", "hidden").attr("name", "BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER").val(JSON.stringify(BEBEGIN_COCUGUN_BEYIN_GELISIMINI_ETKILEYEBILECEK_RISKLER));
                $('#gebeFORM').append(input3);
            }
            if(BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER.length>0){
                var input3 = $("<input>").attr("type", "hidden").attr("name", "BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER").val(JSON.stringify(BEBEGIN_COCUGUN_PSIKOLOJIK_GELISIMINDEKI_RISKLERE_YONELIK_EGITIMLER));
                $('#gebeFORM').append(input3);
            }
            if(GEBEDE_RISK_FAKTORLERINE_YAPILAN_MUDAHALE.length>0){
                var input3 = $("<input>").attr("type", "hidden").attr("name", "GEBEDE_RISK_FAKTORLERINE_YAPILAN_MUDAHALE").val(JSON.stringify(GEBEDE_RISK_FAKTORLERINE_YAPILAN_MUDAHALE));
                $('#gebeFORM').append(input3);
            }
            if(GEBEDE_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI.length>0){
                var input3 = $("<input>").attr("type", "hidden").attr("name", "GEBEDE_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI").val(JSON.stringify(GEBEDE_SIK_IZLEME_ALINAN_RISK_ALTINDAKI_OLGUNUN_TAKIBI));
                $('#gebeFORM').append(input3);
            }
        
            $("#ftsLB option").each(function()
            {
                secilenFTSler.push($(this).val())
            })
            var input4 = $("<input>").attr("type", "hidden").attr("name", "secilenFTSler").val(JSON.stringify(secilenFTSler));
            $('#gebeFORM').append(input4);
            $.ajax({
                type: "POST",
                url: '/izlemler/Gebeizlem/kaydet',
                data: $('#gebeFORM').serialize(), // serializes the form's elements.
                success: function(data)
                {
                            alert('Gebe İzlem Kaydedilmiştir.')       
                            var input = $("<input>").attr("type", "hidden").attr("name", "isim").val(<%=hasta.Id%>);
                            $('#hastaProfili').append(input); 
                            $("#hastaProfili").submit();                         
                }
            });
         
});
        
var sekme="İzlem Bilgileri";
$( "#izlembilgileriSekme").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".bebekTab").css("display","none");
        $("#bebekSekme1").css("display","");
    }
 
});
$( "#riskSekme").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".bebekTab").css("display","none");
        $("#bebekSekme2").css("display","");
    }
});

        
</script>
