


<%- include('hastaHeader'); -%>
<form id="deyatliForm3" action="/hasta/detayli-muayene-4" method="post">


<div class="row" style="mmargin-top:2%;">
                                    <div class="col-md-2" style="">
                                                <div data-toggle="modal" data-target="#KronikHastaliklarModal" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 240px;">
                                                                   <div class="row"> <img src="/public/img/kronik.svg" style="margin: auto;height: 130px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Kronik Hastalıklar</div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-2" style="">
                                                <div class="" data-toggle="modal" data-target="#ameliyatModal" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 240px;">
                                                                   <div class="row"> <img src="/public/img/ameliyat.svg" style="margin: auto;height: 130px;width: 95px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Ameliyat ve Yaralanmalar</div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-2" style="">
                                                <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 240px;">
                                                                   <div class="row"> <img src="/public/img/surekliKullanilanIlaclar.svg" style="margin: auto;height: 110px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Sürekli Kullanılan İlaçlar</div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-2" style="">
                                                <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 240px;">
                                                                   <div class="row"> <img src="/public/img/alerji.svg" style="margin: auto;height: 130px;width: 95px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Alerji Durumu</div></div>
                                                </div>
                                    </div>
                                      <div class="col-md-2" style="">
                                                <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 240px;">
                                                                   <div class="row"> <img src="/public/img/surekliKullanilanIlaclar.svg" style="margin: auto;height: 110px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Genetik Hastalıklar</div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-2" style="">
                                                <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 240px;">
                                                                   <div class="row"> <img src="/public/img/hastaGrupları.svg" style="margin: auto;height: 130px;width: 95px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Hasta Grupları</div></div>
                                                </div>
                                    </div>

</div>
<div class="container" style="margin-top: 4%;">
<div class="row" style="">
         <div class="col-md-2" style="    text-align: center;">
                    <img src="/public/img/noSmoke.svg" style="width: 140px;margin: auto;">

         </div>
         <div class="col-md-10" style="">
                     <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="SigaraKullaniyor" name="SigaraKullaniyor">
                                        <label class="form-check-label" for="SigaraKullaniyor">Kullanıyor</label>
                                    </div>
                            </div>
                             <div class="" style="text-align: left;">Günde :</div>
                                                     <div class="" style="margin-left: 10px;">     
                                                         <input class="" type="number" placeholder="Adet">
                                                     </div>    
                                                     <div class="" style="text-align: left;margin-left: 25px;">Yıldır İçiyor :</div>
                                                     <div class="" style="">     
                                                         <input class="" type="number" placeholder="" style="margin-left: 10px;">
                                                     </div>    
                                                      <div class="" style="text-align: left;margin-left: 25px;">Yıldır İçmiyor :</div>
                                                     <div class="" style="">     
                                                         <input class="" type="number" placeholder="" style="margin-left: 10px;">
                             </div>    
                     </div>
                     <div class="row" style="margin-top: 3%;">
                                                     <div class="col-md-2" style="text-align: left;">Açıklama :</div>
                                                     <div class="col-md-10 row" style="">   
                                                                <input class="form-control" type="text" placeholder="Örnek..">
                                                     </div> 
                    </div>
         </div>
</div>
</div>


<div class="container" style="margin-top: 3%;">
<div class="row" style="">
         <div class="col-md-2" style="    text-align: center;">
                    <img src="/public/img/noAlkol.svg" style="width: 140px;margin: auto;">

         </div>
         <div class="col-md-10" style="">
                     <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="AlkolKullaniyor" name="AlkolKullaniyor">
                                        <label class="form-check-label" for="AlkolKullaniyor">Kullanıyor</label>
                                    </div>
                            </div>
                             <div class="" style="text-align: left;">Günde :</div>
                                                     <div class="" style="margin-left: 10px;">     
                                                         <input class="" type="number" placeholder="Adet">
                                                     </div>    
                                                     <div class="" style="text-align: left;margin-left: 25px;">Yıldır İçiyor :</div>
                                                     <div class="" style="">     
                                                         <input class="" type="number" placeholder="" style="margin-left: 10px;">
                                                     </div>    
                                                      <div class="" style="text-align: left;margin-left: 25px;">Yıldır İçmiyor :</div>
                                                     <div class="" style="">     
                                                         <input class="" type="number" placeholder="" style="margin-left: 10px;">
                             </div>    
                     </div>
                     <div class="row" style="margin-top: 3%;">
                                                     <div class="col-md-2" style="text-align: left;">Açıklama :</div>
                                                     <div class="col-md-10 row" style="">   
                                                                <input class="form-control" type="text" placeholder="Örnek..">
                                                     </div> 
                    </div>
         </div>
</div>
</div>

<div class="container" style="margin-top: 3%;">
<div class="row" style="">
         <div class="col-md-2" style="    text-align: center;">
                    <img src="/public/img/noDrug.svg" style="width: 140px;margin: auto;">

         </div>
         <div class="col-md-10" style="">
                     <div class="row" style="margin-top: 1%;">
                            <div class="col-md-2" style="">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="DragKullaniyor" name="DragKullaniyor">
                                        <label class="form-check-label" for="DragKullaniyor">Kullanıyor</label>
                                    </div>
                            </div>
                             <div class="" style="text-align: left;">Günde :</div>
                                                     <div class="" style="margin-left: 10px;">     
                                                         <input class="" type="number" placeholder="Adet">
                                                     </div>    
                                                     <div class="" style="text-align: left;margin-left: 25px;">Yıldır İçiyor :</div>
                                                     <div class="" style="">     
                                                         <input class="" type="number" placeholder="" style="margin-left: 10px;">
                                                     </div>    
                                                      <div class="" style="text-align: left;margin-left: 25px;">Yıldır İçmiyor :</div>
                                                     <div class="" style="">     
                                                         <input class="" type="number" placeholder="" style="margin-left: 10px;">
                             </div>    
                     </div>
                     <div class="row" style="margin-top: 3%;">
                                                     <div class="col-md-2" style="text-align: left;">Açıklama :</div>
                                                     <div class="col-md-10 row" style="">   
                                                                <input class="form-control" type="text" placeholder="Örnek..">
                                                     </div> 
                    </div>
         </div>
</div>
</div>


</form>
<form id="öncekiSayfaForm" action="/hasta/detayli-muayene-2" method="post"></form>



<div class="row" style="margin: auto;margin-top: 3%;"> 
        <div id="önceki" style="margin: auto;color: #325179;font-size: 20px;"><img src="/public/img/önceki.svg" class="" style="width: 10px;margin-right: 5px;"><b>Önceki</b></div>     
        <div id="sonraki"style="margin: auto;color: #325179;font-size: 20px;"><b>Sonraki</b><img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     
</div>
<!-- Modal -->
<div class="modal" id="KronikHastaliklarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content" style="background-color:#f1f3f3;">
            <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
               <div style="color: white;    font-size: x-large;">Kronik Hastalıklar</div> 
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                 <div class="container" style="margin-top: 3%;"> 
                         
                        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                                                    <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                                <div class="row ">
                                                                  <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Hastanın Kronik Hastalıkları </div>                                               
                                                                </div>
                
                                                      </div>
                                                        <div class="container" id="secilenKronikTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                                <% hastanınKronikHastalıkları.forEach(function(element) { %>
                                                                          <div  class="row secilenKronikTable ">
                                                                                 <div class="col-md-3 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-width: thin;"><%= element.ICD %></div>
                                                                                 <div class="col-md-9 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;"><%= element.Tani_Adi %></div> 
                                                                          </div>
                                                                 <%}); %>
        
                                                         </div>
                        </div>
                        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
              
                            <div class=" form-group has-search" style="width: 100%;" >
                                     <span class="fa fa-search form-control-feedback"></span>
                                     <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:1.5rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                            </div>                            
               
                                                      <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                                <div class="row ">
                                                                  <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Yeni Kronik Hastalık Ekle</div>                                               
                                                                </div>                                                      
                                                      </div>
                                                       <div class="container headerDiv" id="KronikTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                       
                                                              <% kronikHastalıklar.forEach(function(element) { %>
                                                            <div class="row kronikRow">
                                                                    <div class="col-md-3 cbxKronik" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                             <% color="red";%>  
                                                                              <%hastanınKronikHastalıkları.forEach(function(hk) {
                                                                                      if(hk.ICD.trim()==element.KODU.trim()){color="green" ;}                                                                
                                                                             });%>
                                                                              <div class="" style="background-color:<%= color %>;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                                    </div> 
                                                                     <div class="col-md-3 kodKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.KODU %></div> 
                                                                     <div class="col-md-6 isimKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                            </div>
                                                            <%}); %>
                                                        </div>  
                        </div>
                </div>
           </div>
             <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                      <button id="kronikKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
            </div>
        </div>
        </div>
        </div>

<script src="/public/js/detaylı.js"></script>
<script>

$("#taniAra").on("keyup", function () {
            var value = $(this).val().toLowerCase();
                $( ".kronikRow" ).remove();
                $.get( "/kronikFilter", { value:value} )
                    .done(function( tanılar ) {      
                                $.each(tanılar, function (index, value) {
                                    color="red"
                                    var found_names = $.grep(secilenKronikler, function(v) {
                                        return v.KODU === value.KODU;
                                    });
                                    if (found_names.length==1){color="green"}
                                  var html= '<div class="row kronikRow">';
                                  html+= ' <div class="col-md-3 cbxKronik" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                                  html+= ' <div class="" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'"></div></div> ';  
                                  html+= '<div class="col-md-3 kodKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.KODU+'</div>  ';
                                  html+= '<div class="col-md-6 isimKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
                                                                                     
                                  $( ".headerDiv" ).append(html);         
                                });  
                });
});
var secilenKronikler=[];
     <%hastanınKronikHastalıkları.forEach(function(hk) {%>
            
            secilenKronikler.push({KODU:'<%= hk.ICD %>',ADI:'<%= hk.Tani_Adi %>'});    
  <%});%>

  $(document).on('click', ".kronikRow", function(){
    //Your code

    if($(this).children(".cbxKronik").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxKronik").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxKronik").children().attr("name");
        var ADI= $(this).children(".isimKronik").html();

       var html= '<div  class="row secilenKronikTable ">';
       html+= '<div class="col-md-3 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-width: thin;">'+ KODU+'</div>'; 
       html+= '<div class="col-md-9 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
      
        $("#secilenKronikTable").append(html);
        var t={KODU:KODU,ADI:ADI};
        secilenKronikler.push(t);
    }
    else{
        $(this).children(".cbxKronik").children().css('background-color','red')
        var KODU= $(this).children(".cbxKronik").children().attr("name");
        var str=":contains("+KODU+")" ;
        $(".secilenKronikTable").remove(str);
        secilenKronikler.forEach(element => {
            if(element.KODU==KODU){
                secilenKronikler = jQuery.grep(secilenKronikler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$( "#kronikKaydetBtn" ).click(function() {
       $.ajax({
        url: '/hasta/hastaKronik',
        method: 'get',
        data: { secilenKronikler: secilenKronikler}
        }).done(function(res) {
              alert("Değişiklikler Kaydedildi..");
      });

});

$( "#sonraki").click(function() {
        $('#deyatliForm3').submit();
});
$( "#önceki").click(function() {
        $('#öncekiSayfaForm').submit();
});



</script>