
<%- include('hastaHeader'); -%>
<script>
$(document).on('click', ".barkodRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $('.barkodRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choiceBarkod").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choiceBarkod").html();
    }
});
</script>

<div class="container">
                       <div class="row">
                             <div class="col-md-3">
                                   <div class="row barkodRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceBarkod" style="padding: 10px;">Barkod Girişi Aktif</div>
                                   </div>
                             </div>
                             <div class="col-md-3">
                                    <div class="row barkodRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceBarkod" style="padding: 10px;">Her Tüp İçin Ayrı Barkod</div>
                                   </div>                             
                             </div>
                       </div>
 </div>                 
<div class="row">
        <div class="col-md-6">
                  <div class="row" style="margin-top: 25px;width: 92%;margin-left: auto;margin-right: auto;">
                                              <div class="col-md-3" style="margin: auto;">Tetkik Türü</div>
                                              <div class="col-md-9" style="">     
                                                       <select id="tetkikTürleri" class="browser-default custom-select">
                                                       </select>
                                              </div>        
                  </div>
         </div>
         <div class="col-md-6">
                         <div class="row" style="margin-top: 25px;width: 92%;margin-left: auto;margin-right: auto;">
                                              <div class="col-md-2" style="">Panel</div>
                                              <div class="col-md-8" style="">     
                                                       <select id="" class="browser-default custom-select">
                                                       </select>
                                              </div>
                                              <div class="col-md-2">                                                              
                                                                 <div class="form-group has-search" style="height:40px; background-color: #fff;border: 1px solid #ced4da;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;text-align: center;">                                                               
                                                                   <img id="plus" src="/public/img/plus.svg" onerror="this.onerror=null; this.src='image.png'" style="height: 30px;margin: auto;margin-top: 4%;">                                                                   
                                                                 </div>                                                              
                                            </div>
                        </div>
          </div>
 </div>

 <div class="row">
        <div class="col-md-6">                                
                                      <div class="row" style="">
                                            <div class="container">
                                                    <div class="">
                                                         <div class="" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">Testler</div>                                               
                                                    </div>                                                                      
                                            </div>  
                                            <div class="container">
                                               <div class="" id="testlerTable"style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                                    <div class="row testlerheaderDiv"></div>
                                    
                                                   
                                               </div>  
                                            </div>  
                                      </div>   
                                      <div class="row" style="margin-top:3%;">
                                             <div class="container">
                                                        <div class="" id="secilenHeader">
                                                                   <div class="" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                                                                             İstemler
                                                                  </div> 
                                                       </div>
                                          </div>
                                           <div class="container">
                                                <div class="" id="secilenTestlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                                      
                                                 </div>
                                          </div>
                                      </div>
        </div>   
         <div class="col-md-6">
                        
                        <div class="row" style="">
                                             <div class="container">
                                                        <div class="" id="secilenHeader">
                                                                   <div class="" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                                                                             Seçilen Panel-İstemler
                                                                  </div> 
                                                       </div>
                                          </div>
                                           <div class="container">
                                                <div class="" id="secilenTestlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 639px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                                      
                                                 </div>
                                          </div>
                       </div>

        </div>   
</div>


<div class="row" style="margin-top: 2%;">
                              <button type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Sevket</button>
                              <button id="receteBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Reçete</button>
                              <button id="mynBitirBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Muayeneyi Bitir</button>
</div>





<!-- Modal -->
<div class="modal" id="sevketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Sevk Bilgileri</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
   
    <div class="container" style="margin-top: 3%;">
         <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Nedeni</div>
                        <div class="col-md-6" style="">     
                                  <select class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                         <% SevkNedeni.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                         <%}); %>
                                  </select>

                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edilen Hastane</div>
                        <div class="col-md-6" style="">     
                                  <select class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                                 <option value="sgk">SGK</option>
                                  </select>

                        </div>        
          </div>
         <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Vasıtası</div>
                        <div class="col-md-6" style="">     
                                      <label class="radio-inline">
                                            <input type="radio" value="1" name="sevkVasitasi" checked>Ambulans
                                      </label>
                                      <label class="radio-inline" style="margin-left: 10%;">
                                            <input type="radio" value="0" name="sevkVasitasi">Kendi İmkanlarıyla
                                      </label>
                        </div>          
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Refakatçi Durumu</div>
                        <div class="col-md-6" style="">     
                                      <label class="radio-inline">
                                            <input type="radio" value="1" name="refakatci" checked>Var
                                      </label>
                                      <label class="radio-inline" style="margin-left: 10%;">
                                            <input type="radio" value="0"name="refakatci">Yok
                                      </label>
                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edileceği İl</div>
                        <div class="col-md-6" style="">     
                                  <select id="iller" class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                                 <% Sehirler.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                  </select>
                        </div>        
          </div>
       



          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edileceği İlçe</div>
                        <div class="col-md-6" style="">     
                                  <select id="ilceler"class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                  </select>

                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Açıklama</div>
                        <div class="col-md-6" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>

                        </div>        
          </div>


    </div>
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button id="temizleSevketModal" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
  </div>
  
</div>
</div>
</div>



 <form id="kisaAnamnezForm">
</form>


<script>



$( "#receteBtn").click(function() {
    $('#kisaAnamnezForm').attr('action', '/hasta/kisaAnamnez/recete');
    $('#kisaAnamnezForm').attr('method', 'get');
  

    $('#kisaAnamnezForm').submit();
});

$( "#mynBitirBtn").click(function() {
    $('#mynBitirForm').submit();
});


var entegreler;
    var secilenTestler=[];


        $.ajax({
            url: '/Alis/entegKodlari',
            method: 'get',
            }).done(function(res) {
                entegreler=res.entegreler;
                var tetkikTürleri=Array();
                for (var i = 0; i <entegreler.length; i++) {
                    tetkikTürleri.push(entegreler[i].UNITE_ADI);
                }
                tetkikTürleri=unique(tetkikTürleri);


                for (var i = 0; i < tetkikTürleri.length; i++) {
                    if(tetkikTürleri[i].UNITE_ADI=="Hemogram"){
                         $('#tetkikTürleri').append('<option selected value="' + tetkikTürleri[i] + '">' + tetkikTürleri[i] + '</option>');
                    }
                    else{
                        $('#tetkikTürleri').append('<option value="' + tetkikTürleri[i] + '">' + tetkikTürleri[i] + '</option>');
                    }
                }

                $.each(entegreler, function (index, value) {
                    if(value.UNITE_ADI==$("#tetkikTürleri").val()){
                                color="rgb(255, 0, 0)"
                                // var found_names = $.grep(secilenTanılar, function(v) {
                                //     return v.kod === value.KODU;
                                // });
                                // if (found_names.length==1){color="green"}
                              var html= '<div class="row testRow">';
                              html+= '<div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                              html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.ENTEG_KODU+'?'+value.TEST_KISA_ADI+'"></div></div> ';  
                              html+= '<div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.TEST_KISA_ADI+'</div> </div>';
      
                              $( ".testlerheaderDiv" ).after(html);        
                    } 
                 });  
        
        });
       

    function unique(list) {
        var result = [];
        $.each(list, function(i, e) {
          if ($.inArray(e, result) == -1) result.push(e);
        });
        return result;
      }
      

      $("#tetkikTürleri").on("change", function () {

            $( ".testRow" ).remove();

            $.each(entegreler, function (index, e) {
                    if(e.UNITE_ADI==$("#tetkikTürleri").val()){
                        console.log(secilenTestler);
                                color="rgb(255, 0, 0)"
                                 var found_names = $.grep(secilenTestler, function(v) {
                                     return v.entegKodu == e.ENTEG_KODU;
                                 });
                                 if (found_names.length!=0){color="rgb(0,255, 0)"}
                              var html= '<div class="row testRow">';
                              html+= '<div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                              html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+e.ENTEG_KODU+'?'+e.TEST_KISA_ADI+'"></div></div> ';  
                              html+= '<div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+e.TEST_KISA_ADI+'</div> </div>';
      
                              $( ".testlerheaderDiv" ).after(html);        
                    } 
            });  
    });


$(document).on('click', ".testRow", function(){
    //Your code

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var entegKodu= $(this).children(".cbx").children().attr("name").split("?")[0];;
        var testKısaAdı= $(this).children(".cbx").children().attr("name").split("?")[1];;

       var html= '<div  class="row secilenTestlerTable ">';
       html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;">'+entegKodu+'</div>'; 
       html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+testKısaAdı+'</div> </div>';
      
        $("#secilenTestlerTable").append(html);
        var t={entegKodu:entegKodu,testKısaAdı:testKısaAdı};

        secilenTestler.push(t);
    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var entegKodu= $(this).children(".cbx").children().attr("name").split("?")[0];
        var str=":contains("+entegKodu+")" ;
        $(".secilenTestlerTable").remove(str);
        secilenTestler.forEach(element => {
            if(element.entegKodu==entegKodu){
                secilenTestler = jQuery.grep(secilenTestler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

//_-----------------il seçince ilçeler gelsin


$('#iller').on('change', function() {
    var ilkodu= this.value;

    $.ajax({
        url: '/ilceleriGetir',
        method: 'get',
        data: { ilkodu: ilkodu }
        }).done(function(res) {
            var ilceArray=res.ilceler;
            for (var i = 0; i <= ilceArray.length; i++) {
                $('#ilceler').append('<option value="' + ilceArray[i].KODU + '">' + ilceArray[i].ADI + '</option>');
            }
    });
 
});

$( "#temizleSevketModal").click(function() {

   
    $("#sevketModal")
    .find("input,textarea,select")
    .val('')
    .end()
    .find("input[type=checkbox], input[type=radio]")
    .prop("checked", "")
    .end();


});



</script>




