<%if(izlemAdı=='kadınizlem'){ izlemler.forEach(function(e) { %>
<div id="izlemBilgileri<%=e.id%>" class="izlemBilgileriROW" style="display: none;"> 
    <div  class="row" >
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> Doğum Sayısı:</b><%=e.DogumSayisi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Canlı Doğum Sayısı:</b><%=e.CanliDogumSayisi%></div>  
    </div>   
   <div  class="row" >
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> Kendiliğinden Düşük Sayısı:</b><%=e.KendiligindenDusukSayisi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Ölü Doğum Sayısı:</b><%=e.OluDogumSayisi%></div>  
   </div>       
   <div  class="row" >     
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> İsteyerek Düşük Sayısı:</b><%=e.IsteyerekDusukSayisi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Konjenital Doğum Varlığı:</b><%=e.KonjenitalDogumVarligi%></div>  
   </div>  
   <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> AP Kullanmama Nedeni:</b><%=e.ApKullanmamaNedeni%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Hemoglobin:</b><%=e.HemoglobinDegeri%></div>  
   </div>  
    <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b>Bir Önceki AP Yontemi:</b><%=e.BirOncekiAPYontemi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>AP Yontemi:</b><%=e.APYontemi%></div>  
   </div>    
    <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b>Ap Lojistigi:</b><%=e.ApLojistigi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> D Tansiyon:</b><%=e.TaDiastolik%></div>  
   </div>    
 
   <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> Toplam Gebelik Sayısı:</b><%=e.ToplamGebelikSayisi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> İlk Gebelik Yaşı:</b><%=e.ilkGebelikYasi%></div>  
   </div>  
   <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> İlk Adet Yaşı:</b><%=e.IlkAdetYasi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Adetten Kesilme Yaşı:</b><%=e.AdettenKesilmeYasi%></div>  
   </div>   
   
   <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> Adet Düzeni ve Sıklığı:</b><%=e.AdetDuzeniSikligi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Talesemi Taşıyıcılığı:</b><%=e.TalasemiTasiyiciligi%></div>  
   </div>  
   <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b> HBS Taşıyıcılığı:</b><%=e.HbsTasiyiciligi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Dışarda:</b><%=e.Disarda%></div>  
   </div>   
    <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b>Tit:</b><%=e.Tit%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> HCT:</b><%=e.HCT%></div>  
   </div>   
      <div  class="row" > 
        <div class="col-md-6" style="color:#325179;text-align:left;"><b>S Tansiyon:</b><%=e.TaSistolik%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> D Tansiyon:</b><%=e.TaDiastolik%></div>  
   </div>  
    
   <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Dismonore:</b><%=e.Dismonore%>  </div> 
   </div>  
   <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Öykü:</b><%=e.Oyku%>  </div> 
   </div>  
   <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Sistemik Fiziki Muayene:</b><%=e.SistemikFizikiMuayene%>  </div> 
   </div>      
      <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> EKG:</b><%=e.EKG%>  </div> 
   </div>   
      <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Varis:</b><%=e.Varis%>  </div> 
   </div>   
      <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Meme Muayenesi:</b><%=e.MemeMuayenesi_Text%>  </div> 
   </div>                     
   <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Pap Smear:</b><%=e.PapSmear%>  </div> 
   </div> 

    <div  class="row" > 
          <div class="col-md-12" style="color:#325179;text-align:left;"><b> Kadın Sağlığı Risk Faktörleri:</b><%=e.RiskFaktorleri%>  </div> 
    </div>
      <div  class="row" > 
          <div class="col-md-12" style="color:#325179;text-align:left;"><b> Kadın Sağlık İşlemleri:</b><%=e.SaglikIslemler%>  </div> 
    </div> 
      <div  class="row" > 
          <div class="col-md-12" style="color:#325179;text-align:left;"><b>Ap İşlemleri:</b><%=e.ApIslemler%>  </div> 
    </div>

   
    <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Üreme Sağlık Danışmanlıkları:</b><%=e.UremeSaglikDanismalik%>  </div> 
   </div>
    <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Risk Tespit Kodları:</b><%=e.RiskTespitKodu%>  </div> 
   </div> 
    <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b>Cybe Bulgu Sorgulama:</b><%=e.CybeBulguSorgulama%>  </div> 
   </div>


   <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Kadına Şiddet Değerlendirme:</b><%=e.KadinaSiddetDegerlendirme%>  </div> 
   </div>  
    <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Şiddet Türü:</b><%=e.SiddetTuru%>  </div> 
   </div>  
   <div  class="row" > 
        <div class="col-md-12" style="color:#325179;text-align:left;"><b> Açıklama:</b><%=e.Aciklama%>  </div> 
   </div>       
</div>       
                         
    <%})}; %>

    <%if(izlemAdı=='bebekcocukizlem'){ izlemler.forEach(function(e) { %>
     <div id="izlemBilgileri<%=e.id%>" class="izlemBilgileriROW" style="display: none;"> 
         <div  class="row" >
             <div class="col-md-6" style="color:#325179;text-align:left;"><b> Ağırlık:</b><%=e.Agirlik%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Boy:</b><%=e.Boy%></div>  
         </div>   
        <div  class="row" >
             <div class="col-md-6" style="color:#325179;text-align:left;"><b> Baş Çevresi:</b><%=e.BasCevresi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b> Göğüs Çevresi:</b><%=e.GogusCevresi%></div>  
        </div>       
        <div  class="row" >
             <div class="col-md-6" style="color:#325179;text-align:left;"><b> Kol Çevresi:</b><%=e.KolCevresi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Hemoglobin:</b><%=e.Hemoglobin%></div>  
        </div>  
        <div  class="row" >
             <div class="col-md-6" style="color:#325179;text-align:left;"><b> D Vitamini:</b><%=e.Dvit%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Demir Takviyesi:</b><%=e.Demir%></div>  
        </div>     
        <div  class="row" >
          <div class="col-md-6" style="color:#325179;text-align:left;"><b>Beslenme Durumu:</b><%=e.BeslenmeDurumu%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Demir Takviyesi:</b><%=e.Demir%></div>  
         </div>       
        <div  class="row" > 
             <div class="col-md-12" style="color:#325179;text-align:left;"><b> Açıklama:</b><%=e.Aciklama%>  </div> 
        </div>       
     </div>       
                              
         <%})}; %>


         <%if(izlemAdı=='gebeizlem'){ izlemler.forEach(function(e) { %>
          <div id="izlemBilgileri<%=e.id%>" class="izlemBilgileriROW" style="display: none;"> 
              <div  class="row" >
                  <div class="col-md-6" style="color:#325179;text-align:left;"><b> Ağırlık:</b><%=e.Agirlik%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Nabız:</b><%=e.Nabiz%></div>  
              </div>   
             <div  class="row" >
                  <div class="col-md-6" style="color:#325179;text-align:left;"><b> Kan Basıncı(s):</b><%=e.SKanBAsinci%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Kan Basıncı(d):</b><%=e.DKanBasinci%></div>  
             </div>       
             <div  class="row" >
                  <div class="col-md-6" style="color:#325179;text-align:left;"><b> İdrarda Protein:</b><%=e.IdrardaProtein%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Hemoglobin:</b><%=e.Hemoglobin%></div>  
             </div> 
             <div  class="row" >
                <div class="col-md-6" style="color:#325179;text-align:left;"><b> Fetus Kalp Sesi:</b><%=e.FetusKalpSesi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Geliş Biçimi:</b><%=e.GelisBicimi%></div>  
           </div>  
             <div  class="row" >
                  <div class="col-md-6" style="color:#325179;text-align:left;"><b> D Vitamini:</b><%=e.Dvit%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Demir Takviyesi:</b><%=e.Demir%></div>  
             </div>     
             <div  class="row" >
               <div class="col-md-6" style="color:#325179;text-align:left;"><b>Ödem:</b><%=e.Odem%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Varis:</b><%=e.Varis%></div>  
              </div>       
             <div  class="row" > 
                  <div class="col-md-12" style="color:#325179;text-align:left;"><b> Açıklama:</b><%=e.Aciklama%>  </div> 
             </div>       
          </div>       
                                   
              <%})}; %>

              <%if(izlemAdı=='lohusaizlem'){ izlemler.forEach(function(e) { %>
               <div id="izlemBilgileri<%=e.id%>" class="izlemBilgileriROW" style="display: none;"> 

                   

                    <div  class="row" >
                         <div class="col-md-12" style="color:#325179;text-align:left;"><b>Kaçıncı İzlem:</b><%=e.KacinciIzlem%></div> 
                   </div>
                    <div  class="row" >
                        <div class="col-md-6" style="color:#325179;text-align:left;"><b> Ateş:</b><%=e.Ates%>  </div>  <div class="col-md-6" style="color:#325179;text-align:left;"><b>Hemoglobin:</b><%=e.Hemoglobin%>  </div>
                  </div>  
                   <div  class="row" >
                       <div class="col-md-6" style="color:#325179;text-align:left;"><b> Son Adet Tarihi:</b><%=e.SonAdetTarihi%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Nabız:</b><%=e.Nabiz%></div>  
                   </div>   
                  <div  class="row" >
                       <div class="col-md-6" style="color:#325179;text-align:left;"><b> Tansiyon(s):</b><%=e.STansiyon%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Tansiyon(d):</b><%=e.DTansiyon%></div>  
                  </div>       
                  <div  class="row" >
                       <div class="col-md-12" style="color:#325179;text-align:left;"><b>K. ANOMALİ VARLIĞI:</b><%=e.KonjenitalDogumVarligi%></div>  
                  </div> 
                  <div  class="row" >
                     <div class="col-md-12" style="color:#325179;text-align:left;"><b> UTERUS İNVOLÜSYON:</b><%=e.Uterusinvolusyon%>  </div>  
                </div>  
                <div  class="row" >
                    <div class="col-md-12" style="color:#325179;text-align:left;"><b> POSTPARTUM DEPRESYON:</b><%=e.postPartumDepresyonu%>  </div>  
               </div>  
               <div  class="row" >
                    <div class="col-md-12" style="color:#325179;text-align:left;"><b> AP Yöntemi:</b><%=e.ApYontemi%>  </div>  
               </div> 
               <div  class="row" >
                    <div class="col-md-12" style="color:#325179;text-align:left;"><b> KADIN SAĞLIĞI İŞLEMLERİ:</b><%=e.KadinSaglikIslemleri%>  </div>  
               </div> 
               <div  class="row" >
                    <div class="col-md-12" style="color:#325179;text-align:left;"><b> GEBELİK/LOHUSALIK SEYRİNDE TEHLİKE İŞARETİ:</b><%=e.TehlikeliIsaretler%>  </div>  
               </div> 
               <div  class="row" >
                    <div class="col-md-12" style="color:#325179;text-align:left;"><b> Komplikasyonlar:</b><%=e.komplikasyonlar%>  </div>  
               </div> 
               
                  <div  class="row" >
                       <div class="col-md-6" style="color:#325179;text-align:left;"><b> D Vitamini:</b><%=e.DVitamini%>  </div><div class="col-md-6" style="color:#325179;text-align:left;"><b>Demir Takviyesi:</b><%=e.Demir%></div>  
                  </div>     
                     
                  <div  class="row" > 
                       <div class="col-md-12" style="color:#325179;text-align:left;"><b> Açıklama:</b><%=e.Aciklama%>  </div> 
                  </div>       
               </div>       
                                        
                   <%})}; %>