    
    
    <div class="row" style="margin-top:1%;height: 62%;">
                                    <div class="col-md-4">
                                            <div class="container" style="padding: 10px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                          <div class="row" style="">
                                                                <div class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">HEDEF LİSTE</div>
                                                          </div>   
                                                          <div class="row" style="margin-top:1%;">                                       
                                                            <div class="input-group input-group-sm col-md-12">
                                                              <div class="input-group-prepend">
                                                                        <span class="input-group-text " id="inputGroup-sizing-default">Hedef Liste Türü</span>
                                                                  </div>
                                                                   <select id="hedefListeTuru" name="hedefListeTuru" class="browser-default custom-select" required="">
                                                                    <option value="4" selected>Tüm Hedef Liste</option>
                                                                    <option value="1" >Kolorektal Hedef liste</option>
                                                                    <option value="2" >Meme Hedef liste</option>
                                                                    <option value="3" >Serviks Hedef liste</option>

                                                                   </select>
                                                                </div>
                                                         </div>
                                                          <div class="row" style="margin-top:1%;">   
                                                                            <div class="col-md-8" style=""><div class="row" style="margin: auto;color: #325179;font-size: smaller;text-align: left;"><b>Hasta TC:</b> <div id="hastaTc"></div></div></div>                                                                       
                                                                            <div class="col-md-4" style=""><div style="margin: auto;color: #325179;font-size: smaller;text-align: left;">Evli</div></div>
                                                         </div>
                                                         <div class="row" style="margin-top:1%;">   
                                                            <div class="col-md-8" style=""><div class="row" style="margin: auto;color: #325179;font-size: smaller;text-align: left;"><b>Hasta Adı Soyadı:</b> <div id="hastaAdSoyad"></div></div></div>                                                                       
                                                            <div class="col-md-4" style=""><div style="margin: auto;color: #325179;font-size: smaller;text-align: left;"><u>H.Listeden Çıkar</u></div></div>
                                                         </div>   
                                                         <div class="row" style="margin-top:1%;">   
                                                          <div class="input-group input-group-sm col-md-12">
                                                            <div class="input-group-prepend">
                                                                      <span class="input-group-text " id="inputGroup-sizing-default">Hasta Adı</span>
                                                                    </div>
                                                                    <input id="kanserHastaAra" class="form-control" placeholder="hasta"  type="text" aria-label="Default" aria-describedby="">
                                                                  </div>
                                                          </div>
                                                          <div class="container" style="margin-top: 1%; background-color: #adb5bd;text-align: center;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 15px;border-top-right-radius: 15px;overflow-y: auto;overflow-x: hidden;">
                                                            <div class="row">
                                                                   
                                                                  <div class="col-md-4" style="text-align: center;padding: 1px;border-right: solid;border-bottom: solid;font-size: smaller;border-width: thin;">
                                                                    AD-SOYAD
                                                                  </div>  
                                                                   <div class="col-md-2" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-width: thin;border-right: solid;border-width: thin;">
                                                                    YAŞ
                                                                  </div>
                                                                   <div class="col-md-2" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-right: solid;border-width: thin;">
                                                                    SRV
                                                                  </div>
                                                                  <div class="col-md-2" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-right: solid;border-width: thin;">
                                                                    MM
                                                                  </div>
                                                                  <div class="col-md-2" style="border-top-right-radius: 15px;padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-width: thin;">
                                                                    KOL
                                                                  </div>
                                                            </div>
                                                         </div>
                                                          <div class="container" id="hastalarTable" style="text-align: center;box-shadow: 6px 7px 6px grey;height: 25%;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                                            <% hedefListe.forEach(function(e) { %>
                                                             <div  class="row hastaRow" >
                                                                  <div class="tur" style="display: none;"><%=e.Tur%></div>
                                                                  <div class="tc" style="display: none;"><%=e.HastaTc%></div>
                                                                  <div class="col-md-4 isim " style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;"><%=e.Ad+' '+e.SOYAD %> </div>  
                                                                   <div class="col-md-2 " style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;"><%=e.Yas %></div>  
                                                                   <div class="col-md-2 " style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.srv %></div>
                                                                   <div class="col-md-2 " style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.mm %></div>
                                                                   <div class="col-md-2 " style="padding: 1px;text-align: center;border-bottom: solid;border-width: thin;font-size: smaller;"><%=e.kol%></div>
                                                            </div>
                                                            <%}); %>

                                                          </div>
                                                          <div class="row" style="margin-top: 2%;">
                                                            <div class="" style="font-weight: bold;margin:auto;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">TARAMA LİSTESİ</div>
                                                          </div>   
                                                          <div class="container" style="margin-top: 1%; background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 15px;border-top-right-radius: 15px;overflow-y: auto;overflow-x: hidden;">
                                                            <div class="row">
                                                                   
                                                                  <div class="col-md-4" style="text-align: center;padding: 1px;border-right: solid;border-bottom: solid;font-size: smaller;border-width: thin;">
                                                                   Tarama Adı
                                                                  </div>  
                                                                   <div class="col-md-4" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-width: thin;border-right: solid;border-width: thin;">
                                                                    Tarama Tarihi
                                                                  </div>
                                                                   <div class="col-md-2" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-right: solid;border-width: thin;">
                                                                    USS
                                                                  </div>
                                                                
                                                                  <div class="col-md-2" style="border-top-right-radius: 15px;padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-width: thin;">
                                                                    SMS
                                                                  </div>
                                                            </div>
                                                         </div>
                                                          <div class="container" id="taramaTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 25%;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                                            <% hedefListe.forEach(function(h) { 
                                                                  h.taramalar.forEach(function(t) {
                                                              %>
                                                             <div  class="row taramaRow" style="display: none;">
                                                                  <div class="col-md-4 kod" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;"><%=t.KanserTuru %> </div>  
                                                                   <div class="col-md-4 kod" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;"><%=t.IslemTarihi %></div>  
                                                                   <div class="col-md-2 isim" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=t.KanserTuru %></div>
                                                                   <div class="col-md-2 isim" style="padding: 1px;text-align: center;border-bottom: solid;border-width: thin;font-size: smaller;"><%=t.KanserTuru %></div>
                                                            </div>
                                                            <%})}); %>

                                                          </div>



                                            </div>
                                    </div>  
                                    <div class="col-md-8">
                                          
                                            <div class="container" style="padding: 10px;background-color: white;text-align: center;border-radius: 20px;height: 100%;overflow-x: hidden;">
                                                            <div class="row" style="">
                                                                <div class="" style="font-weight: bold;margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;">KANSER TARAMA BİLGİLERİ</div>
                                                           </div>
                                                           <div class="row" style="margin-top:1%;">
                                                            <div class="col-md-6" >
                                                                  <div class="input-group input-group-sm">
                                                                       <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">Tarama Türü</span>
                                                                       </div>
                                                                       <select id="taramaTipi" name="taramaTipi"class="browser-default custom-select">
                                                                        <option value="4" selected>Kanser Veri Paketi Tümü</option>
                                                                        <option value="1" >Kolorektal Kanser Taraması</option>
                                                                        <option value="2" >Meme Kanser Taraması</option>
                                                                        <option value="3" >Serviks Kanser Taraması</option>

                                                                       </select>
                                                                  </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="input-group input-group-sm">
                                                                   <div class="input-group-prepend">
                                                                         <span class="input-group-text " id="inputGroup-sizing-default">İzlem Tarihi</span>
                                                                   </div>
                                                                   <input class="form-control" name="hemoglobinDegeri" type="date" aria-label="Default" >
                                                              </div>
                                                          </div>
                                                        </div> 
                                                 <form id="t4Form" class="Tforms" action="/kanser/t4Kaydet" method="post" >
                                                        <div class="row" style="margin-top:1%;">  
                                                            <div class="col-md-6" style="text-align: left;margin-top: auto;font-size: smaller;">
                                                             HPV Tarama Barkodu:                                                      
                                                            </div>
                                                              <div class="col-md-6" >
                                                                   <div class="input-group input-group-sm">
                                                                       <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">PAP-Smear Testi</span>
                                                                       </div>
                                                                       <select name="APyontemLojistigi"class="browser-default custom-select">
                                                                           <% PapSmearTesti.forEach(function(element) { %>
                                                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                           <%}); %>
                                                                       </select>
                                                                  </div>
                                                            </div>
                                                        </div>  

                                                        <div class="row" style="margin-top:1%;">
                                                           <div class="col-md-6">
                                                            <div class="input-group input-group-sm">
                                                                    <input class="form-control" name="barkodHPV" placeholder="barkod" type="number" aria-label="Default" >
                                                                   <select name="barkodIslem"class="browser-default custom-select">
                                                                               <option value="0" selected>Lütfen seçiniz</option>
                                                                               <option value="1" >Hasta HPV Tarama Testi Durum Sorgula</option>
                                                                               <option value="2" >Barkod Kullanılabilirlik Sorgula</option>
                                                                               <option value="3" >HPV Tarama Testini Gönder</option>
                                                                               <option value="4" >HPV Tarama Testi Barkodunu Güncelle</option>
                                                                               <option value="5" >HPV Tarama Testi Barkodunu Tamamen Sil</option>
                                                                               <option value="6" >HPV Tarama Testi Barkodunu Kullanılabilecek Şekilde Sil</option>
                                                                               <option value="7" >HPV Tarama Testi Sonucunu Sorgula</option>
                                                                   </select>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-6" >
                                                                   <div class="input-group input-group-sm">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">HPV Tarama Testi</span>
                                                                       </div>
                                                                       <select name="APyontemLojistigi"class="browser-default custom-select">
                                                                           <% HPVTaramaTesti.forEach(function(element) { %>
                                                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                           <%}); %>
                                                                       </select>
                                                                  </div>
                                                            </div>
                                                         
                                                      </div>
                                                      <div class="row" style="margin-top:1%;">
                                                          <div class="col-md-6" >
                                                                   <div class="input-group input-group-sm">
                                                                       <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">Gaitada Gizli Kan Testi</span>
                                                                       </div>
                                                                       <select name="GaitadaGizliKanTesti"class="browser-default custom-select">
                                                                           <% GaitadaGizliKanTesti.forEach(function(element) { %>
                                                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                           <%}); %>
                                                                       </select>
                                                                  </div>
                                                            </div>   
                                                            <div class="col-md-6" >
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text " id="inputGroup-sizing-default">Kolon Görüntüleme Yöntemi</span>
                                                                    </div>
                                                                    <select name="KolonGoruntulemeYontemi"class="browser-default custom-select">
                                                                        <% KolonGoruntulemeYontemi.forEach(function(element) { %>
                                                                              <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                        <%}); %>
                                                                    </select>
                                                                </div>
                                                            </div>    
                                                      </div>      
                                                      <div class="row" style="margin-top:1%;">
                                                          <div class="col-md-6" >
                                                              <div class="input-group input-group-sm">
                                                                  <div class="input-group-prepend">
                                                                      <span class="input-group-text " id="inputGroup-sizing-default">Kendi Kendine M.Myn.</span>
                                                                  </div>
                                                                  <select name="KendiKendineMemeMuayenesi"class="browser-default custom-select">
                                                                      <% KendiKendineMemeMuayenesi.forEach(function(element) { %>
                                                                            <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                      <%}); %>
                                                                  </select>
                                                              </div>
                                                          </div>  
                                                          <div class="col-md-6" >
                                                                 <div class="input-group input-group-sm">
                                                                     <div class="input-group-prepend">
                                                                          <span class="input-group-text " id="inputGroup-sizing-default">Mamografi</span>
                                                                     </div>
                                                                     <select name="Mamografi"class="browser-default custom-select">
                                                                         <% Mamografi.forEach(function(element) { %>
                                                                               <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                         <%}); %>
                                                                     </select>
                                                                </div>
                                                          </div>     
                                                    </div>      
                                                     <div class="row" style="margin-top:1%;">
                                                          <div class="col-md-6" >
                                                              <div class="input-group input-group-sm">
                                                                  <div class="input-group-prepend">
                                                                      <span class="input-group-text " id="inputGroup-sizing-default">Klinik M.Myn.</span>
                                                                  </div>
                                                                  <select name="KlinikMemeMuayenesi"class="browser-default custom-select">
                                                                      <% KlinikMemeMuayenesi.forEach(function(element) { %>
                                                                            <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                      <%}); %>
                                                                  </select>
                                                              </div>
                                                          </div>  
                                                          <div class="col-md-6" >
                                                                 <div class="input-group input-group-sm">
                                                                     <div class="input-group-prepend">
                                                                          <span class="input-group-text " id="inputGroup-sizing-default">Mam. Bildirimi</span>
                                                                     </div>
                                                                     <input class="form-control" name="barkodHPV" placeholder="barkod" type="number" aria-label="Default" >
                                                                     <select name="mamBildirin"class="browser-default custom-select">
                                                                                 <option value="0" selected>Lütfen seçiniz</option>
                                                                                 <option value="1" >Mamografi Bildirimi Yap</option>
                                                                                 <option value="2" >Mamografi İçin Randevu Al</option>
                                                                                 <option value="3" >Mamografi Bildirimini İptal Et</option>
                                                                                 <option value="4" >Mamografi Sonucunu Al</option>
                                                                                 <option value="5" >Mamografi Web Sonucu Al(Erişim No'suz)</option>
                                                                     </select>
                                                                </div>
                                                          </div>     
                                                    </div>      
                                                     <div class="row" style="margin-top:1%;">
                                                          <div class="col-md-6" >
                                                              
                                                          </div>  
                                                          <div class="col-md-6" >
                                                                 <div class="input-group input-group-sm">
                                                                     <div class="input-group-prepend">
                                                                          <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Sonucu</span>
                                                                     </div>
                                                                     <select name="MamografiSonucu"class="browser-default custom-select">
                                                                         <% MamografiSonucu.forEach(function(element) { %>
                                                                               <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                         <%}); %>
                                                                     </select>
                                                                </div>
                                                          </div>     
                                                    </div>      
                                                      <div class="row" style="">
                                                           <div class="col-md-6">
                                                                     <div class="row" style="">
                                                                          <div class="col-md-12">
                                                                              <div class="input-group input-group-sm">
                                                                                   <div class="input-group-prepend">
                                                                                       <span class="input-group-text " id="inputGroup-sizing-default">Tarama Sonlanması</span>
                                                                                  </div>
                                                                                  <select name="taramaSonlanmasi"class="browser-default custom-select">
                                                                                    <option value="0" selected>Devam Ediyor</option>
                                                                                    <option value="1" selected>Sonlandı</option>
                                                                                  </select>
                                                                              </div>
                                                                          </div>
                                                                    </div>  
                                                                    <div class="row" style="margin-top: 1%;">
                                                                          <div class="col-md-3">
                                                                            <label for="comment" style="margin-bottom: 0;  float: left;font-size: smaller;">Açıklama:</label>
                                                                          </div> 
                                                                          <div class="col-md-9">
                                                                            <div class="form-group">
                                                                              <textarea class="form-control" rows="2" id="comment"></textarea>
                                                                            </div>
                                                                          </div>
                                                                    </div> 
                                                                   
                                                          </div>
                                                          <div class="col-md-6" >
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input name="kolorektalOnam" value="1" type="checkbox" >Kolorektal T. Onam Formu Verildi</label>
                                                                      </div>
                                                                    </div>
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input type="checkbox" name="serviksOnam" value="1">Serviks T. Onam Formu Verildi</label>
                                                                      </div>
                                                                    </div>
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input type="checkbox" name="memeOnam" value="1">Meme T. Onam Formu Verildi</label>
                                                                      </div>
                                                                    </div>
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input name="baskaKurum" value="1"  type="checkbox" >Başka Kurumda Yapılmış</label>
                                                                      </div>
                                                                    </div> 
                                                          </div>                        
                                                      </div>    
                                                      <div class="row" style="">  
                                                          <div class="col-md-6" >
                                                                <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
                                                                  <div class="row testlerheaderDiv">
                                                                    <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;">HPV Tipleri</div>                                               
                                                                  </div>
                  
                                                              </div>
                                                              <div class="container" id="testlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:7rem;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
                        
                                                                  <% HPVTipleri.forEach(function(element) { %>
                                                                    <div class="row kadinSaglikRow">
                                                                      <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                                                                                <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                                      </div> 
                                                                      <div class="col-md-9 isim" style="background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
                                                                    </div>
                                                                  <%}); %>
                                                                </div>  
                                                          </div>
                                                          <div class="col-md-6" >
                                                                <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
                                                                  <div class="row testlerheaderDiv">
                                                                    <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;">Servikal Sitoloji Sonuçları</div>                                               
                                                                  </div>
                  
                                                              </div>
                                                              <div class="container" id="testlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:7rem;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
                        
                                                                  <% ServikalSitoloji.forEach(function(element) { %>
                                                                    <div class="row kadinSaglikRow">
                                                                      <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                                                                                <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                                      </div> 
                                                                      <div class="col-md-9 isim" style="background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
                                                                    </div>
                                                                  <%}); %>
                                                                </div> 
                                                          </div>
                                                      </div>
                                                      </form>
                                                      <form id="t1Form" class="Tforms" action="/kanser/t1Kaydet" method="post" style="display: none;">                                                                                                           
                                                      <div class="row" style="margin-top:1%;">
                                                          <div class="col-md-6" >
                                                                   <div class="input-group input-group-sm">
                                                                       <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">Gaitada Gizli Kan Testi</span>
                                                                       </div>
                                                                       <select name="GaitadaGizliKanTesti"class="browser-default custom-select">
                                                                           <% GaitadaGizliKanTesti.forEach(function(element) { %>
                                                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                           <%}); %>
                                                                       </select>
                                                                  </div>
                                                            </div>   
                                                            <div class="col-md-6" >
                                                                <div class="input-group input-group-sm">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text " id="inputGroup-sizing-default">Kolon Görüntüleme Yöntemi</span>
                                                                    </div>
                                                                    <select name="KolonGoruntulemeYontemi"class="browser-default custom-select">
                                                                        <% KolonGoruntulemeYontemi.forEach(function(element) { %>
                                                                              <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                        <%}); %>
                                                                    </select>
                                                                </div>
                                                            </div>    
                                                      </div>      
                                                   
                                                      <div class="row" style="">
                                                           <div class="col-md-6">
                                                                     <div class="row" style="">
                                                                          <div class="col-md-12">
                                                                              <div class="input-group input-group-sm">
                                                                                   <div class="input-group-prepend">
                                                                                       <span class="input-group-text " id="inputGroup-sizing-default">Tarama Sonlanması</span>
                                                                                  </div>
                                                                                  <select name="taramaSonlanmasi"class="browser-default custom-select">
                                                                                    <option value="0" selected>Devam Ediyor</option>
                                                                                    <option value="1" selected>Sonlandı</option>
                                                                                  </select>                                                       
                                                                              </div>
                                                                          </div>
                                                                    </div>  
                                                                    <div class="row" style="margin-top: 1%;">
                                                                          <div class="col-md-3">
                                                                            <label for="comment" style="margin-bottom: 0;  float: left;font-size: smaller;">Açıklama:</label>
                                                                          </div> 
                                                                          <div class="col-md-9">
                                                                            <div class="form-group">
                                                                              <textarea class="form-control" rows="5" id="comment"></textarea>
                                                                            </div>
                                                                          </div>
                                                                    </div> 
                                                                   
                                                          </div>
                                                          <div class="col-md-6" >
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input type="checkbox" name="kolorektalOnam" value="1">Kolorektal T. Onam Formu Verildi</label>
                                                                      </div>
                                                                    </div>                                                            
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input type="checkbox" name="baskaKurum" value="1">Başka Kurumda Yapılmış</label>
                                                                      </div>
                                                                    </div> 
                                                          </div>                        
                                                      </div>                                                        
                                                      </form>
                                                      <form id="t2Form" class="Tforms" action="/kanser/t2Kaydet" method="post" style="display: none;">                                                                                                           
                                                        <div class="row" style="margin-top:1%;">
                                                              <div class="col-md-6" >
                                                                  <div class="input-group input-group-sm">
                                                                      <div class="input-group-prepend">
                                                                          <span class="input-group-text " id="inputGroup-sizing-default">Kendi Kendine M.Myn.</span>
                                                                      </div>
                                                                      <select name="KendiKendineMemeMuayenesi"class="browser-default custom-select">
                                                                          <% KendiKendineMemeMuayenesi.forEach(function(element) { %>
                                                                                <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                          <%}); %>
                                                                      </select>
                                                                  </div>
                                                              </div>  
                                                              <div class="col-md-6" >
                                                                    <div class="input-group input-group-sm">
                                                                        <div class="input-group-prepend">
                                                                              <span class="input-group-text " id="inputGroup-sizing-default">Mamografi</span>
                                                                        </div>
                                                                        <select name="Mamografi"class="browser-default custom-select">
                                                                            <% Mamografi.forEach(function(element) { %>
                                                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                            <%}); %>
                                                                        </select>
                                                                    </div>
                                                              </div>     
                                                        </div>      
                                                        <div class="row" style="margin-top:1%;">
                                                              <div class="col-md-6" >
                                                                  <div class="input-group input-group-sm">
                                                                      <div class="input-group-prepend">
                                                                          <span class="input-group-text " id="inputGroup-sizing-default">Klinik M.Myn.</span>
                                                                      </div>
                                                                      <select name="KlinikMemeMuayenesi"class="browser-default custom-select">
                                                                          <% KlinikMemeMuayenesi.forEach(function(element) { %>
                                                                                <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                          <%}); %>
                                                                      </select>
                                                                  </div>
                                                              </div>  
                                                              <div class="col-md-6" >
                                                                    <div class="input-group input-group-sm">
                                                                        <div class="input-group-prepend">
                                                                              <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Bildirimi</span>
                                                                        </div>
                                                                        <select name="mamBildirin"class="browser-default custom-select">
                                                                                 <option value="0" selected>Lütfen seçiniz</option>
                                                                                 <option value="1" >Mamografi Bildirimi Yap</option>
                                                                                 <option value="2" >Mamografi İçin Randevu Al</option>
                                                                                 <option value="3" >Mamografi Bildirimini İptal Et</option>
                                                                                 <option value="4" >Mamografi Sonucunu Al</option>
                                                                                 <option value="5" >Mamografi Web Sonucu Al(Erişim No'suz)</option>
                                                                      </select>
                                                                    </div>
                                                              </div>     
                                                        </div>      
                                                        <div class="row" style="margin-top:1%;">
                                                              <div class="col-md-6" >
                                                                  
                                                              </div>  
                                                              <div class="col-md-6" >
                                                                    <div class="input-group input-group-sm">
                                                                        <div class="input-group-prepend">
                                                                              <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Sonucu</span>
                                                                        </div>
                                                                        <select name="MamografiSonucu"class="browser-default custom-select">
                                                                            <% MamografiSonucu.forEach(function(element) { %>
                                                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                            <%}); %>
                                                                        </select>
                                                                    </div>
                                                              </div>     
                                                        </div>      
                                                     
                                                        <div class="row" style="">
                                                             <div class="col-md-6">
                                                                       <div class="row" style="">
                                                                            <div class="col-md-12">
                                                                                <div class="input-group input-group-sm">
                                                                                     <div class="input-group-prepend">
                                                                                         <span class="input-group-text " id="inputGroup-sizing-default">Tarama Sonlanması</span>
                                                                                    </div>
                                                                                    <select name="taramaSonlanmasi"class="browser-default custom-select">
                                                                                      <option value="0" selected>Devam Ediyor</option>
                                                                                      <option value="1" selected>Sonlandı</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                      </div>  
                                                                      <div class="row" style="margin-top: 1%;">
                                                                            <div class="col-md-3">
                                                                              <label for="comment" style="margin-bottom: 0;  float: left;font-size: smaller;">Açıklama:</label>
                                                                            </div> 
                                                                            <div class="col-md-9">
                                                                              <div class="form-group">
                                                                                <textarea name="aciklamaHpv" class="form-control" rows="5" id="comment"></textarea>
                                                                              </div>
                                                                            </div>
                                                                      </div> 
                                                                     
                                                            </div>
                                                            <div class="col-md-6" >
                                                                      <div class="row">
                                                                        <div class="checkbox col-md-12">
                                                                          <label style="float: left;"><input type="checkbox" name="memeOnam" value="1">Meme T. Onam Formu Verildi</label>
                                                                        </div>
                                                                      </div>                                                      
                                                                      <div class="row">
                                                                        <div class="checkbox col-md-12">
                                                                          <label style="float: left;"><input type="checkbox" name="baskaKurum" value="1">Başka Kurumda Yapılmış</label>
                                                                        </div>
                                                                      </div> 
                                                            </div>                        
                                                        </div>                                                        
                                                        </form>
                                                        <form id="t3Form" class="Tforms" action="/kanser/t3Kaydet" method="post" style="display: none;" >
                                                        <div class="row" style="margin-top:1%;">  
                                                            <div class="col-md-6" style="text-align: left;margin-top: auto;font-size: smaller;">
                                                             HPV Tarama Barkodu:                                                      
                                                            </div>
                                                              <div class="col-md-6" >
                                                                   <div class="input-group input-group-sm">
                                                                       <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">PAP-Smear Testi</span>
                                                                       </div>
                                                                       <select name="APyontemLojistigi"class="browser-default custom-select">
                                                                           <% PapSmearTesti.forEach(function(element) { %>
                                                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                           <%}); %>
                                                                       </select>
                                                                  </div>
                                                            </div>
                                                        </div>  

                                                        <div class="row" style="margin-top:1%;">
                                                           <div class="col-md-6">
                                                            <div class="input-group input-group-sm">
                                                                    <input class="form-control" name="barkodHPV" placeholder="barkod" type="number" aria-label="Default" >
                                                                    <select name="barkodIslem"class="browser-default custom-select">
                                                                      <option value="0" selected>Lütfen seçiniz</option>
                                                                      <option value="1" >Hasta HPV Tarama Testi Durum Sorgula</option>
                                                                      <option value="2" >Barkod Kullanılabilirlik Sorgula</option>
                                                                      <option value="3" >HPV Tarama Testini Gönder</option>
                                                                      <option value="4" >HPV Tarama Testi Barkodunu Güncelle</option>
                                                                      <option value="5" >HPV Tarama Testi Barkodunu Tamamen Sil</option>
                                                                      <option value="6" >HPV Tarama Testi Barkodunu Kullanılabilecek Şekilde Sil</option>
                                                                      <option value="7" >HPV Tarama Testi Sonucunu Sorgula</option>
                                                                    </select>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-6" >
                                                                   <div class="input-group input-group-sm">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text " id="inputGroup-sizing-default">HPV Tarama Testi</span>
                                                                       </div>
                                                                       <select name="APyontemLojistigi"class="browser-default custom-select">
                                                                           <% HPVTaramaTesti.forEach(function(element) { %>
                                                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                           <%}); %>
                                                                       </select>
                                                                  </div>
                                                            </div>
                                                         
                                                      </div>                                                     
                                                      <div class="row" style="">
                                                           <div class="col-md-6">
                                                                     <div class="row" style="">
                                                                          <div class="col-md-12">
                                                                              <div class="input-group input-group-sm">
                                                                                   <div class="input-group-prepend">
                                                                                       <span class="input-group-text " id="inputGroup-sizing-default">Tarama Sonlanması</span>
                                                                                  </div>
                                                                                  <select name="taramaSonlanmasi"class="browser-default custom-select">
                                                                                    <option value="0" selected>Devam Ediyor</option>
                                                                                    <option value="1" selected>Sonlandı</option>
                                                                                  </select>
                                                                              </div>
                                                                          </div>
                                                                    </div>  
                                                                    <div class="row" style="margin-top: 1%;">
                                                                          <div class="col-md-3">
                                                                            <label for="comment" style="margin-bottom: 0;  float: left;font-size: smaller;">Açıklama:</label>
                                                                          </div> 
                                                                          <div class="col-md-9">
                                                                            <div class="form-group">
                                                                              <textarea class="form-control" rows="2" id="comment"></textarea>
                                                                            </div>
                                                                          </div>
                                                                    </div> 
                                                                   
                                                          </div>
                                                          <div class="col-md-6" >                                                                   
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input type="checkbox" name="serviksOnam" value="1">Serviks T. Onam Formu Verildi</label>
                                                                      </div>
                                                                    </div>                                                                
                                                                    <div class="row">
                                                                      <div class="checkbox col-md-12">
                                                                        <label style="float: left;"><input name="baskaKurum" value="1"  type="checkbox" >Başka Kurumda Yapılmış</label>
                                                                      </div>
                                                                    </div> 
                                                          </div>                        
                                                      </div>    
                                                      <div class="row" style="">  
                                                          <div class="col-md-6" >
                                                                <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
                                                                  <div class="row testlerheaderDiv">
                                                                    <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;">HPV Tipleri</div>                                               
                                                                  </div>
                  
                                                              </div>
                                                              <div class="container" id="testlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:7rem;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
                        
                                                                  <% HPVTipleri.forEach(function(element) { %>
                                                                    <div class="row kadinSaglikRow">
                                                                      <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                                                                                <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                                      </div> 
                                                                      <div class="col-md-9 isim" style="background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
                                                                    </div>
                                                                  <%}); %>
                                                                </div>  
                                                          </div>
                                                          <div class="col-md-6" >
                                                                <div class="container" style="background-color: #adb5bd;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px; border-width: thin;">
                                                                  <div class="row testlerheaderDiv">
                                                                    <div class="col-md-12" style="text-align: center;padding: 1px;border-bottom: solid;">Servikal Sitoloji Sonuçları</div>                                               
                                                                  </div>
                  
                                                              </div>
                                                              <div class="container" id="testlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:7rem;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0; border-width: thin;">
                        
                                                                  <% ServikalSitoloji.forEach(function(element) { %>
                                                                    <div class="row kadinSaglikRow">
                                                                      <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 2px;border-bottom: solid; border-width: thin;">
                                                                                <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                                      </div> 
                                                                      <div class="col-md-9 isim" style="background-color: white;padding: 2px;text-align: center;border-bottom: solid; border-width: thin;"><%= element.ADI %></div> 
                                                                    </div>
                                                                  <%}); %>
                                                                </div> 
                                                          </div>
                                                      </div>
                                                      </form>
                                                      
                                            </div>
                                            
                                    </div>  
    </div>


    <div class="row" style="">  
      <div class="col-md-12" >
      
              <div class="row" style="margin-top: 1%;">
                  <div class="col-md-4" id="hedeflistSorgulaBtn" style="font-weight: bold;color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Kanser Tarama Hedef Listeyi Sorgula</div>
                  <div class="col-md-4" style="font-weight: bold;color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Kanser Taramayı Bakanlığa Gönder</div>
                  <div class="col-md-4" style="font-weight: bold;color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;"></div>
              </div>
              <div class="row" style="">
                <div class="col-md-4" style="color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Local Tüm Hedef Liste Hasta Sayısı:123123</div>
                <div class="col-md-4" style="color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Yapılan Toplam Tarama/Hasta Sayısı:12/123124</div>
                <div class="col-md-4" style="color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">İşlem Görmemiş Hasta Sayısı:12/123124</div>
              </div>
              <div class="row" style="">
                  <div class="col-md-4" style="color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Yapılan Mamografi Tarama/Hasta Sayısı:12/12312</div>
                  <div class="col-md-4" style="color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Yapılan Serviks Tarama/Hasta Sayısı:12/123124</div>
                  <div class="col-md-4" style="color: #325179;font-family: Avenir Next;text-decoration: underline;text-align: left;font-size: 0.9rem;">Yapılan Kolorektal Tarama/Hasta Sayısı:12/123</div>
              </div>
    </div>
  </div>        
         
     


        
 <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 1%;">
   <div class="btn-group mr-2" role="group" aria-label="First group" style="margin: auto;">
     <button id="krsbaglanBtn" type="button" class="btn btn-secondary" style="background-color: #325179;">Kanser Randevu Sistemine Bağlan</button>
   </div>
   <div class="btn-group mr-2" role="group" aria-label="Second group" style="margin: auto;">
     <button type="button" class="btn btn-secondary" style="background-color: #325179;">Raporlar</button>
    
   </div>
   <div class="btn-group mr-2" role="group" aria-label="Third group" style="margin: auto;">
     <button type="button" class="btn btn-secondary" style="background-color: #325179;">Sil</button>
   </div>
   <div class="btn-group" role="group" aria-label="fourth group" style="margin: auto;">
     <button id="kaydetbtn" type="button" class="btn btn-secondary" style="background-color: #325179;">Kaydet</button>
   </div>
 </div>
 </div>



<!-- Modal -->
<div class="modal" id="krsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 
   <!-- Modal content-->
       <div class="modal-content" style="background-color:#f1f3f3;">
            <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                <div style="color: white;    font-size: x-large;">KRS Randevu Sistemine Bağlanma Bilgileri</div> 
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                 <div class="container" style="margin: auto;">
                      <div class="row" >
                            <div class="col-md-6">
                              <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                        <span  class="input-group-text " id="inputGroup-sizing-default">Hasta Telefon Numarası</span>
                                  </div>
                                  <input id="krsHastaTel" class="form-control" name="krsHastaTel" type="tel" aria-label="Default" aria-describedby="" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" >
                              </div>
                            </div>
                      </div>
                      <div class="row" style="margin-top: 1%;">
                        <div class="col-md-6">
                              <div class="custom-control custom-checkbox custom-control-inline" style="margin:auto;">
                                      <input type="checkbox" class="custom-control-input" name="aileOyku" id="aileOyku" value="1">
                                      <label class="custom-control-label" for="aileOyku">Hastanın Aile Öyküsü Var</label>
                              </div>  
                        </div>
                    </div>
                      <div class="row" style="margin: auto;margin-top: 1%;">
                        <button id="krsBaglanBtn2" type="button" class="btn btn-secondary" style="background-color: #325179;">Bağlan</button>
                      </div>
                                              
                 </div>     
            </div>
       </div>
   </div>
</div>




    <script>
$( "#krsbaglanBtn" ).click(function() {
  $( "#krsModal" ).modal('toggle')
});
$( "#krsBaglanBtn2" ).click(function() {
    console.log($('#krsHastaTel').val())
        $.ajax({
            type: "get",
            data:{hastaTel:$('#krsHastaTel').val(),aileOyku:$('#aileOyku').prop('checked')},
            url: '/kanser/krs',
            success: function(data)
            {
              window.open(data.url, "_blank");            
            }
        });
});
$(document).ready(function(){
  $("#kanserHastaAra").on("keyup", function() {
   var value  = this.value.toLocaleUpperCase('tr-TR')

    $("#hastalarTable .hastaRow").filter(function() {
      $(this).toggle($(this).text().toLocaleUpperCase('tr-TR').indexOf(value) > -1)
    });
  });
});



taramaTipi=4
$(document).ready(function () {
    $("#taramaTipi").change(function () {
       taramaTipi=$("#taramaTipi").val()
       $( '.Tforms').css('display','none')
       $( '#t'+taramaTipi+'Form').css('display','')


    });
});
$( "#hedeflistSorgulaBtn" ).click(function() {
        $.ajax({
            type: "get",
            url: '/kanser/hedefListeAl',
            success: function(data)
            {
                if(hedefListeTuru==4) {
                    for (let index = 0; index < data.kolorektalHL.length; index++) {

                      
                    }
                  //  res.send({kolorektalHL:kolorektalHL.sonuc,memeHL:memeHL.sonuc,serviksHL:serviksHL.sonuc})
                }                       
            }
        });
});


hedefListeTuru=4
$(document).ready(function () {
    $("#hedefListeTuru").change(function () {
      hedefListeTuru=$("#hedefListeTuru").val()
      if(hedefListeTuru==4){
          $('.hastaRow').css('display','')
          seen = {};
          $( ".hastaRow" ).each(function() {
              var txt = $(this).children('.tc').text()
              if (seen[txt])
                  $(this).css('display','none')
              else
                  seen[txt] = true;
          });
      }
      else{
        $('.hastaRow').css('display','none')
        $( ".hastaRow" ).each(function() {
 
              if ($(this).children('.tur').text()==hedefListeTuru){
                $(this).css('display','')  
              }
                       
        });
      }

    });
});
$( ".hastaRow" ).click(function() {
  $( ".hastaRow" ).css('background-color','white')   
  $(this).css('background-color','yellow')   
  $( "#hastaTc" ).text($(this).children('.tc').text())
  $( "#hastaAdSoyad" ).text($(this).children('.isim').text())
});

if(hedefListeTuru==4){
  seen = {};
  $( ".hastaRow" ).each(function() {
    var txt = $(this).children('.tc').text()
    if (seen[txt])
        $(this).css('display','none')
    else
         seen[txt] = true;
  });
}

    </script>