<div class="container" style="margin-top: 26px;">
     <div class="row" style="margin-top:1%;">
         <div id="tab1" class="col-md-3 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 5px;margin: auto;">Kanser Tarama Ekranı</div>
         <div id="tab2" class="col-md-3 sekme" style="background-color: #b5d8e5;text-align: center;padding: 5px;text-align: center;margin: auto;">K. Tarama Analiz Ekranı</div>
         <div id="tab3"class="col-md-2 sekme" style="background-color: #b5d8e5;padding: 5px;text-align: center;margin: auto;">Toplu HPV Sonuç Sorgulama</div>
         <div id="tab4"class="col-md-2 sekme" style="background-color: #b5d8e5;padding: 5px;text-align: center;margin: auto;">Toplu Mamografi Sorgulama</div>
         <div id="tab5"class="col-md-2 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 5px;text-align: center;margin: auto;">Hedef Listeden Çıkarılanlar</div>       
      </div>
</div>

<div id="kanserSekme1" class="container kanserTab"style>
     <%- include('kanser-Sekme1'); -%>
 </div>
 <div id="kanserSekme2"class="container kanserTab" style="display:none;">
     <%- include('kanser-Sekme2'); -%>
 </div>
 <div id="kanserSekme3"class="container kanserTab"style="display:none;">
     <%- include('kanser-Sekme3'); -%>
 </div>
 <div id="kanserSekme4"class="container kanserTab"style="display:none;">
     <%- include('kanser-Sekme4'); -%>
 </div>
 <div id="kanserSekme5"class="container kanserTab"style="display:none;">
     <%- include('kanser-Sekme5'); -%>
 </div>
 
<script>
$( "#tab1").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        $(".kanserTab").css("display","none");
        $("#kanserSekme1").css("display","");
    }
});
$( "#tab2").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        $(".kanserTab").css("display","none");
        $("#kanserSekme2").css("display","");
    }
});
$( "#tab3").click(function() {
    if($(this).hasClass("selected")){
    
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        $(".kanserTab").css("display","none");
        $("#kanserSekme3").css("display","");
    }
});
$( "#tab4").click(function() {
    if($(this).hasClass("selected")){
      
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        $(".kanserTab").css("display","none");
        $("#kanserSekme4").css("display","");
    }
});
$( "#tab5").click(function() {
    if($(this).hasClass("selected")){
      
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        $(".kanserTab").css("display","none");
        $("#kanserSekme5").css("display","");
    }
});


</script>