
    <div class="container" style="height: 60%;">
    
    
    <div class="row" style="margin-top:1%;height: 90%;">
                                    <div class="col-md-6" >
                                            <div class="container" style="padding: 28px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                      <div class="row" style="margin-top:1%;">                                                            
                                                                             <div class="input-group mb-3 col-md-12">
                                                                                  <div class="input-group-prepend">
                                                                                      <span class="input-group-text float-right" id="inputGroup-sizing-default">TC No</span>
                                                                                  </div>
                                                                                  <input id="tcInput" minlength="11" maxlength="11" name="tc" type="number"  value="<%=user.Tc+''%>" class="form-control float-right" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                                             </div>                                                    
                                                       </div>
                                                      
                                                        <div class="row" style="margin-top:3%;">
                                                                <div class="input-group mb-3 col-md-6">
                                                                     <div class="input-group-prepend">
                                                                              <span class="input-group-text" id="inputGroup-sizing-default">İsim</span>
                                                                     </div>
                                                                     <input id="hastaIsim"class="form-control" minlength="3" maxlength="20" value="<%=user.Ad+''%>" onkeypress="return /[a-z ]/i.test(event.key)" name="isim" type="text" aria-label="Default" aria-describedby=""required>
                                                                </div>        
                                                                 <div class="input-group mb-3 col-md-6">
                                                                          <div class="input-group-prepend">
                                                                                   <span class="input-group-text" id="inputGroup-sizing-default"minlength="3" maxlength="20" onkeypress="return /[a-z]/i.test(event.key)">Soyisim</span>
                                                                          </div>
                                                                          <input id="soyisim" class="form-control" name="soyisim" type="text"  value="<%=user.Soyad+''%>" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                                 </div>
                                                         </div>
                                                         <div class="row" style="margin-top:1%;">    
                                                             <div class="input-group mb-3 col-md-6">
                                                                    <div class="input-group-prepend">
                                                                         <span class="input-group-text " id="inputGroup-sizing-default">Cinsiyet</span>
                                                                    </div>
                                                                     <select id="cinsiyet" name="cinsiyet"class="browser-default custom-select" required> 
                                                                           <%if(user.Cinsiyet=='Erkek'){ %>
                                                                            <option value="Erkek" selected>Erkek</option> 
                                                                            <option value="Kadın" >Kadın</option> 
                                                                            <%}else{%>
                                                                                <option value="Kadın" selected>Kadın</option> 
                                                                                <option value="Erkek" >Erkek</option> 
                                                                            <%} %>                                                                
                                                                          
                                                                     </select>
                                                             </div>
                                                       
                                                             <div class="input-group mb-3 col-md-6">
                                                                     <div class="input-group-prepend">
                                                                           <span class="input-group-text " id="inputGroup-sizing-default">Profil Tipi</span>
                                                                     </div>
                                                                     <select id="profilType"name="profilType" class="browser-default custom-select"required>                                                                                                                                                
                                                                           <%if(user.ProfilTipi=='Doktor'){ %>
                                                                            <option value="Doktor" selected>Doktor</option> 
                                                                            <option value="Hemşire" >Hemşire</option> 
                                                                            <%}else{%>
                                                                                <option value="Hemşire" selected>Hemşire</option> 
                                                                                <option value="Doktor" >Doktor</option> 
                                                                            <%} %>                                                                                 
                                                                     </select>
                                                            </div>                                                              
                                                         </div>                                                    
                                            </div>
                                    </div>  
                                    <div class="col-md-6" >
                                          
                                            <div class="container" style="padding: 10px;background-color: white;text-align: center;border-radius: 20px;height: 100%;">
                                                
                                                 <div class="row">
                                                    <div class="input-group col-md-12 mb-3">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text " id="inputGroup-sizing-default">Aile Hekim Kod</span>
                                                        </div>
                                                        <input class="form-control" name="AH" value="<%=user.AH%>" type="number" aria-label="Default">
                                                    </div>                                              
                                                 </div>       
                                                                                                                                  
                                                <div class="row" >
                                                      <div class="input-group mb-3 col-md-6">
                                                         <div class="input-group-prepend">
                                                              <span class="input-group-text " id="inputGroup-sizing-default">İl</span>
                                                         </div>
                                                         <select id="iller"name="Sehir"class="browser-default custom-select" required>
                                                                    <% iller.forEach(function(element) { %>
                                                                      <%if(element.KODU==user.ILKODU){ %>
                                                                      <option value="<%= element.KODU%>" selected> <%= element.ADI  %></option>
                                                                      <%}else{%>
                                                                        <option value="<%= element.KODU%>"> <%= element.ADI  %></option>
                                                                      <%}}); %>
                                                        </select>
                                                     </div>
                                                     <div class="input-group mb-3 col-md-6">
                                                     <div class="input-group-prepend">
                                                            <span class="input-group-text ">İlçe</span>
                                                    </div>
                                                            <select id="ilceler" name="ilce" class="browser-default custom-select" required>
                                                                <% ilceler.forEach(function(element) { %>
                                                                    <%if(element.KODU==user.ILCEKODU){ %>
                                                                    <option value="<%= element.KODU%>" selected> <%= element.ADI  %></option>
                                                                    <%}else{%>
                                                                      <option value="<%= element.KODU%>"> <%= element.ADI  %></option>
                                                                    <%}}); %>
                                                            </select>
                                                    </div>
                                                  
                                                </div>    
                                                <div class=" row"style="margin-bottom: 1%;">
                                                    <div class="custom-control custom-checkbox custom-control-inline" style="margin: auto;">
                                                          <input type="checkbox" name="evdeSaglikAliyor" class="custom-control-input" id="defaultInline12" value="evdeSaglık">
                                                          <label class="custom-control-label" for="defaultInline12">?</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-control-inline"style="margin: auto;">
                                                          <input type="checkbox" name="AHuzmani"class="custom-control-input" id="AHuzmani" value="1">
                                                          <label class="custom-control-label" for="AHuzmani">Aile Hekimliği Uzmanı</label>
                                                    </div>                           
                                                </div>    
                                                <div class="row">
                                                    <div class="input-group col-md-6 mb-3">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text " id="inputGroup-sizing-default">Diploma Tescil No</span>
                                                        </div>
                                                        <input class="form-control" name="DipTesNo" value="<%= user.DipTesNo  %>" type="number" aria-label="Default">
                                                    </div>       
                                                    <div class="input-group col-md-6 mb-3">
                                                        <div class="input-group-prepend">
                                                              <span class="input-group-text " id="inputGroup-sizing-default">İhtisas No</span>
                                                        </div>
                                                        <input class="form-control" name="IhtisasNo" type="number" value="<%= user.IhtisasNo  %>" aria-label="Default">
                                                    </div>                                              
                                                 </div>                                
                                             
                                            </div>
                                            
                                    </div>  
    </div>
</div>
   

<script>
if(<%=user.AHUzmani%>==1){
    $('#AHuzmani').prop('checked', true);
}

var ilceKodu;

$('#iller').on('change', function() {
ilceleriYukle($('#iller').val())
});

//------------------------------Functions--------------------------------------------------
function ilceleriYukle(ilkodu) {if(ilkodu!=undefined){
              $('#ilceler').empty();
              $.ajax({
                    url: '/ilceleriGetir',
                    method: 'get',
                    data: { ilkodu: ilkodu }
              }).done(function(res) {
                  console.log(res)
                     var ilceArray=res.ilceler;
                     for (var i = 0; i <= ilceArray.length; i++) {
                         if( <%=user.ILCEKODU+''%> == ilceArray[i].KODU){
                                                   
                              $('#ilceler').append('<option selected value="' + ilceArray[i].KODU + '">' + ilceArray[i].ADI + '</option>');
                     
                          }
                         else{
                            $('#ilceler').append('<option value="' + ilceArray[i].KODU + '">' + ilceArray[i].ADI + '</option>');
                          }
                      }
              });
         }
  
};

//------------------------------Functions--------------------------------------------------

//------------------------------VALIDATIONS--------------------------------------------------
//TC VALİDATİON
var writingColor="yellow";
var trueColor="#b5d8e5";
var wrongColor="pink"
$(document).ready(function(){
$("#tcInput").keydown(function(){
  $("#tcInput").css("background-color", writingColor);
});
$("#tcInput").keyup(function(){
    var tc= $("#tcInput").val();
  if(checkTcNum(tc)){
       $("#tcInput").css("background-color",trueColor );


  }
  else{
       $("#tcInput").css("background-color",wrongColor) ;
  }
});
});



var checkTcNum = function(value) {
value = value.toString();
var isEleven = /^[0-9]{11}$/.test(value);
var totalX = 0;
for (var i = 0; i < 10; i++) {
  totalX += Number(value.substr(i, 1));
}
var isRuleX = totalX % 10 == value.substr(10,1);
var totalY1 = 0;
var totalY2 = 0;
for (var i = 0; i < 10; i+=2) {
  totalY1 += Number(value.substr(i, 1));
}
for (var i = 1; i < 10; i+=2) {
  totalY2 += Number(value.substr(i, 1));
}
var isRuleY = ((totalY1 * 7) - totalY2) % 10 == value.substr(9,0);
return isEleven && isRuleX && isRuleY;
};
//TEXT VALİDATİON




//------------------------------VALIDATIONS--------------------------------------------------
</script>