<style>


/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 650px;
    overflow-y: auto;
}
 </style> 
<%- include('hastaHeader'); -%>
<div class="row" style="height: 5%;">
  <div class="col-md-6" style="">
     <div class="input-group">
         <div class="input-group-prepend">
               <span class="input-group-text " id="inputGroup-sizing-default">İlaç Adı</span>
         </div>
          <input id="ilacAra" class="form-control" placeholder="İlaç Ara"  type="text" aria-label="Default" aria-describedby="">
     </div>
   </div>
   <div class="col-md-6" style="">
                <div class="row" style="height:100%;"> 
                               <div class="col-md-4" style="">
                                     <div id="sablonSec" style="text-align: center;margin: auto;color: #325179;height: 80%;"><img src="/public/img/temizle.svg" class="" style="height: 80%;width: 80%;"><b>Şablondan Seç</b></div>
                              </div>
                              <div class="col-md-4" style="">
                                     <div id="sablonEkle" style="text-align: center;margin: auto;color: #325179;height: 80%;"><img src="/public/img/temizle.svg" class="" style="height: 80%;width: 80%;"><b>Şablon Olarak Kaydet</b></div>
                              </div>
                              <div class="col-md-4" style="">
                                     <div id="temizle" style="text-align: center;margin: auto;color: #325179;height: 80%;"><img src="/public/img/temizle.svg" class="" style="height: 80%;width: 80%;"><b>Temizle</b></div>
                              </div>
                </div>   
  </div>
</div>

<div class="row" style="height: 30%;margin-top:1%">
         <div class="col-md-6" style="">
 
                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 20px;border-top-right-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row">
                                             <div class="col-md-1" style="background-color: white;text-align: center;padding: 5px;border-bottom: solid;">
                                           </div> 
                                           <div class="col-md-5" style="background-color: white;text-align: center;padding: 5px;border-right: solid;border-bottom: solid;">
                                             İlaç Adı
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 5px;text-align: center;border-bottom: solid;">
                                             Etkin Madde
                                           </div>
                                            <div class="col-md-2" style="background-color: white;border-top-right-radius: 15px;padding: 5px;text-align: center;border-bottom: solid;">
                                             Satış Fiyatı
                                           </div>
                                     </div>
                            </div>
                            <div class="container" id="ilacTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 75%;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                         <% ilaclar.forEach(function(e) { %>
                                    
                                      <div  class="row ilacRow">
                                             <div class="col-md-1 cbx" style="background-color: white;text-align: right;padding: 5px;border-bottom: solid;">
                                                    <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.ATCADI+'?'+e.BARKODU %>"></div>
                                           </div> 
                                           <div class="col-md-5 kod" style="background-color: white;text-align: center;padding: 5px;border-right: solid;border-bottom: solid;"><%=e.ADI %></div>  
                                            <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 5px;border-right: solid;border-bottom: solid;"><%=e.ATCADI %></div>  
                                            <div class="col-md-2 isim" style="background-color: white;padding: 5px;text-align: center;border-bottom: solid;"></div>
                                     </div>
                                         <%}); %>
                            </div>
       </div>  
       <div class="col-md-6">
                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 20px;border-top-right-radius: 20px;overflow-y: auto;overflow-x: hidden;">

                                      <div class="row" id="secilenHeader">
                                             <div class="col-md-6" style="background-color: white;text-align: center;padding: 5px;border-bottom: solid;border-right: solid;">
                                              ICPC Kodu
                                           </div> 
                                           <div class="col-md-6" style="background-color: white;border-top-right-radius: 15px;padding: 5px;text-align: center;border-bottom: solid;">
                                            İlaç Adı
                                           </div>  
                                          
                                     </div>
                             </div>
                            <div class="container" id="secilenIlacRow" style="height: 75%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                  
                                                 
                            </div>
                                 
         </div>         
</div>


<div class="row" style='height: 28%;margin-top:1%'>
        <div class="col-md-11"style="margin:auto;border-radius: 20px; padding: 10px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                        <div class="row" style="">
                                             <div id="ilacAdıKullanım" class="" style="margin:auto;background-color: white;border-radius: 10px;color: #325179;font-family: Avenir Next;text-align: center;text-decoration: underline;"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                          <div class="col-md-3" style="">     
                                                    <div class="input-group">
                                                           <div class="input-group-prepend">
                                                                    <span class="input-group-text " id="inputGroup-sizing-default">Kullanım Şekli</span>
                                                          </div>
                                                          <select id="kullanimsekli"class="browser-default custom-select">
                                                              <% kullanımSekli.forEach(function(element) { %>
                                                              <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                              <%}); %>
                                                           </select>
                                                    </div>
                                           </div>
                                           <div class="col-md-3" style="">     
                                                    <div class="input-group">
                                                           <div class="input-group-prepend">
                                                                    <span class="input-group-text " id="inputGroup-sizing-default">Brimi</span>
                                                          </div>
                                                          <select id="birimi"class="browser-default custom-select">
                                                             <% KullanimPeriyoduBirimi.forEach(function(element) { %>
                                                              <% if(element.ADI=='GÜN'){ %>
                                                                   <option value="<%= element.KODU %>" selected> <%= element.ADI %></option>
                                                                   <%}else{ %>
                                                                    <option value="<%= element.KODU %>" > <%= element.ADI %></option>
                                                              <%}}); %>
                                                           </select>
                                                    </div>
                                           </div>
                                            <div class="col-md-2" style="">     
                                                    <div class="input-group">
                                                           <div class="input-group-prepend">
                                                                    <span class="input-group-text " id="inputGroup-sizing-default">Periyodu</span>
                                                          </div>
                                                          <select id="kullanimperiyodu"class="browser-default custom-select">
                                                            <% for(var i=1; i<11; i++) { %>
                                                               <option value="<%= i+'' %>"> <%= i+'' %></option>
                                                               <%}%>
                                                          </select>
                                                    </div>
                                            </div>
                                            <div class="col-md-2" style="">     
                                              <div class="input-group">
                                                     <div class="input-group-prepend">
                                                              <span class="input-group-text " id="inputGroup-sizing-default">Doz1</span>
                                                    </div>
                                                    <select id="doz1"class="browser-default custom-select">
                                                      <% for(var i=1; i<11; i++) { %>
                                                         <option value="<%= i+'' %>"> <%=i+'' %></option>
                                                         <%} %>
                                                   </select>     
                                              </div>
                                             </div>
                                             <div class="col-md-2" style="">     
                                              <div class="input-group">
                                                     <div class="input-group-prepend">
                                                              <span class="input-group-text " id="inputGroup-sizing-default">Doz2</span>
                                                    </div>
                                                    <select id="doz2"class="browser-default custom-select">
                                                      <% for(var i=1; i<11; i++) { %>
                                                         <option value="<%= i+'' %>"> <%= i+'' %></option>
                                                         <%} %>
                                                   </select>     
                                              </div>
                                            </div>
                                                  
                                        </div>
                                        <div class="row" style="margin-top: 1%;">
                                            
                                           
                                           <div class="col-md-2" style="">     
                                                    <div class="input-group">
                                                           <div class="input-group-prepend">
                                                                    <span class="input-group-text " id="inputGroup-sizing-default">Kutu</span>
                                                          </div>
                                                          <select id="kutu"class="browser-default custom-select">
                                                            <% for(var i=1; i<11; i++) { %>
                                                               <option value="<%= i+'' %>"> <%= i+'' %></option>
                                                               <%} %>
                                                         </select>     
                                                    </div>
                                            </div>
                                            <div class="col-md-10" style="">     
                                                 <div class="input-group mb-3">
                                                      <div class="input-group-prepend">
                                                         <span class="input-group-text " id="inputGroup-sizing-default">Açıklama</span>
                                                      </div>
                                                      <input id="ilacAciklamasi" class="form-control"   type="text" aria-label="Default" aria-describedby="">
                                                  </div>
                                            </div>                                               
                                        </div>
                                        <div class="row" style="">
                                           <button type="button" class="" data-toggle="modal" data-target="#aciklamaModal" style="width: 25%;
                                           background-color: #325179;
                                           color: white;
                                           border-radius: 8px;margin-left: auto;margin-right: auto;">Açıklama</button>
                                           <button id="sabitle" type="button" class="btn btn-primary" style="width: 25%;
                                           background-color: #325179;
                                           color: white;
                                           border-radius: 8px;margin-left: auto;margin-right: auto;">Bilgileri Sabitle</button>

                                       </div>



        </div>

</div>

<div class="row" style="margin-top: 3%;">
  <button id="renkliRecete" type="button" style="width: 20%;background-color: #325179;color: white;border-radius: 8px;margin-left: auto;margin-right: auto;">Renkli Reçete</button>
  <button id="recetePDFbtn" type="button" class="btn btn-primary" style="width: 20%;background-color: #325179;color: white;border-radius: 8px;margin-left: auto;margin-right: auto;">PDF</button>
  <button id="mynBitirPDFbtn" type="button" class="btn btn-primary" style="width: 20%;background-color: #325179;color: white;border-radius: 8px;margin-left: auto;margin-right: auto;">Muayeneyi Bitir</button>

</div>



<form id="hastaProfili" action="/hasta/hastaProfili" method="post"></form>

<form id="renkliForm"action="/renkliRecete" method="post" style="display: none;"></form>
<form id="receteKaydetForm"action="/receteKaydet" method="post" style="display: none;"></form>

      <% 
      if(Array.isArray(SecilenTanılar)){
          SecilenTanılar.forEach(function(e) { %>  
                                      <div  class="row secilenTanılar" style="display:none;">
                                            <div class="tani" style=""><%=e%></div>  
                                     </div>
                                         <%});} 
        else{%>
<div  class="row secilenTanılar" style="display:none;">
                                            <div class="tani" ><%=SecilenTanılar%></div>  
                                     </div>


        <%}%>



<script>

secilenIlaclar=[];
sablonlar=[]


$("#ilacAra").on("keyup", function () {
    var value = $(this).val().toLocaleUpperCase('tr-TR');

        $.ajax({
            url: '/ilacFilter',
            method: 'get',
            data: { value: value }
            }).done(function(res) {
                var IlacArray=res.ilaclar;
                $( ".ilacRow" ).remove();
                for (var i = 0; i <= IlacArray.length; i++) {
                    color="red"
                    found_names = jQuery.grep(secilenIlaclar, function(value) {
                        return value.barkod == IlacArray[i].BARKODU;
                    });
                    if (found_names.length==1){color="green"}
                    var html= '<div  class="row ilacRow">';
                    html+= '<div class="col-md-1 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                    html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+IlacArray[i].ADI+'?'+IlacArray[i].ATCADI+'?'+IlacArray[i].BARKODU+'"></div></div>';  
                    html+= '<div class="col-md-5 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+IlacArray[i].ADI+'</div>';
                    html+= '<div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+IlacArray[i].ATCADI +'</div>';
                    html+='<div class="col-md-2 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"></div></div>';
                    $( "#ilacTable" ).append(html);                    
                }
        });

           // $(this).toggle(($(this).children(".kod").text()+$(this).children(".isim").text()).toLowerCase().indexOf(value) > -1);
    
   
});
  

$( "#recetePDFbtn").click(function() {

    
    window.open('/showPDF'); 






    // var receteTur=$("#receteTur").val();
    // $.ajax({
    //     url: '/pdf/recetePDF',
    //     method: 'get',
    //     data: { 'tanilar':tanilar,'ilaclar':secilenIlaclar,'receteTur':receteTur},
    //     datatype: "json",
    //     contentType: "application/json; charset=utf-8",       
    // })
   


       
    //         window.open('/showPDF'); 
    //-----recete


});


        
 
var ad,etkenMadde,barkod;
var $tıklananSatır;
$(document).on('click', ".ilacRow", function(){

    $tıklananSatır=$(this);
    if($tıklananSatır.children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
         ad= $tıklananSatır.children(".cbx").children().attr("name").split("?")[0];;
         etkenMadde= $tıklananSatır.children(".cbx").children().attr("name").split("?")[1];
         barkod= $tıklananSatır.children(".cbx").children().attr("name").split("?")[2];
        $("#ilacAdıKullanım").text(ad);
  
    }
    else{
        $tıklananSatır.children(".cbx").children().css('background-color','red');
        ad= $tıklananSatır.children(".cbx").children().attr("name").split("?")[0];;
         barkod= $tıklananSatır.children(".cbx").children().attr("name").split("?")[2];
        var str=":contains("+barkod+")" ;
        $(".secilenIlacRow").remove(str);
        secilenIlaclar.forEach(element => {
            if(element.barkod==barkod){
                secilenIlaclar = jQuery.grep(secilenIlaclar, function(value) {
                    return value != element;
                  });

            }
        });

    }
  

});



var tanilar=[];

$( document ).ready(function() {
  $(".secilenTanılar").each(function(){
    var tanı = $(this).find(".tani").text();
    var kod=tanı.split('?')[0];
    var ad=tanı.split('?')[2];
    var TaniTuru=tanı.split('?')[1];
    var i={kod:kod,ad:ad,TaniTuru:TaniTuru};

    tanilar.push(i);
  });
});

var html="";
$("#sabitle").click(function () {
   if($tıklananSatır.children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
         ad= $tıklananSatır.children(".cbx").children().attr("name").split("?")[0];;
          etkenMadde= $tıklananSatır.children(".cbx").children().attr("name").split("?")[1];
          barkod= $tıklananSatır.children(".cbx").children().attr("name").split("?")[2];
         $tıklananSatır.children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
         html= '<div  class="row secilenIlacRow ">';
         html+= '<div class="col-md-6 barkod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+barkod+'</div>'; 
         html+= '<div class="col-md-6 ad" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+ad+'</div></div>';  
         $(html).appendTo($("#secilenIlacRow")); 

         var kullanimsekli= $( "#kullanimsekli" ).val();
         var birimi=$( "#birimi" ).val();
         var kullanimperiyodu=$( "#kullanimperiyodu" ).val();
         var doz1=$( "#doz1" ).val();
         var doz2=$( "#doz2" ).val();
         var kutu=$( "#kutu" ).val();
         var aciklama=$( "#ilacAciklamasi" ).val();

         var t={ad:ad,barkod:barkod,kullanimperiyodu:kullanimperiyodu,doz1:doz1,doz2:doz2,kutu:kutu,kullanimsekli:kullanimsekli,birimi:birimi,aciklama:aciklama};
         secilenIlaclar.push(t);
    }
    if(secilenIlaclar.length>0){
        $.ajax({
            url: '/pdf/recetePDF',
            method: 'get',
            data: { 'tanilar':tanilar,'ilaclar':secilenIlaclar},
            datatype: "json",
            contentType: "application/json; charset=utf-8",       
        })
          //-----recete-pdf
    }
   
      
     
     
});

$("#renkliRecete").click(function () {
    var taniList=[];
    for (let index = 0; index < tanilar.length; index++) {
        taniList.push({taniKodu:tanilar[index].kod});
    }
    var ilacList=[];
    for (let index = 0; index < secilenIlaclar.length; index++) {
        e=secilenIlaclar[index]
        ilacList.push({"gtin":'0'+e.barkod,"doz1":e.doz1,"doz2":e.doz2,"periyod":e.kullanimperiyodu,"periyodBirimi":e.birimi,"kutu":e.kutu,"kullanimSekli":e.kullanimsekli,"aciklama":e.aciklama});
    }
    taniList=JSON.stringify(taniList);
    ilacList=JSON.stringify(ilacList);

    var tanilarInput = $("<input>").attr("type", "hidden").attr("name", "taniListesi").val(taniList);
    $('#renkliForm').append(tanilarInput);
    var ilaclarInput = $("<input>").attr("type", "hidden").attr("name", "ilacListesi").val(ilacList);
    $('#renkliForm').append(ilaclarInput);
        $('#renkliForm').submit();
});


$( "#sablonSec").click(function() {
      sablonlar=[]
      secilenSablon=''
      $.ajax({
            url: '/receteSablonlariGetir',
            method: 'get',
            }).done(function(res) {
              $("#sablonAdlari").empty()
              $("#sablonlarTable").empty()
              sablonlar=res.sablonlar
              for (let index = 0; index < sablonlar.length; index++) {
                  const e = sablonlar[index];
                  html= '<div class="row SADRow">';
                  html+= '<div class="col-md-12 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+e.Ad+'</div>'; 
                  html+= ' </div>';  
                  $(html).appendTo($("#sablonAdlari")); 
              }                   
              $('#sablonlarModal').modal('show');
       });   
});
secilenSablon=''
sablonIlacları=[]
$(document).on('click', ".SADRow", function(){
    if(secilenSablon!=$(this).children().html()){
       $("#sablonlarTable").empty()
       secilenSablon=$(this).children().html()
       $(".SADRow").children().css("background-color","white");
       $(".SADRow").children().css("color","black");

       $(this).children().css("background-color","#325179");
       $(this).children().css("color","white");
       for (let index = 0; index < sablonlar.length; index++) {
             e = sablonlar[index];
             if(e.Ad==secilenSablon){
                  ilaclar=e.ilaclar.split('%')
                  sablonIlacları=ilaclar
                  for (let index = 0; index < ilaclar.length; index++) {
                      e = ilaclar[index];
                      console.log(e)
                      ilacAdı=e.split('?')[0]
                      barkod=e.split('?')[1]
                      kullanimperiyodu=e.split('?')[2]
                      doz1=e.split('?')[3]
                      doz2=e.split('?')[4]
                      kutu=e.split('?')[5]
                      kullanimsekli=e.split('?')[6]
                      aciklama=e.split('?')[7]
                      birimi=e.split('?')[8]
                      html= '<div class="row">';
                      html+= ' <div class="col-md-12">'; 
                      html+= ' <div class="row">'; 
                      html+= ' <div class="col-md-12" style="background-color: white;text-align: center;padding: 2px;font-size: smaller;">'; 
                      html+= ' <u style="color: #325179;font-weight: bold;">İlaç Adı:</u>'+ilacAdı+' </div> </div> '; 
                      html+='<div class="row"> '
                        html+= '<div class="col-md-4" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"><u style="color: #325179;font-weight: bold;">Açıklama:</u>'+aciklama+' </div>    '; 
                      html+= ' <div class="col-md-4" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"> <u style="color: #325179;font-weight: bold;">Barkodu:</u> '+barkod+'  </div> </div>  '; 
                       html+= ' <div class="row"> <div class="col-md-4" style="font-size: smaller;background-color: white;text-align: center;padding: 10px;"><u style="color: #325179;font-weight: bold;">K. Şekli:</u>'+kullanimsekli+' </div> '; 
                       html+= '<div class="col-md-3" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"><u style="color: #325179;font-weight: bold;">Birimi:</u>'+birimi+' </div> '; 
                      html+= ' <div class="col-md-3" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"><u style="color: #325179;font-weight: bold;">K. Periyodu:</u>'+kullanimperiyodu+'</div>'; 
                        html+= ' <div class="col-md-2" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"><u style="color: #325179;font-weight: bold;">Kutu:</u>'+kutu+'</div></div>'; 
                        html+= ' <div class="row" style="border-bottom: solid;"> <div class="col-md-6" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"><u style="color: #325179;font-weight: bold;">Doz1:</u>'+doz1+' </div> '; 
                        html+= ' <div class="col-md-6" style="font-size: smaller;background-color: white;text-align: center;padding: 2px;"> <u style="color: #325179;font-weight: bold;">Doz2:</u> '+doz2+'  </div> </div></div></div> '; 

                      $(html).appendTo($("#sablonlarTable"));
                  }              

             }
         
       }                          
    }
      
});
$( "#temizle").click(function() {
   secilenIlaclar=[];
   $( "#secilenIlacRow").empty()
   $.ajax({
            url: '/ilacFilter',
            method: 'get',
            data: { value: '' }
            }).done(function(res) {
                var IlacArray=res.ilaclar;
                $( ".ilacRow" ).remove();
                for (var i = 0; i <= IlacArray.length; i++) {
                    color="red"
                    var html= '<div  class="row ilacRow">';
                    html+= '<div class="col-md-1 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                    html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+IlacArray[i].ADI+'?'+IlacArray[i].ATCADI+'?'+IlacArray[i].BARKODU+'"></div></div>';  
                    html+= '<div class="col-md-5 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+IlacArray[i].ADI+'</div>';
                    html+= '<div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+IlacArray[i].ATCADI +'</div>';
                    html+='<div class="col-md-2 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"></div></div>';
                    $( "#ilacTable" ).append(html);                    
                }
    });
   
});
$( "#sablonEkle").click(function() {
  $('#sablonEkleModal').modal('show');
});
$( "#secSablonBtn").click(function() {
   $( "#ilacTable" ).empty()
   $( "#secilenIlacRow").empty()
   secilenIlaclar=[];
   for (let index = 0; index < sablonIlacları.length; index++) {
                       e = sablonIlacları[index];
                      ilacAdı=e.split('?')[0]
                      barkod=e.split('?')[1]
                      kullanimperiyodu=e.split('?')[2]
                      miktar=e.split('?')[3]
                      kullanimsekli=e.split('?')[4]
                      aciklama=e.split('?')[5]
                      birimi=e.split('?')[6]                   
         html= '<div  class="row secilenIlacRow ">';
         html+= '<div class="col-md-6 barkod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+barkod+'</div>'; 
         html+= '<div class="col-md-6 ad" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+ilacAdı+'</div></div>';  
         $(html).appendTo($("#secilenIlacRow")); 
         var t={ad:ilacAdı,barkod:barkod,kullanimperiyodu:kullanimperiyodu,miktar:miktar,kullanimsekli:kullanimsekli,birimi:birimi,aciklama:aciklama};
         secilenIlaclar.push(t);
   }
   if(secilenIlaclar.length>0){
        $.ajax({
            url: '/pdf/recetePDF',
            method: 'get',
            data: { 'tanilar':tanilar,'ilaclar':secilenIlaclar},
            datatype: "json",
            contentType: "application/json; charset=utf-8",       
        })
          //-----recete-pdf
    }
   
});

$( "#sablonEkleBtn").click(function() {
  var sablonAdi=$( "#sablonAdi" ).val();
      if(sablonAdi.length>0){
         $.ajax({
            url: '/receteSablonEkle',
            method: 'get',
            data: { secilenIlaclar: secilenIlaclar,sablonAdi:sablonAdi }
            }).done(function(res) {
              if(res.result){
                alert('Şablonunuz eklenmiştir.')
              }
              else{
                alert('Bu şablon adında şablonunuz zaten var.')
              } 
             
               
        });   
      }
      else{
          alert('Lütfen şablon adını giriniz.')
      }
});
$( "#mynBitirPDFbtn").click(function() {
  if(secilenIlaclar.length>0){
    
        inputTanilar = $("<input>").attr("type", "hidden").attr("name", "tanilar").val(JSON.stringify(tanilar));
        $('#receteKaydetForm').append(inputTanilar);
        inputIlaclar = $("<input>").attr("type", "hidden").attr("name", "secilenIlaclar").val(JSON.stringify(secilenIlaclar));
        $('#receteKaydetForm').append(inputIlaclar);
       
         $.ajax({
                type: "POST",
                url: '/receteKaydet',
                data: $('#receteKaydetForm').serialize(), // serializes the form's elements.
                success: function(data)
                {
                            alert('Muayene Kaydedilmiştir.')       
                            var input = $("<input>").attr("type", "hidden").attr("name", "isim").val(<%=hasta.Id%>);
                            $('#hastaProfili').append(input); 
                            $("#hastaProfili").submit();                         
                }
            });
    }
    else alert('Lütfen en az 1 ilaç seçiniz.')
});

</script>


<!-- Modal -->
<div class="modal" id="sablonEkleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
      <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
         <div style="color: white;    font-size: x-large;">Reçete Şablonu Ekle</div> 
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
     
      <div class="container" style="margin-top: 3%;">
          
            <div class="row" style="margin-top: 2%;">
              <div class="input-group">
                <div class="input-group-prepend">
                      <span class="input-group-text " id="inputGroup-sizing-default">Şablon Adı</span>
                </div>
                 <input id="sablonAdi" class="form-control" placeholder=""  type="text" aria-label="Default" aria-describedby="">
              </div>
            </div>
  
  
      </div>
      <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                <button id="t" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 12px;padding: 8px;">İptal</button>
                                <button id="sablonEkleBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 12px;padding: 8px;"data-dismiss="modal">Kaydet</button>
      </div>
    </div>
    
  </div>
  </div>
  </div>


<!-- Modal -->
<div class="modal" id="sablonlarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
      <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
         <div style="color: white;    font-size: x-large;">Reçete Şablonları</div> 
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
     
      <div class="container" style="margin-top: 3%;">
          
        <div class="row" style="height: 35%;">

          <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                    <div class="row">
                      <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;font-weight: bold;color:#325179"><u>ŞABLON ADLARI</u></div>                                               
                    </div>

          </div>
           <div class="container" id="sablonAdlari" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:70%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">                
                 
           </div>  
       </div>
       <div class="row" style="height: 40%;margin-top:2%">

            <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                    <div class="row">
                      <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;font-weight: bold;color:#325179"><u>ŞABLONLAR</u></div>                                               
                    </div>

          </div>
           <div class="container" id="sablonlarTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:185px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">                

           </div>  
        </div>
  
  
      </div>
      <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                <button id="t" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 12px;padding: 8px;">İptal</button>
                                <button id="secSablonBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 12px;padding: 8px;"data-dismiss="modal">Seç</button>
      </div>
    </div>
    
  </div>
  </div>
  </div>


<!-- Modal -->
<div class="modal" id="aciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="">ATASPIN 500 mg</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <div class="container" style="margin-top: 3%;">
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Barkod</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Durumu</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
          </div>   
           <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Etken Madde</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
                  <div class="col-md-6">
                             
  
                  </div>   
          </div>   
         <div class="row" style="margin-top: 2%;">
                  <div class="col-md-4">
                              <div class="col-md-6" style="color:blue;"><b>Birim</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
                  <div class="col-md-4">
                              <div class="col-md-6" style="color:blue;"><b>Birim Cinsi</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
                  <div class="col-md-4">
                              <div class="col-md-6" style="color:blue;"><b>İthal/İmal</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
          </div>   
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Farmostic Form</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
                  <div class="col-md-6">
                             
                  </div>   
          </div>   
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-4">
                              <div class="col-md-6" style="color:blue;"><b>Ambalaj</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
                  <div class="col-md-4">
                              <div class="col-md-6" style="color:blue;"><b>Ambalaj Birim</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
                  <div class="col-md-4">
                              <div class="col-md-6" style="color:blue;"><b>Reçete</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
          </div>  
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Firma Adı</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
                  <div class="col-md-6">
                             
                  </div>   
          </div>   
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Referans Ülke</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
                  <div class="col-md-6">
                             
                  </div>   
          </div>   
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Satış Fiyatı</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Değişiklik Tarihi</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
  
                  </div>   
          </div>   
          <div class="row" style="margin-top: 2%;">
                  <div class="col-md-6">
                              <div class="col-md-6" style="color:blue;"><b>Son Durum</b></div> 
                              <div class="col-md-6" style="color:black;">örnek</div> 
                  </div>   
                  <div class="col-md-6">
                             
                  </div>   
          </div>   
          <div class="row" style="margin-top: 2%;">
  <table class="tg" style="margin: auto; width:99%;">
    <tbody><tr>
      <th class="tg-baqh" colspan="4">Eş Değer İlaç Listesi</th>
    </tr>
    <tr>
      <td class="tg-jmv7">İlaç Adı</td>
      <td class="tg-jmv7">Satış Fiyatı</td>
      
    </tr>
    <tr>
      <td class="tg-0lax">majezik</td>
      <td class="tg-0lax">50 tl</td>
      
    </tr>
    <tr>
      <td class="tg-hmp3">novalgin</td>
      <td class="tg-hmp3">30 tl</td>
     
    </tr>
  </tbody></table>
  
          </div>
  
  
  
  
  
      </div>
      <div class="modal-footer">
        <button type="button" class="bg-success" data-dismiss="modal">Kapat</button>
      </div>
    </div>
    
  </div>
  </div>
  </div>