<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<div class="container">          
        <div class="row" style="margin-top:1%">          
                <div class="input-group input-group-sm col-md-3">
                    <input type="checkbox" id="stokGrubuCB" name="stokGrubuCB" value="1" style="margin: auto;">
                        <div class="input-group-prepend " style="margin-left: 1px;">
                                <span class="input-group-text " id="inputGroup-sizing-default">Stok Grubu</span>
                        </div>
                        <select name="stokGrubuSB" id="stokGrubuSB" class="browser-default custom-select">                            
                                <option value="AŞILAR"> AŞILAR</option>
                                <option value="DİĞER"> DİĞER</option>
                                <option value="AİLE PLANLAMASI"> AİLE PLANLAMASI</option>
                                <option value="ORAL İLAÇLAR"> ORAL İLAÇLAR</option>
                                <option value="ENJECTABL İLAÇLAR(IM-IV)"> ENJECTABL İLAÇLAR(IM-IV)</option>
                                <option value="SOLÜSYONLAR"> SOLÜSYONLAR</option>
                                <option value="HARİCEN KULLANILAN İLAÇLAR"> HARİCEN KULLANILAN İLAÇLAR</option>
                                <option value="SARF MALZEMELER"> SARF MALZEMELER</option>

                        </select>
                </div>
                 <div class="col-md-9" style="margin:auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="bzs" value="1">
                            <label class="form-check-label" for="bzs">Bildirimi Zorunlu Stoklar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="minSevad" value="1">
                            <label class="form-check-label" for="minSevad">Min. Sev. Altına Düşenler</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="kritSevad" value="1">
                            <label class="form-check-label" for="kritSevad">Krit. Sev. Altına Düşenler</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="miadFilt" value="1">
                            <label class="form-check-label" for="miadFilt">Miadı Yaklaşanlar</label>
                        </div>
                 </div>
               
        </div>
       
</div>

<div class="container" style="margin-top: 1%; background-color: #adb5bd;text-align: center;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 15px;border-top-right-radius: 15px;overflow-y: auto;overflow-x: hidden;">
    <div class="row">
           
          <div class="col-md-1" style="text-align: center;padding: 1px;border-right: solid;border-bottom: solid;font-size: smaller;border-width: thin;">
            KOD
          </div>  
           <div class="col-md-1" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-width: thin;border-right: solid;border-width: thin;">
            BARKOD
          </div>
           <div class="col-md-2" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-right: solid;border-width: thin;">
            GRUP
          </div>
          <div class="col-md-2" style="padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-right: solid;border-width: thin;">
            AD
          </div>
          <div class="col-md-1" style="border-top-right-radius: 0;padding: 1px;text-align: center;border-bottom: solid;border-right: solid;font-size: smaller;border-width: thin;">
            MEVCUT
          </div>
          <div class="col-md-1" style="border-top-right-radius: 0;padding: 1px;text-align: center;border-bottom: solid;border-right: solid;font-size: smaller;border-width: thin;">
            MİN.SEV.
          </div>
          <div class="col-md-1" style="border-top-right-radius: 0;padding: 1px;text-align: center;border-bottom: solid;border-right: solid;font-size: smaller;border-width: thin;">
            KRİT.SEV.
          </div>
          <div class="col-md-1" style="border-top-right-radius: 0;padding: 1px;text-align: center;border-bottom: solid;border-right: solid;font-size: smaller;border-width: thin;">
            MAX.SEV.
          </div>
          <div class="col-md-1" style="border-top-right-radius: 0;padding: 1px;text-align: center;border-bottom: solid;border-right: solid;font-size: smaller;border-width: thin;">
             BUL.ZORUNLU
          </div>
          <div class="col-md-1" style="border-top-right-radius: 15px;padding: 1px;text-align: center;border-bottom: solid;font-size: smaller;border-width: thin;">
            EN YAKIN MİAD
          </div>
    </div>
 </div>
  <div class="container" id="stoklarTable" style="background-color: white; text-align: center;box-shadow: 6px 7px 6px grey;height: 60%;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
    <% stoklar.forEach(function(e) { %>
     <div  class="row stokRow" id="<%='s'+e.ID %>" >
          <div class="col-md-1 kod c1" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;"><%=e.ID %> </div>  
           <div class="col-md-1 barkod c2" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;"><%=e.BARKOD %></div>  
           <div class="col-md-2 c3" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.StokGrup %></div>
           <div class="col-md-2 c4" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.Ad %></div>
           <div class="col-md-1 c5" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.Mevcut %></div>
           <div class="col-md-1 c6" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.MininumSeviye %></div>
           <div class="col-md-1 c7" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.KritikSeviye %></div>
           <div class="col-md-1 c8" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"><%=e.MaxSeviye %></div>
           <div class="col-md-1 c9" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;"> 
            <%if(e.Zorunlu==0){%>Z.Değil<%}else{%>Zorunlu<%} %>
            </div>
           <div class="col-md-1 c10" style="padding: 1px;text-align: center;border-bottom: solid;border-width: thin;font-size: smaller;"><%=e.EnYakinMiad %></div>
    </div>
    <%}); %>  

  </div>

  <div class="container">          
    <div class="row" style="margin-top:2%;">
            <div class="col-md-4">
                            <button id="yeniBtn" type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Yeni</button>
            </div>
            <div class="col-md-4">
                            <button id="duzenleBtn" type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Düzenle</button>
        </div>
            <div class="col-md-4">
                        <button id="silBtn" type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Sil</button>
        </div>                                      
    </div>
</div>



<script>

async function filterStoks(){
    $('#stoklarTable').empty()
    $.ajax({
        type: "post",
        url: '/ayarlar/filterStoks',
        data:{stokGrubuSB:stokGrubuSB,bzs:bzs,minSevad:minSevad,kritSevad:kritSevad,miadFilt:miadFilt},
        success: function(data)
        {
            console.log(data)
            for (let index = 0; index < data.length; index++) {
                const e = data[index];
                html=` <div  class="row stokRow" id="s${data.id}" >
                            <div class="col-md-1 kod c1" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;">${e.ID}</div>  
                            <div class="col-md-1 barkod c2" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;">${e.BARKOD}</div>  
                            <div class="col-md-2 c3" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.StokGrup}</div>
                            <div class="col-md-2 c4" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.Ad}</div>
                            <div class="col-md-1 c5" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.mevcut}</div>
                            <div class="col-md-1 c6" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.MininumSeviye}</div>
                            <div class="col-md-1 c7" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.KritikSeviye}</div>
                            <div class="col-md-1 c8" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.MaxSeviye}</div>
                            <div class="col-md-1 c9" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${e.Zorunlu}</div>
                            <div class="col-md-1 c10" style="padding: 1px;text-align: center;border-bottom: solid;border-width: thin;font-size: smaller;">${e.EnYakinMiad}</div>
                        </div>`
                        $('#stoklarTable').append(html)
            }
               
                                  
        }
    });

}
stokGrubuSB=0
bzs=0
minSevad=0
kritSevad=0
miadFilt=0
 var update_stokGrubu = function () {
    if ($("#stokGrubuCB").is(":checked")) {
        $('#stokGrubuSB').prop('disabled', false);
        stokGrubuSB=$('#stokGrubuSB').val()
        filterStoks()
    }
    else {
        $('#stokGrubuSB').prop('disabled', 'disabled');
        stokGrubuSB=0  
        filterStoks()
    }
  };
  $(update_stokGrubu);
  $("#stokGrubuCB").change(update_stokGrubu);

  $( "#stokGrubuSB" ).change(function() {
         if($("#stokGrubuCB").is(":checked")){
            stokGrubuSB=$('#stokGrubuSB').val()
            filterStoks()
         }
         else { stokGrubuSB=-1 ;filterStoks()}
  })
  $('#bzs').change(function() {
        if(this.checked)  {bzs=1;filterStoks();}
        else {bzs=0;filterStoks()}
  });
  $('#minSevad').change(function() {
        if(this.checked)  {minSevad=1;filterStoks();}
        else {minSevad=0;filterStoks()}
  });
  $('#kritSevad').change(function() {
        if(this.checked)  {kritSevad=1;filterStoks();}
        else {kritSevad=0;filterStoks()}
  });
  $('#miadFilt').change(function() {
        if(this.checked)  {miadFilt=1;filterStoks();}
        else {miadFilt=0;filterStoks()}
  });



secilenStok=null
secilenDiv=null
$( document ).ready(function() {
$("#stoklarTable").on("click", ".stokRow" , function(){
    if(secilenStok!=$(this).children('.kod').text()){
        $( ".stokRow" ).css('background-color','white')   
        $(this).css('background-color','yellow')   
        secilenStok=$(this).children('.kod').text()
        secilenDiv=$(this)
    }
    else{
        $( ".stokRow" ).css('background-color','white')   
        secilenStok=null
        secilenDiv=null
    }
});

$( "#stokEkleForm" ).on( "submit", function( event ) {
  event.preventDefault();
   $.ajax({
        type: "post",
        url: '/ayarlar/stokEkle',
        data:$( this ).serialize(),
        success: function(data)
        {
            if(data.id>0) {
              alert('Stok eklenmiştir.')
              $( "#stokEkleModal" ).modal('toggle')
                stokGrubu=$('#estokGrubuSB').val()
                barkod=$('#ebarkod').val()
                stokAdı=$('#estokAdi').val()
                eminSev=$('#eminSev').val()
                ekritSev=$('#ekritSev').val()
                emaxSev=$('#emaxSev').val()
                ebulZor=$('#ebulZor').val()
                mevcut=$('#ebulZor').val()
                if(ebulZor==1) ebulZor='Zorunlu'
                else ebulZor='Z.Değil'
                html=` <div  class="row stokRow" id="s${data.id}" >
                            <div class="col-md-1 kod c1" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;">${data.id}</div>  
                            <div class="col-md-1 barkod c2" style="text-align: center;padding: 5px;border-right: solid;border-bottom: solid;border-width: thin;font-size: smaller;">${barkod}</div>  
                            <div class="col-md-2 c3" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${stokGrubu}</div>
                            <div class="col-md-2 c4" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${stokAdı}</div>
                            <div class="col-md-1 c5" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">0</div>
                            <div class="col-md-1 c6" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${eminSev}</div>
                            <div class="col-md-1 c7" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${ekritSev}</div>
                            <div class="col-md-1 c8" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${emaxSev}</div>
                            <div class="col-md-1 c9" style="padding: 1px;text-align: center;border-bottom: solid;border-right: solid;border-width: thin;font-size: smaller;">${ebulZor}</div>
                            <div class="col-md-1 c10" style="padding: 1px;text-align: center;border-bottom: solid;border-width: thin;font-size: smaller;">${e.EnYakinMiad}</div>
                        </div>`
                        $('#stoklarTable').append(html)
            }                       
        }
    });
});
});

$( "#silBtn" ).click(function() {
    if(secilenStok!=null){
        $.ajax({
            type: "post",
            url: '/ayarlar/stokSil',
            data:{id:secilenStok},
            success: function(data)
            {
                if(data) {
                    satır='#s'+secilenStok
                    $(satır).remove()
                    alert('Stok Silindi. ')
                }                       
            }
        });
    }
    else{
       alert('Lütfen önce stok seçiniz.')
    }
  
});

$( "#yeniBtn" ).click(function() {
        $( "#stokEkleModal" ).modal('toggle')
});


$( "#duzenleBtn" ).click(function() {
    if(secilenStok!=null){
                $( "#UstokGrubuSB" ).val(secilenDiv.children('.c3').text())
                $( "#UstokAdi" ).val(secilenDiv.children('.c4').text())
                $( "#Ubarkod" ).val(secilenDiv.children('.c2').text())
                $( "#UminSev" ).val(secilenDiv.children('.c6').text())
                $( "#UkritSev" ).val(secilenDiv.children('.c7').text())
                $( "#UmaxSev" ).val(secilenDiv.children('.c8').text())
                str = secilenDiv.children('.c9').text().replace(/\s/g, '');
                if(str=='Zorunlu'){
                    $( "#UbulZor" ).prop( "checked", true );
                }
                else  $( "#UbulZor" ).prop( "checked", false );   
                $( "#stokUpdateModal" ).modal('toggle')  
    }
    else{
       alert('Lütfen önce stok seçiniz.')
    }        
      
});
$( document ).ready(function() {
     $( "#stokUpdateForm" ).on( "submit", function( event ) {
        event.preventDefault();
        $('<input />').attr('type', 'hidden')
                    .attr('name', 'secilenStok')
                    .attr('value', secilenStok)
                    .appendTo('#stokUpdateForm');
        $.ajax({
                type: "post",
                url: '/ayarlar/stokUpdate',
                data:$(this).serialize(),
                success: function(data)
                {
                    if(data) {
                    alert('Stok güncellenmiştir.')
                    $( "#stokUpdateModal" ).modal('toggle')
                        secilenDiv.children('.c3').text($( "#UstokGrubuSB" ).val())
                        secilenDiv.children('.c4').text($( "#UstokAdi" ).val())
                        secilenDiv.children('.c2').text($( "#Ubarkod" ).val())
                        secilenDiv.children('.c6').text($( "#UminSev" ).val())
                        secilenDiv.children('.c7').text($( "#UkritSev" ).val())
                        secilenDiv.children('.c8').text($( "#UmaxSev" ).val())              
                        if ($("#UbulZor").prop( "checked" )) { 
                            secilenDiv.children('.c9').text('Zorunlu')
                        }
                        else{
                            secilenDiv.children('.c9').text('Z.Değil') 
                        }
                    }                       
                }
            });
     });
});


//stokUpdate

</script>


<!-- Modal -->
<div class="modal" id="stokUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
   
     <!-- Modal content-->
         <div class="modal-content" style="background-color:#f1f3f3;">
              <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                  <div style="color: white;    font-size: x-large;">Stok Kart Bilgisi</div> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                     <div class="container" style="margin-top: 1%;">
                        <form id="stokUpdateForm"> 
                            <div class="row">
                                    <div class="input-group input-group-sm col-md-12">
                                            <div class="input-group-prepend " style="margin-left: 1px;">
                                                    <span class="input-group-text " id="inputGroup-sizing-default">Stok Grubu</span>
                                            </div>
                                            <select name="stokGrubuSB" id="UstokGrubuSB" class="browser-default custom-select">                            
                                                <option value="AŞILAR"> AŞILAR</option>
                                                <option value="DİĞER"> DİĞER</option>
                                                <option value="AİLE PLANLAMASI"> AİLE PLANLAMASI</option>
                                                <option value="ORAL İLAÇLAR"> ORAL İLAÇLAR</option>
                                                <option value="ENJECTABL İLAÇLAR(IM-IV)"> ENJECTABL İLAÇLAR(IM-IV)</option>
                                                <option value="SOLÜSYONLAR"> SOLÜSYONLAR</option>
                                                <option value="HARİCEN KULLANILAN İLAÇLAR"> HARİCEN KULLANILAN İLAÇLAR</option>
                                                <option value="SARF MALZEMELER"> SARF MALZEMELER</option>
                
                                           </select>
                                    </div>
                           </div>
                           <div class="row" style="margin-top: 1%;">
                                    <div class="input-group input-group-sm col-md-12"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Stok Adı</span>
                                        </div>
                                        <input id="UstokAdi" class="form-control" name="stokAdi" type="text" aria-label="Default" required>
                                    </div>
                          </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Barkod</span>
                                    </div>
                                    <input id="Ubarkod" class="form-control" name="barkod" type="text" aria-label="Default" required>
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Min.Seviye</span>
                                    </div>
                                    <input id="UminSev" class="form-control" name="minSev" type="number" aria-label="Default">
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Krit.Seviye</span>
                                    </div>
                                    <input  id="UkritSev"  class="form-control" name="kritSev" type="number" aria-label="Default">
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Max.Seviye</span>
                                    </div>
                                    <input id="UmaxSev" class="form-control" name="maxSev" type="number" aria-label="Default">
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="custom-control custom-checkbox custom-control-inline" style="margin:auto;">
                                        <input  type="checkbox" class="custom-control-input" name="UbulZor" id="UbulZor" value="1">
                                        <label class="custom-control-label" for="UbulZor">Bulundurulması Zorunlu Stok</label>
                                </div>  
                            </div>
                           <div class="row" style="margin-top:2%;">                                                     
                            <div class="col-md-12">
                                        <button  type="submit" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Kaydet</button>
                            </div>                                      
                          </div>                   
                        </form>
                           
                     </div>
              </div>
         </div>
     </div>
  </div>




<!-- Modal -->
<div class="modal" id="stokEkleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
   
     <!-- Modal content-->
         <div class="modal-content" style="background-color:#f1f3f3;">
              <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
                  <div style="color: white;    font-size: x-large;">Stok Kart Bilgisi</div> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                     <div class="container" style="margin-top: 1%;">
                        <form id="stokEkleForm"> 
                            <div class="row">
                                    <div class="input-group input-group-sm col-md-12">
                                            <div class="input-group-prepend " style="margin-left: 1px;">
                                                    <span class="input-group-text " id="inputGroup-sizing-default">Stok Grubu</span>
                                            </div>
                                            <select name="stokGrubuSB" id="estokGrubuSB" class="browser-default custom-select">                            
                                                <option value="AŞILAR"> AŞILAR</option>
                                                <option value="DİĞER"> DİĞER</option>
                                                <option value="AİLE PLANLAMASI"> AİLE PLANLAMASI</option>
                                                <option value="ORAL İLAÇLAR"> ORAL İLAÇLAR</option>
                                                <option value="ENJECTABL İLAÇLAR(IM-IV)"> ENJECTABL İLAÇLAR(IM-IV)</option>
                                                <option value="SOLÜSYONLAR"> SOLÜSYONLAR</option>
                                                <option value="HARİCEN KULLANILAN İLAÇLAR"> HARİCEN KULLANILAN İLAÇLAR</option>
                                                <option value="SARF MALZEMELER"> SARF MALZEMELER</option>
                
                                           </select>
                                    </div>
                           </div>
                           <div class="row" style="margin-top: 1%;">
                                    <div class="input-group input-group-sm col-md-12"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Stok Adı</span>
                                        </div>
                                        <input id="estokAdi"  class="form-control" name="stokAdi" type="text" aria-label="Default" required>
                                    </div>
                          </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Barkod</span>
                                    </div>
                                    <input id="ebarkod" class="form-control" name="barkod" type="text" aria-label="Default" required>
                                </div>
                            </div>     
                           
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Min.Seviye</span>
                                    </div>
                                    <input id="eminSev" class="form-control" name="minSev" type="number" aria-label="Default">
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Krit.Seviye</span>
                                    </div>
                                    <input id="ekritSev" class="form-control" name="kritSev" type="number" aria-label="Default">
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="input-group input-group-sm col-md-12"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="inputGroup-sizing-default">Max.Seviye</span>
                                    </div>
                                    <input id="emaxSev" class="form-control" name="maxSev" type="number" aria-label="Default">
                                </div>
                            </div>     
                            <div class="row" style="margin-top: 1%;">
                                <div class="custom-control custom-checkbox custom-control-inline" style="margin:auto;">
                                        <input  type="checkbox" class="custom-control-input" name="bulZor" id="ebulZor" value="1">
                                        <label class="custom-control-label" for="ebulZor">Bulundurulması Zorunlu Stok</label>
                                </div>  
                            </div>
                           <div class="row" style="margin-top:2%;">                                                     
                            <div class="col-md-12">
                                        <button id="formGonderBtn" type="submit" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;">Kaydet</button>
                            </div>                                      
                          </div>                   
                        </form>
                           
                     </div>
              </div>
         </div>
     </div>
  </div>



