
<div class="row" style="padding: 1px;margin-top: 2%;margin-bottom: 1%;">
    <div id="veriPaketSilSekme" class="col-md-4 selected sekme" style="background-color:rgb(64, 179, 197);text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 5px;">Veri Paketi Silme</div>
    <div id="hizmetSilSekme" class="col-md-4 sekme" style="background-color: #b5d8e5;text-align: center;padding: 5px;text-align: center;">Hizmet Silme</div>
    <div id="hastaKayitSilSekme" class="col-md-4 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 5px;text-align: center;">Hasta Kayıt Silme</div>   
</div>      

<div id="vpSekme" class="row ıslemTab" style="padding: 1px;margin-top: 1%;">
    <div class="container"style="margin-top: 1%;height">
        <div class="container">
                <div class="row form-group has-search">
                                                                <span class="fa fa-search form-control-feedback"></span>
                                                                <input id="vpInput" class="form-control ui-autocomplete-input" name="isim" type="text" placeholder="Hasta Ara" aria-label="Default" aria-describedby="" style="box-shadow: 6px 7px 6px grey;    border-radius: 1rem;" autocomplete="off">
                </div>
        </div>
       <div class="container" id="" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">

                           <div class="row" id="">
                                        <div class="col-md-2" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;font-weight: bold;color: #325179;">
                                         Paket Id
                                      </div> 
                                      <div class="col-md-2" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                       Veri Paketi
                                      </div>  
                                      <div class="col-md-2" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                        Hasta Ad Soyad
                                       </div>  
                                       <div class="col-md-2" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                        Hasta T.C.
                                       </div>  
                                       <div class="col-md-2" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                        SysNo
                                       </div>  
                                       <div class="col-md-2" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;font-weight: bold;color: #325179;">
                                        Tarih
                                      </div>
                            </div>
        </div>
        <div class="container" id="vpTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
            <% for(var i=0; i<vp.length; i++){ %>
                <div  class="row vpRow ">
                <div class="col-md-2 vpId" style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= vp[i].Id %></div>
                <div class="col-md-2 " style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= vp[i].VeriPaketi %></div>
                <div class="col-md-2 " style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= vp[i].hasta.Ad.toUpperCase() +" "+vp[i].hasta.Soyad.toUpperCase() %></div>
                <div class="col-md-2 " style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= vp[i].hasta.Id %></div>
                <div class="col-md-2 " style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= vp[i].SYSTakipNo %></div>
                <div class="col-md-2 " style="padding: 2px;text-align: center;border-bottom: solid;color: #325179;font-size: small;"><%= vp[i].Date %></div></div>
             <%} %>
                               
       </div>
       <div class="container" style="margin-top: 2%;">
                <div class="row">
                                      
                                        <div class="col-md-4">
                                                    <button id="silVpBtn" type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;font-size: 1rem;padding: 3px;">Sil</button>
                                    </div>   
                 </div>                                   
        </div>
</div>
</div>      

<div id="hsSekme" class="row ıslemTab" style="padding: 1px;margin-top: 2%;margin-bottom: 1%;display: none;">
asena
</div>     

<div id="hs2Sekme" class="row ıslemTab" style="padding: 1px;margin-top: 1%;margin-bottom: 1%;display: none;">
    <div class="container"style="margin-top: 1%;height">
        <div class="container">
                <div class="row form-group has-search">
                                                                <span class="fa fa-search form-control-feedback"></span>
                                                                <input id="hs2Input" class="form-control ui-autocomplete-input" name="isim" type="text" placeholder="Hasta Ara" aria-label="Default" aria-describedby="" style="box-shadow: 6px 7px 6px grey;    border-radius: 1rem;" autocomplete="off">
                </div>
        </div>
       <div class="container" id="" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">

                           <div class="row" id="">
                                        <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;font-weight: bold;color: #325179;">
                                            Hasta T.C.
                                      </div> 
                                     
                                      <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                        Hasta Ad Soyad
                                       </div>  
                                      
                                       <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;font-weight: bold;color: #325179;">
                                        SysNo
                                      </div>
                            </div>
        </div>
        <div class="container" id="hs2Table" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
            <% for(var i=0; i<hs2.length; i++){ %>
                <div  class="row hs2Row ">
                <div class="col-md-4 " style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= hs2[i].Id %></div>
                <div class="col-md-4 " style="text-align: center;padding: 2px;border-bottom: solid;color: #325179;font-size: small;"><%= hs2[i].Ad.toUpperCase() +" "+hs2[i].Soyad.toUpperCase() %></div>
                <div class="col-md-4 hs2Id" style="padding: 2px;text-align: center;border-bottom: solid;color: #325179;font-size: small;"><%= hs2[i].SysTakipNO %></div></div>
             <%} %>
                               
       </div>
       <div class="container" style="margin-top: 2%;">
                <div class="row">
                                      
                                        <div class="col-md-4">
                                                    <button id="silhs2Btn" type="button" class="btn btn-block btn-lg" style="background-color: #325179;color: white;border-radius: 8px;font-size: 1rem;padding: 3px;">Sil</button>
                                    </div>   
                 </div>                                   
        </div>
</div>
</div>  

<script>
    var sekme="Kilo";
    $( "#veriPaketSilSekme").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","rgb(64, 179, 197)");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".ıslemTab").css("display","none");
        $("#vpSekme").css("display","");
    }
    
    });
    $( "#hizmetSilSekme").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","rgb(64, 179, 197)");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".ıslemTab").css("display","none");
        $("#hsSekme").css("display","");
    }
    });
    $( "#hastaKayitSilSekme").click(function() {
    if($(this).hasClass("selected")){
    
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","rgb(64, 179, 197)");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".ıslemTab").css("display","none");
        $("#hs2Sekme").css("display","");
    }
    });

    $(document).ready(function () { 
    
$("#vpInput").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#vpTable").children(".vpRow").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
});
});

vpId=''
vpRow=''
$( ".vpRow").click(function() {
    $( ".vpRow").css("background-color","white");
    $(this).css("background-color","yellow");  
    vpId = $( this).children(".vpId").text();
    vpRow=$(this)
});
$( "#silVpBtn").click(function() {
    if(vpId!=''){
        console.log(vpId)
                $.ajax({
                            type: "POST",
                            url: '/ayarlar/vpSil',
                            data: {vpId:vpId}, // serializes the form's elements.
                            success: function(data)
                            {
                                if(data)
                                {
                                         alert('Seçtiğiniz İşlem Silinmiştir.')       
                                          vpRow.remove()       
                                }                                               
                            }
                });
    }
    else alert('Silmek için bir işlem seçilmelidir.')
               

  
});
//hs2 sekme
$(document).ready(function () { 
    
    $("#hs2Input").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#hs2Table").children(".hs2Row").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });
    
    hs2Id=''
    hs2Row=''
    $( ".hs2Row").click(function() {
        $( ".hs2Row").css("background-color","white");
        $(this).css("background-color","yellow");  
        hs2Id = $( this).children(".hs2Id").text();
        hs2Row=$(this)
    });
    $( "#silhs2Btn").click(function() {
        if(hs2Id!=''){
                    $.ajax({
                                type: "POST",
                                url: '/ayarlar/hs2Sil',
                                data: {hs2Id:hs2Id}, // serializes the form's elements.
                                success: function(data)
                                {
                                    if(data)
                                    {
                                             alert('Seçtiğiniz Hasta Silinmiştir.')       
                                             hs2Row.remove()       
                                    }                                               
                                }
                    });
        }
        else alert('Silmek için bir hasta seçilmelidir.')
                   
    
      
    });
//******************
</script>
